{% macro render(args) %}
<div class="law-awards-section law-section-padding">
  <div class="container">
    <div class="law-section-title" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
      <h2>My Education & Awards</h2>
      <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat. Nulla in mi malesuada, luctus nibh quis,
        rutrum arcu.</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="law-awards-wrap">
          <div class="law-awards-item left-awards" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
            <a href="#" class="law-awards-thumb">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.25 35H33.75" stroke="#1777E5" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M17.5003 21.25L14.719 8.28125C14.6025 7.7344 14.6098 7.16843 14.7403 6.62475C14.8708 6.08107 15.1212 5.57346 15.4732 5.13906C15.8252 4.70466 16.2699 4.35448 16.7748 4.11414C17.2796 3.8738 17.8318 3.74938 18.3909 3.75H21.6096C22.1687 3.74938 22.7209 3.8738 23.2258 4.11414C23.7306 4.35448 24.1753 4.70466 24.5273 5.13906C24.8793 5.57346 25.1297 6.08107 25.2602 6.62475C25.3907 7.16843 25.398 7.7344 25.2815 8.28125L22.5003 21.25"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M32.5 21.25H7.5C6.80964 21.25 6.25 21.8096 6.25 22.5V28.75C6.25 29.4404 6.80964 30 7.5 30H32.5C33.1904 30 33.75 29.4404 33.75 28.75V22.5C33.75 21.8096 33.1904 21.25 32.5 21.25Z"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </a>
            <div class="law-awards-data">
              <ul>
                <li>2016 to 2021</li>
                <li>University of Oxford</li>
              </ul>
              <h4> <a href="#">Bachelor of Laws (LLB)</a> </h4>
              <p>Mauris efficitur, felis eu commodo vehicula, arcu nunc vehicula nulla, at commodo tortor ligula id
                sapien.</p>
            </div>
          </div>
          <div class="law-awards-item left-awards" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
            <a href="#" class="law-awards-thumb">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M33.75 11.25H6.25C5.55964 11.25 5 11.8096 5 12.5V31.25C5 31.9404 5.55964 32.5 6.25 32.5H33.75C34.4404 32.5 35 31.9404 35 31.25V12.5C35 11.8096 34.4404 11.25 33.75 11.25Z"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.5 3.75L20 11.25L27.5 3.75" stroke="#1777E5" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path class="fill"
                  d="M30.25 18.125C30.25 18.6082 29.8582 19 29.375 19C28.8918 19 28.5 18.6082 28.5 18.125C28.5 17.6418 28.8918 17.25 29.375 17.25C29.8582 17.25 30.25 17.6418 30.25 18.125Z"
                  fill="#1777E5" stroke="#1777E5" stroke-width="2" />
                <path
                  d="M29.375 27.5C30.4105 27.5 31.25 26.6605 31.25 25.625C31.25 24.5895 30.4105 23.75 29.375 23.75C28.3395 23.75 27.5 24.5895 27.5 25.625C27.5 26.6605 28.3395 27.5 29.375 27.5Z"
                  fill="#1777E5" />
                <path d="M23.75 32.5V11.25" stroke="#1777E5" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
            <div class="law-awards-data">
              <ul>
                <li>2016 to 2021</li>
                <li>University of Oxford</li>
              </ul>
              <h4> <a href="">Bachelor of Science and Engineering</a> </h4>
              <p>Donec ut ex eu libero euismod dapibus id quis ipsum. Phasellus non feugiat turpis, non gravida. </p>
            </div>
          </div>
          <div class="law-awards-item left-awards" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
            <a href="" class="law-awards-thumb">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.75 8.75V17.3594C8.75 23.5625 13.7187 28.7031 19.9219 28.75C21.4058 28.7603 22.8771 28.4769 24.2511 27.9162C25.625 27.3554 26.8744 26.5284 27.9274 25.4827C28.9803 24.437 29.816 23.1933 30.3862 21.8233C30.9565 20.4533 31.25 18.984 31.25 17.5V8.75C31.25 8.41848 31.1183 8.10054 30.8839 7.86612C30.6495 7.6317 30.3315 7.5 30 7.5H10C9.66848 7.5 9.35054 7.6317 9.11612 7.86612C8.8817 8.10054 8.75 8.41848 8.75 8.75Z"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 35H25" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20 28.75V35" stroke="#1777E5" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M30.9688 20H32.5C33.8261 20 35.0979 19.4732 36.0355 18.5355C36.9732 17.5979 37.5 16.3261 37.5 15V12.5C37.5 12.1685 37.3683 11.8505 37.1339 11.6161C36.8995 11.3817 36.5815 11.25 36.25 11.25H31.25"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M9.0625 20H7.48438C6.15829 20 4.88652 19.4732 3.94884 18.5355C3.01116 17.5979 2.48438 16.3261 2.48438 15V12.5C2.48438 12.1685 2.61607 11.8505 2.85049 11.6161C3.08491 11.3817 3.40285 11.25 3.73438 11.25H8.73438"
                  stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>

            </a>
            <div class="law-awards-data">
              <ul>
                <li>2016 to 2021</li>
                <li>University of Oxford</li>
              </ul>
              <h4> <a href="#">Bachelor of Communication</a> </h4>
              <p>Donec ut ex eu libero euismod dapibus id quis ipsum. Phasellus non feugiat turpis, non gravida. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="law-awards-wrap">
          <div class="law-awards-item right-awards" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
            <a href="#" class="law-awards-thumb">
              <img src="./image/lawyer/award1.png" alt="">
            </a>
            <div class="law-awards-data">
              <ul>
                <li>2016 to 2021</li>
                <li>University of Oxford</li>
              </ul>
              <h4> <a href="">Bachelor of Science and Engineering</a> </h4>
              <p>Donec ut ex eu libero euismod dapibus id quis ipsum. Phasellus non feugiat turpis, non gravida. </p>
            </div>
          </div>
          <div class="law-awards-item right-awards" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
            <a href="" class="law-awards-thumb">
              <img src="./image/lawyer/award2.png" alt="">
            </a>
            <div class="law-awards-data">
              <ul>
                <li>2016 to 2021</li>
                <li>University of Oxford</li>
              </ul>
              <h4> <a href="#">Bachelor of Communication</a> </h4>
              <p>Donec ut ex eu libero euismod dapibus id quis ipsum. Phasellus non feugiat turpis, non gravida. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
