{% macro render(args) %}
<div class="law-blog-section law-section-padding">
  <div class="container">
    <div class="law-section-title text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
      <h2>Blog & News</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="law-blog-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
          <a href="#" class="law-blog-thumb">
            <img src="./image/lawyer/blog1.jpg" alt="">
          </a>
          <div class="law-blog-data">
            <ul>
              <li>22 Oct, 2020</li>
              <li>/</li>
              <li>246 Comments</li>
            </ul>
            <h4><a href="#">Duis magna risus, convallis vel purus eu, sollicitudin volutpat velit.</a></h4>
            <p>Maecenas blandit auctor tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
            <a class="law-icon-blue-btn" href="#">
              Read more
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="law-blog-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
          <a href="#" class="law-blog-thumb">
            <img src="./image/lawyer/blog2.jpg" alt="">
          </a>
          <div class="law-blog-data">
            <ul>
              <li>22 Oct, 2020</li>
              <li>/</li>
              <li>246 Comments</li>
            </ul>
            <h4><a href="#">Donec ut ex eu libero euismod dapibus id quis ipsum. </a></h4>
            <p>Phasellus non feugiat turpis, non gravida lorem. Nulla fermentum odio in dolor dapibus, ac eleifend
              lectus ullamcorper. </p>
            <a class="law-icon-blue-btn" href="#">
              Read more
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="law-blog-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
          <a href="#" class="law-blog-thumb">
            <img src="./image/lawyer/blog3.jpg" alt="">
          </a>
          <div class="law-blog-data">
            <ul>
              <li>22 Oct, 2020</li>
              <li>/</li>
              <li>246 Comments</li>
            </ul>
            <h4><a href="#">Maecenas congue cursus metus eget bibendum phasellus dign.</a></h4>
            <p>Praesent semper enim at lacus sagittis, non semper eros ullamcorper. Duis id elemtum nisl, eu tincidunt
              nisl.</p>
            <a class="law-icon-blue-btn" href="#">
              Read more
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
