{% macro render(args) %}
<div class="law-client-section law-section-padding">
  <div class="container">
    <h3>I helped <span>280+ peoples</span> to win their fair and they are happy 😀.</h3>
    <div class="flc-client-slider">
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/dribbble.png" alt="dribble" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/microsoft.png" alt="microsoft" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/sophify.png" alt="sophify" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/medium.png" alt="medium" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/tumbler.png" alt="tumbler" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/google.png" alt="google" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/dribbble.png" alt="dribble" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/microsoft.png" alt="microsoft" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/sophify.png" alt="sophify" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/medium.png" alt="medium" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/tumbler.png" alt="tumbler" class="mx-100">
        </a>
      </div>
      <div class="law-client-slider-item">
        <a href="#">
          <img src="./image/lawyer/brands/google.png" alt="google" class="mx-100">
        </a>
      </div>


    </div>
  </div>
</div>
{% endmacro %}
