{% macro render(args) %}
  <div class="law-contact-section law-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <div class="law-contact-content">
                <h2>Are you facing any problem, Book an appointment!</h2>
                <p>Aliquam neque diam, tincidunt a lacinia quis, imperdiet quis quam. Phasellus id libero purus. Fusce vestibulum luctus ve.</p>
                <div class="law-contact-info-wrap">
                    <a href="#" class="law-contact-info-item">
                        <div class="law-contact-info-icon">
                            <img src="./image/lawyer/svg/Envelope.svg" class="make-it-inline">
                        </div>
                        <div class="law-contact-info-data">
                            <h4>Chat with me</h4>
                            <p>kevin.gilbert.com</p>
                        </div>
                    </a>
                    <a href="#" class="law-contact-info-item">
                        <div class="law-contact-info-icon">
                            <img src="./image/lawyer/svg/PhoneCall.svg" class="make-it-inline">
                        </div>
                        <div class="law-contact-info-data">
                            <h4>Call Me</h4>
                            <p>1 202 555 0190</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="law-contact-form">
                <h4>Book Appointment With Me.</h4>
                <p>Do you fancy saying hi to me or do you want to get started with your project and you need my help? Feel free to contact me. I will reply within 48 hours.</p>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Adrees">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input id="datepicker" class="form-control" placeholder="Date" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <select name="#" id="#">
                                    <option data-display="Pricing Plans" value="1">Time</option>
                                    <option value="2">$100</option>
                                    <option value="3">$100</option>
                                    <option value="4">$100</option>
                                    <option value="5">$100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <textarea name="#" class="form-control" placeholder="Message" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="law-default-btn icon-right form-btn" type="button">
                                Book appointment
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
