{% macro render(args) %}
  <div class="law-experiences-section">
    <div class="container">
      <div class="law-section-title">
        <h2>My Experiences</h2>
        <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat, Nulla in mi malesuada.</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="law-video-thumb">
            <img src="./image/lawyer/video-thumb.jpg" alt="">
            <a  data-fancybox class="law-video-play-btn" href="https://www.youtube.com/watch?v=AC1cREPIw_o&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
              <img src="./image/lawyer/svg/Play.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="law-experiences-data-wrap">
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>Supreme & High Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Head Laywer of Google and Apple</h3>
                    <p>Duis magna risus, convallis vel purus eu, sollicitudin volutpat velit. Duis fringilla nibh urna, quis rutrum nisl hendrerit quis. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>High Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Criminal Defense Lawyer</h3>
                    <p>Duis magna risus, convallis vel purus eu, sollicitudin volutpat velit. Duis fringilla nibh urna, quis rutrum nisl hendrerit quis. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>District Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Divorce Lawyer</h3>
                    <p>Vestibulum placerat at ligula id sollicitudin. Aenean vitae erat nec enim congue pretium. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
