{% macro render(args) %}
  <div class="law-experiences-section">
    <div class="container">
      <div class="law-section-title" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
        <h2>My Experiences</h2>
        <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat, Nulla in mi malesuada.</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="law-video-thumb" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
            <img src="./image/lawyer/video-thumb.jpg" alt="">
            <div class="law-video-play-btn">
            <a data-fancybox="" class="d-video-btn sonar-emitter" href="https://www.youtube.com/watch?v=G5RpJwCJDqc&amp;ab_channel=8KWorld">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3844 11.3624L7.89375 3.11241C7.78018 3.04235 7.64998 3.00387 7.51658 3.00092C7.38318 2.99797 7.25141 3.03066 7.13486 3.09562C7.0183 3.16059 6.92119 3.25547 6.85354 3.37048C6.78589 3.48549 6.75015 3.61647 6.75 3.74991V20.2499C6.75015 20.3833 6.78589 20.5143 6.85354 20.6293C6.92119 20.7443 7.0183 20.8392 7.13486 20.9042C7.25141 20.9692 7.38318 21.0018 7.51658 20.9989C7.64998 20.9959 7.78018 20.9575 7.89375 20.8874L21.3844 12.6374C21.4952 12.5719 21.5869 12.4787 21.6507 12.3669C21.7145 12.2551 21.748 12.1286 21.748 11.9999C21.748 11.8712 21.7145 11.7447 21.6507 11.6329C21.5869 11.5212 21.4952 11.4279 21.3844 11.3624V11.3624Z" fill="#1777E5" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="law-experiences-data-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>Supreme & High Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Head Laywer of Google and Apple</h3>
                    <p>Duis magna risus, convallis vel purus eu, sollicitudin volutpat velit. Duis fringilla nibh urna, quis rutrum nisl hendrerit quis. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>High Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Criminal Defense Lawyer</h3>
                    <p>Duis magna risus, convallis vel purus eu, sollicitudin volutpat velit. Duis fringilla nibh urna, quis rutrum nisl hendrerit quis. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="law-experiences-data-item">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <div class="law-experiences-data-left">
                    <h4>District Court</h4>
                    <p>Jan, 2016 to Jan, 2021</p>
                  </div>
                </div>
                <div class="col-lg-8 col-md-9">
                  <div class="law-experiences-data-right">
                    <h3>Divorce Lawyer</h3>
                    <p>Vestibulum placerat at ligula id sollicitudin. Aenean vitae erat nec enim congue pretium. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
