{% macro render(args) %}
<div class="law-testimonial-section law-section-padding">
    <div class="container">
        <div class="law-section-title" data-aos="fade-down" data-aos-duration="1000" data-aos-once="false">
            <h2>My clients feedback</h2>
            <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat. Nulla in mi malesuada, luctus nibh
                quis,
                rutrum arcu.</p>
        </div>
        <div class="law-testimonial-section__slider position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10">
                    <div class="law-testimonial-slider">
                        <div class="law-testimonial-slider-item" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-once="false">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.9 8.7499C11.825 12.6499 8.875 16.6749 8.875 23.3999C9.275 23.2749 9.625 23.2749 9.975 23.2749C13.15 23.2749 16.225 25.4249 16.225 29.2999C16.225 33.3249 13.65 35.8249 9.975 35.8249C5.225 35.8249 2.5 32.0249 2.5 25.1999C2.5 15.6999 6.875 8.8749 15.05 4.1499L17.9 8.7499ZM35.4 8.7499C29.325 12.6499 26.375 16.6749 26.375 23.3999C26.775 23.2749 27.125 23.2749 27.475 23.2749C30.65 23.2749 33.725 25.4249 33.725 29.2999C33.725 33.3249 31.15 35.8249 27.475 35.8249C22.75 35.8249 20.025 32.0249 20.025 25.1999C20.025 15.6999 24.4 8.8749 32.575 4.1499L35.425 8.7499H35.4Z"
                                    fill="#1777E5" />
                            </svg>
                            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc
                                eros. Etiam et nisi in
                                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam
                                non erat aliquam,
                                lacinia nis.”</p>
                            <div class="law-testimonial-user">
                                <span>Cameron Williamson</span>
                                <p>Ceo & Founder of Google</p>
                            </div>
                        </div>
                        <div class="law-testimonial-slider-item">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.9 8.7499C11.825 12.6499 8.875 16.6749 8.875 23.3999C9.275 23.2749 9.625 23.2749 9.975 23.2749C13.15 23.2749 16.225 25.4249 16.225 29.2999C16.225 33.3249 13.65 35.8249 9.975 35.8249C5.225 35.8249 2.5 32.0249 2.5 25.1999C2.5 15.6999 6.875 8.8749 15.05 4.1499L17.9 8.7499ZM35.4 8.7499C29.325 12.6499 26.375 16.6749 26.375 23.3999C26.775 23.2749 27.125 23.2749 27.475 23.2749C30.65 23.2749 33.725 25.4249 33.725 29.2999C33.725 33.3249 31.15 35.8249 27.475 35.8249C22.75 35.8249 20.025 32.0249 20.025 25.1999C20.025 15.6999 24.4 8.8749 32.575 4.1499L35.425 8.7499H35.4Z"
                                    fill="#1777E5" />
                            </svg>
                            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc
                                eros. Etiam et nisi in
                                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam
                                non erat aliquam,
                                lacinia nis.”</p>
                            <div class="law-testimonial-user">
                                <span>Cameron Williamson</span>
                                <p>Ceo & Founder of Google</p>
                            </div>
                        </div>
                        <div class="law-testimonial-slider-item">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.9 8.7499C11.825 12.6499 8.875 16.6749 8.875 23.3999C9.275 23.2749 9.625 23.2749 9.975 23.2749C13.15 23.2749 16.225 25.4249 16.225 29.2999C16.225 33.3249 13.65 35.8249 9.975 35.8249C5.225 35.8249 2.5 32.0249 2.5 25.1999C2.5 15.6999 6.875 8.8749 15.05 4.1499L17.9 8.7499ZM35.4 8.7499C29.325 12.6499 26.375 16.6749 26.375 23.3999C26.775 23.2749 27.125 23.2749 27.475 23.2749C30.65 23.2749 33.725 25.4249 33.725 29.2999C33.725 33.3249 31.15 35.8249 27.475 35.8249C22.75 35.8249 20.025 32.0249 20.025 25.1999C20.025 15.6999 24.4 8.8749 32.575 4.1499L35.425 8.7499H35.4Z"
                                    fill="#1777E5" />
                            </svg>
                            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc
                                eros. Etiam et nisi in
                                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam
                                non erat aliquam,
                                lacinia nis.”</p>
                            <div class="law-testimonial-user">
                                <span>Cameron Williamson</span>
                                <p>Ceo & Founder of Google</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="law-testimonial-slider__control-buttons">
                <button class="button button--prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.25 12H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>
                <button class="button button--next">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</div>
{% endmacro %}
