{% macro render(args) %}
  <div class="flc-about-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 order-xl-2">
          <div class="flc-about-thumb">
            <img src="./image/about-thumb.png" alt="">
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 order-xl-1">
          <div class="about-content-wrap">
            <div class="about-contnet">
              <h4>Biography</h4>
              <p>Vestibulum tempor enim metus, quis tempor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae, molestie vestibulum quam. </p>
            </div>
            <div class="about-contnet">
              <h4>My Services</h4>
              <ul>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
                <li>Usability Testing</li>
              </ul>
            </div>
            <div class="about-contnet">
              <h4>My Locations</h4>
              <p>4517 San Francisco Ave. Manchester, Kentucky 39495, Los Angeles,  California, United States.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 order-xl-3">
          <div class="flc-counter-wrap">
            <div class="flc-counter-item">
              <div class="flc-counter-data">
                <h2><span class="counter">19</span>+</h2>
                <p>YEARS OF EXPERIENCE</p>
              </div>
              <div class="flc-counter-thumb">
                <img src="./image/svg/Stack.svg" alt="thumb">
              </div>
            </div>
            <div class="flc-counter-item">
              <div class="flc-counter-data">
                <h2><span class="counter">514</span>+</h2>
                <p>COMPLETED PROJECTS</p>
              </div>
              <div class="flc-counter-thumb">
                <img src="./image/svg/Briefcase.svg" alt="thumb">
              </div>
            </div>
            <div class="flc-counter-item">
              <div class="flc-counter-data">
                <h2><span class="counter">494</span>+</h2>
                <p>HAPPY CLIENTS</p>
              </div>
              <div class="flc-counter-thumb">
                <img src="./image/svg/SmileyWink.svg" alt="thumb">
              </div>
            </div>
            <div class="flc-counter-item">
              <div class="flc-counter-data">
                <h2><span class="counter">52</span>+</h2>
                <p>AWARDS WINNERS</p>
              </div>
              <div class="flc-counter-thumb">
                <img src="./image/svg/Medal.svg" alt="thumb">
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endmacro %}
