{% macro render(args) %}
  <div class="flc-case-study-section">
    <div class="container">
     <div class="section-title left" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
        <h2>Recent case study</h2>
        <p>These are a selection of my recent works. Nunc aliquam luctus tortor, id lobortis massa tincidunt ut. Duis luctus posuere risus, et gravida tortor.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case1.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case6.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case3.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case4.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case5.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-case-study-item">
            <div class="flc-case-study-thumb">
              <img src="./image/case6.jpg" alt="">
              <div class="flc-case-study-data">
                <ul>
                  <li>UI DESIGN</li>
                  <li>BRAND IDENTITY</li>
                </ul>
                <h4>Relik - Admin Dashboard</h4>
                <p>Vivamus eleifend convallis ante, non pharetra libero molestie laoreet. Donec id imperdiet lacus. Quisque erat ex, varius eget velit feugiat.</p>
                <a class="icon-btn-white" href="">
                  View Case Study
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endmacro %}
