{% macro render(args) %}
  <div class="flc-client-section section-padding">
    <div class="container">
      <h3>My clients all over the world</h3>
      <div class="flc-client-slider">
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/dribbble.png" alt="dribble" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/microsoft.png" alt="microsoft" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/sophify.png" alt="sophify" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/medium.png" alt="medium" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/tumbler.png" alt="tumbler" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/google.png" alt="google" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/dribbble.png" alt="dribble" class="mx-100">

          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/microsoft.png" alt="microsoft" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/sophify.png" alt="sophify" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/medium.png" alt="medium" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/tumbler.png" alt="tumbler" class="mx-100">
          </a>
        </div>
        <div class="flc-client-slider-item">
          <a href="">
            <img  src="./image/l-2/brands/google.png" alt="google" class="mx-100">
          </a>
        </div>
        
      
        
      </div>
    </div>
  </div>
{% endmacro %}
