{% macro render(args) %}
  <div class="flc-hero-section">
    <div class="container">
      <div class="flc-hero-content">
        <h1>Hey, It’s Marvin Richard. UI/UX & Product Designer Based on Los Angeles.</h1>
        <a href="#about">
          <div class="flc-scroll-down">
              Scroll down
              <img class="make-it-inline" src="./image/svg/ArrowDown.svg">
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}
