{% macro render(args) %}
  <div class="flc-service-section section-padding">
    <div class="container">
     <div class="section-title">
        <h2>My services</h2>
        <p>Vestibulum tempor enim metus, quis tempor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae, molestie vestibulum quam. </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="flc-service-item">
            <div class="flc-service-thumb">
              <img src="./image/service01.png" alt="">
            </div>
            <div class="flc-service-data">
              <h4> Product Design</h4>
              <p>Maecenas bibendum libero eu urna aliquet contum. In eu urna risus. Nam urna nibh, tempor a orci porttitor, interdum arcu.</p>
              <a class="icon-btn" href="">Read More <img src="./image/svg/ArrowRight.svg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="flc-service-item">
            <div class="flc-service-thumb">
              <img src="./image/service02.png" alt="">
            </div>
            <div class="flc-service-data">
              <h4>User Experience Design</h4>
              <p>Maecenas bibendum libero eu urna aliquet contum. In eu urna risus. Nam urna nibh, tempor a orci porttitor, interdum arcu.</p>
              <a class="icon-btn" href="">Read More <img src="./image/svg/ArrowRight.svg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
          <div class="flc-service-item">
            <div class="flc-service-thumb">
              <img src="./image/service03.png" alt="">
            </div>
            <div class="flc-service-data">
              <h4>User Interface Design</h4>
              <p>Maecenas bibendum libero eu urna aliquet contum. In eu urna risus. Nam urna nibh, tempor a orci porttitor, interdum arcu.</p>
              <a class="icon-btn" href="">Read More <img src="./image/svg/ArrowRight.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
