{% macro render(args) %}
<div class="flc-testimonial-section section-padding">
  <div class="container">
    <div class="section-title" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false">
      <h2>My clients feedback</h2>
      <p>Vestibulum tempor enim metus, quis tempor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae,
        molestie vestibulum quam. </p>
    </div>
    <div class="flc-testimonial-section__slider">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9 col-md-10">
          <div class="flc-testimonial-slider">
            <div class="flc-testimonial-slider-item">
              <img src="./image/svg/Quote.svg" alt="">
              <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et
                nisi in
                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat
                aliquam,
                lacinia nis.”</p>
              <div class="flc-testimonial-user">
                <span>Cameron Williamson</span>
                <p>Ceo & Founder of Google</p>
              </div>
            </div>
            <div class="flc-testimonial-slider-item">
              <img src="./image/svg/Quote.svg" alt="">
              <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et
                nisi in
                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat
                aliquam,
                lacinia nis.”</p>
              <div class="flc-testimonial-user">
                <span>Cameron Williamson</span>
                <p>Ceo & Founder of Google</p>
              </div>
            </div>
            <div class="flc-testimonial-slider-item">
              <img src="./image/svg/Quote.svg" alt="">
              <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et
                nisi in
                diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat
                aliquam,
                lacinia nis.”</p>
              <div class="flc-testimonial-user">
                <span>Cameron Williamson</span>
                <p>Ceo & Founder of Google</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flc-testimonial-slider__control-buttons">
        <button class="button button--prev">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.25 12H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

        </button>
        <button class="button button--next">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

        </button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
