.ui-cta-area{
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 11;
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 80px 0;
    }
        @media (min-width:992px) {
        padding: 100px 0;
        
    }
        @media (min-width:1200px) {
        padding: 120px 0;
        
    }
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;height: 100%;
        content: "";
        background: var(--bs-bg-ui-linear-gradient-6);
        z-index: -1;
    }
    .ui-section-title{
        a{
            margin-top: 25px;
            @media (min-width:992px) {
                margin-top: 40px;
            }
        }
        .title{
            color: var(--bs-white) !important;
        }
        .text{
            color: var(--bs-white) !important;
        }
    }
}
