{% macro render(args) %}
    <div class="doctor-award-area">
        <div class="container">
            <div class="doctor-section-title">
                <h2 class="title">My Qualification & Awards</h2>
                <span class="line"></span>
                <p class="text">Mauris porttitor eleifend odio, id venenatis orci ornare ac. Nullam <br class="d-none d-lg-block"> id convallis nisl. Sed ullamcorper lacinia suscipit. </p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="doctor-award-area__education pr-xxl-30">
                        <div class="doctor-experience-card">
                            <div class="content-title">
                                <h6>Oxford University</h6>
                                <span>Jan, 2016 to Jan, 2021</span>
                            </div>
                            <div class="content">
                                <h4>Bachelor of Medicine & Bachelor of Surgery (MBBS)</h4>
                                <p>Donec ut imperdiet augue, ac rhoncus arcu. In ac mauris commodo, ultrices felis vitae, tempor eros.</p>
                            </div>
                        </div>
                        <div class="doctor-experience-card">
                            <div class="content-title">
                                <h6>Oxford University</h6>
                                <span>Jan, 2016 to Jan, 2021</span>
                            </div>
                            <div class="content">
                                <h4>Bachelor of Social Science</h4>
                                <p>Integer vel nulla condimentum, tempor risus eu, blandit urna. Quisque fringilla ex in urna pretium.</p>
                            </div>
                        </div>
                        <div class="doctor-experience-card">
                            <div class="content-title">
                                <h6>Oxford University</h6>
                                <span>Jan, 2016 to Jan, 2021</span>
                            </div>
                            <div class="content">
                                <h4>Bachelor of Science and Engineering</h4>
                                <p>Proin varius diam vitae neque ornare ullamcorper..</p>
                            </div>
                        </div>
                        <div class="doctor-experience-card">
                            <div class="content-title">
                                <h6>University of Cambridge</h6>
                                <span>Jan, 2016 to Jan, 2021</span>
                            </div>
                            <div class="content">
                                <h4>Bachelor of Communication</h4>
                                <p>Proin varius diam vitae neque ornare ullamcorper. Maecenas vehicula sem eu dui molestie aliquam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row align-items-center doctor-card-row">
                        <div class="col-sm-6">
                            <div class="row doctor-card-row">
                                <div class="col-12">
                                    <div class="doctor-award-card">
                                        <div class="count">
                                            <span>01</span>
                                        </div>
                                        <div class="content">
                                            <h6>Lasker Award</h6>
                                            <p>Donec ut imperdiet augue, ac rhoncus arcu. In ac mauris commodo.</p>
                                        </div>
                                        <img src="./image/l-5/award-1.png" alt="award" class="mw-100">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-award-card">
                                        <div class="count">
                                            <span>02</span>
                                        </div>
                                        <div class="content">
                                            <h6>Maxwell Finland Award</h6>
                                            <p>Donec ut imperdiet augue, ac rhoncus arcu. In ac mauris commodo.</p>
                                        </div>
                                        <img src="./image/l-5/award-2.png" alt="award" class="mw-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row doctor-card-row">
                                <div class="col-12">
                                    <div class="doctor-award-card">
                                        <div class="count">
                                            <span>03</span>
                                        </div>
                                        <div class="content">
                                            <h6>John Howland Award</h6>
                                            <p>Donec ut imperdiet augue, ac rhoncus arcu. In ac mauris commodo.</p>
                                        </div>
                                        <img src="./image/l-5/award-3.png" alt="award" class="mw-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
