{% macro render(args) %}
    <div class="doctor-event-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-9 col-lg-8">
                    <div class="doctor-section-title">
                        <h2 class="title">Latest Event & Show</h2>
                        <p class="text pr-xxl-88">Donec suscipit dictum risus sed dignissim. Fusce ex leo, lobortis sed ullamcorper in, rutrum eu enim.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 ms-auto col-md-3 d-none d-md-block">
                    <div class="doctor-event-slider__control-buttons">
                        <button class="button button--prev">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.25 12H3.75" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="button button--next">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="doctor-event-area__slider">
                <div class="doctor-event-slider">
                    <div class="single-slider">
                        <div class="doctor-event-card">
                            <div class="event-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>8 Sep,2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 9.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 12.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0344 18.3656L12.6469 20.6813C12.5789 20.7918 12.4838 20.883 12.3705 20.9463C12.2573 21.0096 12.1297 21.0429 12 21.0429C11.8703 21.0429 11.7427 21.0096 11.6295 20.9463C11.5162 20.883 11.4211 20.7918 11.3531 20.6813L9.96563 18.3656C9.90037 18.2545 9.80723 18.1623 9.69542 18.0982C9.58362 18.034 9.45701 18.0002 9.32812 18H3.75C3.55109 18 3.36032 17.921 3.21967 17.7803C3.07902 17.6397 3 17.4489 3 17.25V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V17.25C21 17.4489 20.921 17.6397 20.7803 17.7803C20.6397 17.921 20.4489 18 20.25 18H14.6719C14.543 18.0002 14.4164 18.034 14.3046 18.0982C14.1928 18.1623 14.0996 18.2545 14.0344 18.3656V18.3656Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>125 Comments</span>
                                </p>
                            </div>
                            <div class="event-content">
                                <h2 class="title">BMA Events</h2>
                                <p class="text">Quisque vitae ante dolor. Duis vehicula purus eget libero interdum ornare. Vestibulum ut risus nec odio rhoncus malesuada. Duis lobortis consectetur magna, in faucibus mauris congue tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="doctor-event-card">
                            <div class="event-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>8 Sep,2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 9.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 12.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0344 18.3656L12.6469 20.6813C12.5789 20.7918 12.4838 20.883 12.3705 20.9463C12.2573 21.0096 12.1297 21.0429 12 21.0429C11.8703 21.0429 11.7427 21.0096 11.6295 20.9463C11.5162 20.883 11.4211 20.7918 11.3531 20.6813L9.96563 18.3656C9.90037 18.2545 9.80723 18.1623 9.69542 18.0982C9.58362 18.034 9.45701 18.0002 9.32812 18H3.75C3.55109 18 3.36032 17.921 3.21967 17.7803C3.07902 17.6397 3 17.4489 3 17.25V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V17.25C21 17.4489 20.921 17.6397 20.7803 17.7803C20.6397 17.921 20.4489 18 20.25 18H14.6719C14.543 18.0002 14.4164 18.034 14.3046 18.0982C14.1928 18.1623 14.0996 18.2545 14.0344 18.3656V18.3656Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>125 Comments</span>
                                </p>
                            </div>
                            <div class="event-content">
                                <h2 class="title">CESR seminar for SAS grade doctors</h2>
                                <p class="text">Quisque vitae ante dolor. Duis vehicula purus eget libero interdum ornare. Vestibulum ut risus nec odio rhoncus malesuada. Duis lobortis consectetur magna, in faucibus mauris congue tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="doctor-event-card">
                            <div class="event-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>8 Sep,2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 9.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 12.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0344 18.3656L12.6469 20.6813C12.5789 20.7918 12.4838 20.883 12.3705 20.9463C12.2573 21.0096 12.1297 21.0429 12 21.0429C11.8703 21.0429 11.7427 21.0096 11.6295 20.9463C11.5162 20.883 11.4211 20.7918 11.3531 20.6813L9.96563 18.3656C9.90037 18.2545 9.80723 18.1623 9.69542 18.0982C9.58362 18.034 9.45701 18.0002 9.32812 18H3.75C3.55109 18 3.36032 17.921 3.21967 17.7803C3.07902 17.6397 3 17.4489 3 17.25V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V17.25C21 17.4489 20.921 17.6397 20.7803 17.7803C20.6397 17.921 20.4489 18 20.25 18H14.6719C14.543 18.0002 14.4164 18.034 14.3046 18.0982C14.1928 18.1623 14.0996 18.2545 14.0344 18.3656V18.3656Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>125 Comments</span>
                                </p>
                            </div>
                            <div class="event-content">
                                <h2 class="title">BMA Events</h2>
                                <p class="text">Quisque vitae ante dolor. Duis vehicula purus eget libero interdum ornare. Vestibulum ut risus nec odio rhoncus malesuada. Duis lobortis consectetur magna, in faucibus mauris congue tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="doctor-event-card">
                            <div class="event-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>8 Sep,2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 9.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 12.75H15" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.0344 18.3656L12.6469 20.6813C12.5789 20.7918 12.4838 20.883 12.3705 20.9463C12.2573 21.0096 12.1297 21.0429 12 21.0429C11.8703 21.0429 11.7427 21.0096 11.6295 20.9463C11.5162 20.883 11.4211 20.7918 11.3531 20.6813L9.96563 18.3656C9.90037 18.2545 9.80723 18.1623 9.69542 18.0982C9.58362 18.034 9.45701 18.0002 9.32812 18H3.75C3.55109 18 3.36032 17.921 3.21967 17.7803C3.07902 17.6397 3 17.4489 3 17.25V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V17.25C21 17.4489 20.921 17.6397 20.7803 17.7803C20.6397 17.921 20.4489 18 20.25 18H14.6719C14.543 18.0002 14.4164 18.034 14.3046 18.0982C14.1928 18.1623 14.0996 18.2545 14.0344 18.3656V18.3656Z" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>125 Comments</span>
                                </p>
                            </div>
                            <div class="event-content">
                                <h2 class="title">CESR seminar for SAS grade doctors</h2>
                                <p class="text">Quisque vitae ante dolor. Duis vehicula purus eget libero interdum ornare. Vestibulum ut risus nec odio rhoncus malesuada. Duis lobortis consectetur magna, in faucibus mauris congue tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
