{% macro render(args) %}
<div class="doctor-footer-area">
    <div class="container">
        <div class="footer-area-wrapper">
            <div class="row">
                <div class="col-lg-2 col-md-6 doctor-footer">
                    <div class="site-footer__brand">
                        <a href="index.html" class="logo">
                            <span class="text">RALPH <br> EDWARDS.</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-widget-one">
                        <h2 class="widget-title">Location</h2>
                        <div class="widget-content">
                            <p>4517 Washington Ave. <br>Manchester, Kentucky 39495</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-widget-two">
                        <h2 class="widget-title">Quick Links</h2>
                        <div class="widget-content">
                            <ul class="footer-menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">CV</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Articles</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-widget-three">
                        <h2 class="widget-title">Follow me</h2>
                        <div class="widget-content">
                            <ul class="social-link">
                                <li><a href="#" class="media-item"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#" class="media-item"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#" class="media-item"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#" class="media-item"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#" class="media-item"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="#" class="media-item"><i class="fa-brands fa-medium"></i></a></li>
                            </ul>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="text">
                All content © 2006-Current  Winston Potter and respective copyright holders.
            </p>
        </div>
    </div>
</div>
{% endmacro %}
