{% macro render(args) %}
    <div class="doctor-hero-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="doctor-display-title">
                        <h6 class="subtitle">💉 RALPH EDWARDS</h6>
                        <h2 class="title">27+ Years of Neurologists Doctor.</h2>
                        <p class="text">Phasellus blandit, metus sit amet euismod facilisis, ante justo mollis elit, eu suscipit tellus lorem non dolor aliquam faucibus odio tempus nibh.</p>
                        <div class="buttton-group">
                            <a class="dc-btn dc-btn-primary" href="#">Learn about me</a>
                            <a class="dc-btn dc-btn-primary" href="#">Patient Success story</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="doctor-hero-area__iamge-group">
                        <img src="./image/l-5/doctor.png" alt="" class="mw-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
