{% macro render(args) %}
    <div class="doctor-testimonial-area">
        <div class="container">
            <div class="row  justify-content-center align-items-center">
                    <div class="col-md-6 ">
                        <div class="doctor-testimonial-area__review">
                            <h3 class="title">What my college says about me.</h3>
                            <p class="quote">“Life is unpredictable, not everything’s in our control. But as long as you with the right people you can handle anything.”</p>
                            <p class="name">MR. John Wick</p>
                            <p class="designation">Psychiatrist Doctor</p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="doctor-testimonial-area__client">
                            <img class="img-fluid" src="./image/l-5/doctors.png" alt="doctor">
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endmacro %}
