{% macro render(args) %}
    <div class="doctor-testimonial-area">
        <div class="container">
            <div class="row  justify-content-center align-items-center">
                    <div class="col-md-6 ">
                        <div class="doctor-testimonial-area__review">
                            <h3 class="title">What my college says about me.</h3>

                            <div class="doctor-testimonial-slider">
                                <div class="single-slider">
                                    <div class="content">
                                            <p class="qoute">“Life is unpredictable, not everything’s in our control. But as long as you with the right people you can handle anything.”</p>
                                        </div>
                                        <div class="client-info">
                                            <h6 class="name">MR. John Wick</h6>
                                            <p class="designation">Psychiatrist Doctor</p>
                                        </div>
                                </div>
                                <div class="single-slider">
                                    <div class="content">
                                            <p class="qoute">“But as long as you with the right people you can handle anything. Life is unpredictable, not everything’s in our control. ”</p>
                                        </div>
                                        <div class="client-info">
                                            <h6 class="name">Rakibul Islam</h6>
                                            <p class="designation">Medicine Doctor</p>
                                        </div>
                                </div>
                                <div class="single-slider">
                                    <div class="content">
                                            <p class="qoute">“Life is unpredictable, not everything’s in our control. But as long as you with the right people you can handle anything.”</p>
                                        </div>
                                        <div class="client-info">
                                            <h6 class="name">MR. John Wick</h6>
                                            <p class="designation">Psychiatrist Doctor</p>
                                        </div>
                                </div>
                                <div class="single-slider">
                                    <div class="content">
                                            <p class="qoute">“But as long as you with the right people you can handle anything. Life is unpredictable, not everything’s in our control. ”</p>
                                        </div>
                                        <div class="client-info">
                                            <h6 class="name">Rakibul Islam</h6>
                                            <p class="designation">Medicine Doctor</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="doctor-testimonial-area__client">
                            <img class="img-fluid" src="./image/l-5/doctors.png" alt="doctor">
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endmacro %}
