/*********** CSS TABLE OF CONTENTS *******************

|--- 01.Component -> { Header }
|--- 01.Component -> { Menu }
|--- 01.Component -> { Button }
|--- 01.Component -> { Lists }
|--- 01.Component -> { Background }
|--- 01.Component -> { Form }
|--- 01.Component -> { Cards }
|--- 01.Component -> { Modal }
|--- 01.Component -> { Tab }
|--- 01.Component -> { Acccordion }
|--- 01.Component -> { Sidebar }
|--- THEME CUSTOM STYLES

******************************************************/

@use "helpers/typography";
@use "helpers";
@use "components";
@use "pages";

/* ---------------------------------
-------> THEME CUSTOM STYLES 
---------------------------------*/
.templatecookie-btn{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 99999 !important;
  .purchase-btn{
    box-shadow: 0px 0px 3px 0px white !important;
    background-color: rgb(23, 23, 23) !important;
    color: white !important;
    width: max-content !important;
    display: flex !important;
    align-items: center !important;
    padding: 0px 20px !important;
    height: 50px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    animation-name: wave-animation !important; 
    animation-duration: 3.5s !important;
    animation-iteration-count: infinite !important;  
    transform-origin: 70% 70% !important;   
    span{
        svg{
            margin-left: 8px;
            display: block;
            width: 20px;
            height: 18px;
            path{
                stroke: white;
            }
        }
    }
    &:hover{
        animation-name:unset !important;  
    }
  }  
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
}
