.photographer-blog-area{
    box-shadow: inset 0px 1px 0px #E6E8EB;
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 100px 0;
    }
    .photographer-section-title{
        .title{
            font-weight: 400;
            font-size: 36px;
            line-height: 1.22;
            text-align: center;
            color: var(--bs-gray-900);
            margin-bottom: 50px;
        }
        
    }
    .card-blog{
            overflow: hidden;
            position: relative;
            text-align: center;
            img{
                width: 100%;
            }
            .content {
                position: absolute;
                bottom: 0;
                padding: 32px;
                color: white;
                width: 100%;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.7) 22.66%, rgba(0, 0, 0, 0) 56.29%);
                transform: translateY(100%);
                transition: .4s; 
                text-align: left;
                @media(min-width: 1200px){
                    padding: 24px;
                }
                @media(min-width: 1200px){
                    padding: 16px;
                }
                .meta{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.43;
                    color: rgba(255, 255, 255, 0.7);
                }
                .short-desc{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
            &:hover {
                .content {
                    transform: translateY(0%); 
                }
            }
        
    }
}
