{% macro render(args) %}
<div class="ui-award-area">
    <div class="container">
        <div class="ui-section-title text-start">
            <h2 class="title">Honor & Awards</h2>
            <p class="text">Proin a dui ac augue pulvinar malesuada. Quisque ac velit <br> non ligula gravida elementum
                a vel ex.</p>
        </div>
        <div class="row ui-card-row justify-content-center">
            <div class="col-lg-4 col-10 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-1.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>UX Designer Awards 2022</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-10 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-2.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>UI Designer of The Day</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-10 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-3.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>Best UI/UX Designer of May 2021</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
