{% macro render(args) %}
<div class="ui-award-area">
    <div class="container">
        <div class="ui-section-title text-start">
            <h2 class="title">Honor & Awards</h2>
            <p class="text">Proin a dui ac augue pulvinar malesuada. Quisque ac velit <br> non ligula gravida elementum
                a vel ex.</p>
        </div>
        <div class="row ui-card-row justify-content-center">
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-1.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>UX Designer Awards 2022</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-2.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>UI Designer of The Day</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="ui-award-card">
                    <img src="./image/l-2/award-3.png" alt="award" class="mw-100">
                    <div class="content">
                        <h6>Best UI/UX Designer of May 2021</h6>
                        <p>I proudly present all winners and nominees of the first participation call for the UX Design Awards 2022!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-award-area__ellips">
        <svg width="366" height="680" viewBox="0 0 366 680" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.5" filter="url(#filter0_f_1485_7144)">
        <circle cx="472" cy="472" r="324" fill=""/>
        </g>
        <defs>
        <filter id="filter0_f_1485_7144" x="0" y="0" width="944" height="944" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="74" result="effect1_foregroundBlur_1485_7144"/>
        </filter>
        </defs>
        </svg>
    </div>
</div>
{% endmacro %}
