{% macro render(args) %}
    <div class="ui-cta-area" style="background-image: url('./image/l-2/call-to-action.png')">
        <div class="container">
            <div class="row">
                <div class="col-xl-8  col-xxl-7 col-lg-10 col-md-10">
                    <div class="ui-section-title text-start" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                        <h2 class="title text-white">Have a project idea in mind.
                            Get in touch and let's chat!</h2>
                            <p class="text text-white">I am taking on new projects. Waiting to hear about new <br class="d-none d-sm-block">
                                projects, so if you'd like to chat please get in touch.</p>
                                <a href="#" class="ui-btn ui-btn-primary">Let’s Work Together
                                    <svg width="24" class="ms-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
