{% macro render(args) %}
    <div class="position-relative">
        <div class="ui-hero-area">
            <div class="container">
                <div class="row justify-content-center align-items-center align-items-xxl-start">
                    <div class="col-xxl-5 col-lg-7 col-xs-11 col-sm-10">
                        <div class="ui-display-title text-center text-xs-start">
                            <h1 class="title">
                                👋 Hey There, I’m <span>Hano kurōu</span>
                            </h1>
                            <p class="text">Product Designer and UI/UX in Tokyo. I’m specialize in User Experience Design, User Research, Product Design, and User Interface Design.</p>
                            <div class="buttton-group">
                                <a href="#" class="ui-btn ui-btn-primary">View Projects
                                    <svg width="24" class="ms-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                </a>
                                <a href="#" class="ui-btn ui-btn-primary">
                                    <svg width="24" class="me-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.0625 10.3125L12 14.25L15.9375 10.3125" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 3.75V14.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg> 
                                        Download CV                               
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-sm-8 col-9 col-lg-5 offset-xxl-1">
                        <div class="ui-hero-area__image-group">
                            <img src="./image/l-2/me.png" alt="me" class="mw-100">
                            <div class="ui-hero-area__image-group--ellipse">
                                <img src="./image/l-2/ellipse-4.png" alt="ellipse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-hero-area__ellipse-1 position-absolute">
                <img src="./image/l-2/ellipse-1.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-2 position-absolute">
                <img src="./image/l-2/ellipse-2.png" alt="ellipse" class="w-100">
            </div>
            <div class="ui-hero-area__ellipse-3 position-absolute">
                <img src="./image/l-2/ellipse-3.png" alt="ellipse" class="w-100">
            </div>
        </div>
    <div class="ui-logo-area">
        <div class="container">
            <div class="ui-logo-area-title text-center text-md-start">
                <h2 class="title">I work with over 279+ happy <br class="d-none d-xs-block">clients all over the world.</h2>
            </div>
            <div class="row card-row">
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/dribbble.png" alt="dribbble" class="mx-100">
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/microsoft.png" alt="microsoft" class="mx-100">
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/spotify.png" alt="spotify" class="mx-100">
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/medium.png" alt="medium" class="mx-100">
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/tumblr.png" alt="tumblr" class="mx-100">
                    </div>
                </div>
                <div class="col-6 col-xs-4 col-lg-2">
                    <div class="ui-single-logo">
                        <img src="./image/l-2/google.png" alt="google" class="mx-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endmacro %}
