{% macro render(args) %}
    <div class="ui-project-area">
        <div class="container-fluid">
            <div class="ui-section-title">
                <h2 class="title m-0">Recent Project</h2>
            </div>
            <div class="ui-project-area__slider">
                <div class="ui-project-slider--half-fluid">
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-1.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Design / Brand Identity</span>
                                </div>
                                <h2 class="title">Merry Christmas - Website</h2>
                                <p class="text">Nitrx is global social networking website admin dashboard. Designed to track users, post, story & daily Activities. Hope you guys like it.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-2.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Desing / UX Design</span>
                                </div>
                                <h2 class="title">Relik - Admin Dashboard</h2>
                                <p class="text">👉 Relik is a beautiful, simple, developer-friendly, highly customizable admin dashboard template with a 💎 high-quality UI & well-organized Figma file🔥.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-3.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>Web Design / UX Design</span>
                                </div>
                                <h2 class="title">Jobpilot - Job Portal</h2>
                                <p class="text">Jobpilot is a modern high-quality and well-organized job portal Figma template designed to connect people looking for a suitable Jobs & Candidates.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-2.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Desing / UX Design</span>
                                </div>
                                <h2 class="title">Relik - Admin Dashboard</h2>
                                <p class="text">👉 Relik is a beautiful, simple, developer-friendly, highly customizable admin dashboard template with a 💎 high-quality UI & well-organized Figma file🔥.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-3.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>Web Design / UX Design</span>
                                </div>
                                <h2 class="title">Jobpilot - Job Portal</h2>
                                <p class="text">Jobpilot is a modern high-quality and well-organized job portal Figma template designed to connect people looking for a suitable Jobs & Candidates.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-1.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Design / Brand Identity</span>
                                </div>
                                <h2 class="title">Merry Christmas - Website</h2>
                                <p class="text">Nitrx is global social networking website admin dashboard. Designed to track users, post, story & daily Activities. Hope you guys like it.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-2.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Desing / UX Design</span>
                                </div>
                                <h2 class="title">Relik - Admin Dashboard</h2>
                                <p class="text">👉 Relik is a beautiful, simple, developer-friendly, highly customizable admin dashboard template with a 💎 high-quality UI & well-organized Figma file🔥.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-3.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>Web Design / UX Design</span>
                                </div>
                                <h2 class="title">Jobpilot - Job Portal</h2>
                                <p class="text">Jobpilot is a modern high-quality and well-organized job portal Figma template designed to connect people looking for a suitable Jobs & Candidates.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-1.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Design / Brand Identity</span>
                                </div>
                                <h2 class="title">Merry Christmas - Website</h2>
                                <p class="text">Nitrx is global social networking website admin dashboard. Designed to track users, post, story & daily Activities. Hope you guys like it.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="single-slide">
                        <a href="#" class="ui-project-card">
                            <div class="card-image">
                                <img src="./image/l-2/project-2.png" alt="projec" class="w-100">
                            </div>
                            <div class="card-body">
                                <div class="meta">
                                    <span>UI Desing / UX Design</span>
                                </div>
                                <h2 class="title">Relik - Admin Dashboard</h2>
                                <p class="text">👉 Relik is a beautiful, simple, developer-friendly, highly customizable admin dashboard template with a 💎 high-quality UI & well-organized Figma file🔥.</p>
                                <span class="link-btn">View Case Study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ui-project-slider--half-fluid__control-buttons">
                    <button class="button button--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.25 12H3.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                        </button>
                    <button class="button button--next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                        </button>
                </div>
            </div>
        </div>
        <div class="ui-project-area__ellipse">
            <img src="./image/l-2/ellipse-10.png" alt="ellipse-10" class="w-100">
        </div>
    </div>
{% endmacro %}
