{% macro render(args) %}
    <div class="ui-service-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 col-md-10 mb-5 mb-lg-5">
                    <div class="ui-section-title">
                        <span class="badge">✅&nbsp;&nbsp;&nbsp;99.96% Client Satisfaction</span>
                        <h2 class="title">Services i provide</h2>
                        <p class="text pe-xxl-7">
                            <span class="d-block pb-2">
                                I will help you with fingin a solution and solve your problems, We use process design to create digital product. besids that also help their business.
                            </span>
                                We use process design to create digital products. besids that also help their business
                        </p>
                        <a href="#" class="ui-btn-primary sweep-to-top">Let’s Work Together
                            <svg width="24" class="ms-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6 col-lg-6 offset-xxl-2 offset-xl-1">
                    <div class="ui-service-area__widget">
                        <div class="ui-widget-card border-secondary-100" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false">
                            <div class="image">
                                <img class="mw-100" src="./image/l-2/illustration-2.png" alt="icon">
                            </div>
                            <div class="content">
                                <h2 class="title">User Experience Design</h2>
                                <span>150+ Projects
                                    •
                                    129+ Happy Customer</span>
                            </div>
                        </div>
                        <div class="ui-widget-card border-primary-50" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false">
                            <div class="image">
                                <img class="mw-100" src="./image/l-2/illustration.png" alt="icon">
                            </div>
                            <div class="content">
                                <h2 class="title">Product Design</h2>
                                <span>150+ Projects
                                    •
                                    129+ Happy Customer</span>
                            </div>
                        </div>
                        <div class="ui-widget-card border-danger-50" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false">
                            <div class="image">
                                <img class="mw-100" src="./image/l-2/illustration-1.png" alt="icon">
                            </div>
                            <div class="content">
                                <h2 class="title">User Interface Design</h2>
                                <span>150+ Projects
                                    •
                                    129+ Happy Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
