{% macro render(args) %}
    <div class="ui-work-area {{args.sectionClass}}">
        <div class="container">
            <div class="ui-section-title">
                <h2 class="title">{{args.titleChange}}</h2>
                <p class="text">Nulla ex augue, rhoncus sit amet rutrum ut, vestibulum non <br class="d-none d-lg-block">nisl. Etiam imperdiet quam pretium rhoncus aliquam.</p>     
            </div>
            <div class="row card-row">
                <div class="col-xxl-3 col-sm-6">
                    <div class="ui-work-card ui-work-card-1 {{args.cardClass}}">
                        <div class="icon icon-1">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.0875 15.2251L27 16.7626L23 9.11259L26.125 7.55009C26.3572 7.43171 26.6269 7.40996 26.8751 7.48957C27.1233 7.56919 27.33 7.74371 27.45 7.97509L30.525 13.8626C30.5874 13.9804 30.6255 14.1096 30.6372 14.2424C30.6489 14.3752 30.634 14.509 30.5932 14.636C30.5525 14.7629 30.4867 14.8805 30.3999 14.9816C30.313 15.0828 30.2068 15.1656 30.0875 15.2251V15.2251Z" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5 16.6375L1.9125 15.0875C1.79362 15.0292 1.68767 14.9477 1.60095 14.8476C1.51422 14.7476 1.4485 14.6311 1.40769 14.5052C1.36687 14.3793 1.3518 14.2464 1.36336 14.1145C1.37493 13.9826 1.41289 13.8544 1.475 13.7375L4.55 7.84999C4.67029 7.61878 4.8761 7.44367 5.12358 7.36195C5.37107 7.28023 5.64069 7.29837 5.875 7.41249L9 8.97499L5 16.6375Z" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M27 16.7627L25 19.1127L20.4 23.7127C20.2746 23.8299 20.1227 23.915 19.9573 23.9608C19.7918 24.0065 19.6178 24.0114 19.45 23.9752L12.2 22.1627C12.0676 22.1258 11.9442 22.062 11.8375 21.9752L5 16.6377" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 19.1123L19.5 15.1123L17.9 16.3123C17.2068 16.8297 16.365 17.1092 15.5 17.1092C14.635 17.1092 13.7932 16.8297 13.1 16.3123L12.425 15.7998C12.3109 15.713 12.2164 15.603 12.148 15.477C12.0796 15.351 12.0387 15.2119 12.0281 15.0689C12.0174 14.9259 12.0373 14.7823 12.0863 14.6476C12.1354 14.5128 12.2125 14.39 12.3125 14.2873L17.2125 9.39981C17.3045 9.30822 17.4138 9.23568 17.5339 9.18635C17.654 9.13701 17.7827 9.11186 17.9125 9.11231H23" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.075 8.97478L15.4875 7.09978C15.7153 7.03444 15.959 7.05216 16.175 7.14978L20.5 9.11228" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14 26.6125L10.2375 25.6625C10.0842 25.6279 9.94221 25.5547 9.825 25.45L7 23" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                        </div>
                        <div class="work-content">
                            <h2 class="title">1. Introductions</h2>
                            <p class="text">Morbi nunc nibh, ultrices in ligula et, volutpat suscipit lorem. Quique finibus, lectus in lacinia fauc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6">
                    <div class="ui-work-card ui-work-card-2 {{args.cardClass}}">
                        <div class="icon icon-2">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 20C18.7614 20 21 17.7614 21 15C21 12.2386 18.7614 10 16 10C13.2386 10 11 12.2386 11 15C11 17.7614 13.2386 20 16 20Z" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.97501 24.9248C8.72739 23.4428 9.87546 22.1981 11.2919 21.3287C12.7084 20.4592 14.338 19.999 16 19.999C17.662 19.999 19.2916 20.4592 20.7081 21.3287C22.1246 22.1981 23.2726 23.4428 24.025 24.9248" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="work-content">
                            <h2 class="title">2. User Experience Design</h2>
                            <p class="text">Morbi nunc nibh, ultrices in ligula et, volutpat suscipit lorem. Quique finibus, lectus in lacinia fauc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6">
                    <div class="ui-work-card ui-work-card-3 {{args.cardClass}}">
                        <div class="icon icon-3">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 22L16 29L28 22" stroke="#FF944D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 16L16 23L28 16" stroke="#FF944D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 10L16 17L28 10L16 3L4 10Z" stroke="#FF944D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="work-content">
                            <h2 class="title">3. User Interface Design</h2>
                            <p class="text">Morbi nunc nibh, ultrices in ligula et, volutpat suscipit lorem. Quique finibus, lectus in lacinia fauc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6">
                    <div class="ui-work-card ui-work-card-4 {{args.cardClass}}">
                        <div class="icon icon-4">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 13C25 8.02944 20.9706 4 16 4C11.0294 4 7 8.02944 7 13V19C7 23.9706 11.0294 28 16 28C20.9706 28 25 23.9706 25 19V13Z" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 17H28" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 17H7" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 21H7.225" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4 13H28" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 17V28" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.775 21H28" stroke="#2DB24A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.98755 3.5L9.96255 6.325" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.9875 3.5L22.025 6.3125" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                        </div>
                        <div class="work-content">
                            <h2 class="title">4. Usability Testing</h2>
                            <p class="text">Morbi nunc nibh, ultrices in ligula et, volutpat suscipit lorem. Quique finibus, lectus in lacinia fauc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

