{% macro render(args) %}
    <div class="doctor-about-area">
        <div class="doctor-about-area__wrapper">
            <div class="container">
                <div class="row align-items-stretch justify-content-center justify-content-md-start">
                    <div class="col-md-4 col-8 col-xs-6 col-xl-3 mb-5 mb-md-0">
                        <div class="doctor-about-area__image-group h-100">
                            <img src="./image/l-5/doctor-two.png" alt="doctor" class="w-100 h-100">
                        </div>
                    </div>
                    <div class="col-md-8 col-xl-5">
                        <div class="doctor-about-area__content">
                            <h2 class="title">Hello, I’m Ralph Edwards.</h2>
                            <p class="text">Phasellus blandit, metus sit amet euismod facilisis, ante justo mollis elit, eu suscipit tellus lorem non dolor. Aliquam faucibus odio tempus nibh fringilla tincidunt. Proin luctus dui odio, sed egestas erat condimentum non.</p>
                            <div class="button-group">
                                <a href="#" class="dc-btn dc-btn-primary">Send Message <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                </a>
                                <a href="#" class="dc-btn dc-btn-secondary">
                                <svg class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.0625 10.3125L12 14.25L15.9375 10.3125" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 3.75V14.25" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                        
                                Download Cv
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 mt-xl-0 col-xl-4">
                        <div class="doctor-about-area__featured">
                            <h6 class="title">Featured by:</h6>
                            <div class="logo-group">
                                <img src="./image/l-5/featured-logo-1.png" alt="logo">
                                <img src="./image/l-5/featured-logo-2.png" alt="logo">
                                <img src="./image/l-5/featured-logo-3.png" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
