{% macro render(args) %}
    <div class="doctor-book-area">
        <div class="container">
            <div class="row  justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-10 mb-5 mb-lg-0">
                        <div class="doctor-book-area__image">
                            <img src="./image/l-5/book.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10 offset-xl-1 position-relative">
                        <div class="doctor-book-area__feature">
                            <div class="doctor-book-area__feature-top">
                                <h3 class="title">The Highly Sensitive Person</h3>
                                <p class="text">
                                    When a military doctor tracks down his former fiancee's kidnapped niece, he discovers a complex human trafficking ring in Goa. He then weaves an intricate trap to capture the perpetrators.
                                </p>
                                <div class="writer d-flex align-items-center">
                                    <img class="img-fluid" src="./image/l-5/writer.png" alt="">
                                    <div class="writer-info">
                                        <p class="title">Written by:</p>
                                        <h6 class="text">Kevin Gilbert</h6>
                                    </div>
                                </div>
                            </div>
                             <div class="doctor-book-area__feature-bottom">
                                 <div class="doctor-book-area__feature-bottom-list">
                                     <h4 class="title"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    Your trait is normal.
                                    </h4>
                                    <p class="text">Do you make it a high priority to arrange your life to avoid upsetting or overwhelming situations?</p>
                                 </div>
                                 <div class="doctor-book-area__feature-bottom-list">
                                     <h4 class="title"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    You are also more easily overwhelmed. 
                                    </h4>
                                    <p class="text">If you find you are highly sensitive, or your child is, I’d like you to know the following:</p>
                                 </div>
                             </div>
                           
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endmacro %}
