{% macro render(args) %}
<div class="doctor-cta-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="doctor-section-title">
                    <h2 class="title">
                        Looking for a Neurologists Doctor? Get in touch and let's chat!
                    </h2>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="content">
                    <p class="text">
                        Donec in bibendum risus. Cras eget imperdiet sapien. Donec sollicitudin maximus augue, non elementum quam ultrices non.
                    </p>
                    <div class="cta-btn">
                        <a href="#" class="dc-btn dc-btn-primary">
                            <span>Get In Touch</span>  
                            <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
