.flc-about-section {
  background: var(--bs-white);
  margin-top: -280px;
}

html {
  scroll-behavior: smooth;
}
.about-content-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 1199px) {
    display: block;
  }
  @media (max-width: 575px) {
    margin-bottom: 24px;
  }
}
.about-contnet{
  padding-bottom: 40px;
  @media (max-width: 575px) {
    padding-bottom: 24px;
  }
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (max-width: 1199px) {
    &:last-child{
      padding-bottom: 0;
    }
  }
  h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    color: var(--bs-gray-v2-900);
    font-family: 'Cardo', serif;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-gray-v2-500);
  }
  ul{
    margin: 0;
    li{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      color: var(--bs-gray-700);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.flc-about-thumb {
  z-index: 11;
  padding: 0 15px;
  position: relative;
  img{
    max-width: 100%;
  }
  @media (max-width: 1199px) {
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }
}

.flc-counter {
  &-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: 1199px) {
      display: block;
    }
  }
  &-item{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    padding-bottom: 38px;
    @media (max-width: 1199px) {
      &:last-child{
        padding-bottom: 0;
      }
    }

    @media (max-width: 575px) {
      flex-direction: row-reverse;
      text-align: left;
    }
    
  }
  &-thumb{
    margin-left: 30px;
    @media (max-width: 575px) {
      margin-left: 0;
      margin-right: 15px;
    }
  }
  &-data{
    h2{
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 10px;
      font-family: 'Cardo', serif;
      color: var(--bs-gray-900);
      @media (max-width: 767px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
    p{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-500);
      text-transform: uppercase;
    }
  }
}
