{% macro render(args) %}
    <div class="resume-footer">
        <div class="container resume-container">
            <div class="resume-footer__wrapper">
                <div class="footer-logo">
                    <a href="index.html" class="logo">
              <img src="./image/resume/me.png" alt="logo"> <span class="text">Malthe <br> Andersen</span>
            </a>
                </div>
                <p>All content © 2006-Current Howard Stark and respective copyright holders.</p>
            </div>
        </div>
    </div>
{% endmacro %}