{% macro render(args) %}
    <div class="resume-hero">
        <div class="container resume-container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 offset-lg-1 order-lg-1 col-md-8 mb-5 mb-md-0 col-xs-10">
                    <div class="resume-hero__iamge" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                        <img class="w-100 lite d-block" src="./image/resume/me-2-lite.png" alt="logo">
                        <img class="w-100 dark d-none" src="./image/resume/me-2-dark.png" alt="logo">
                    </div>
                </div>
                <div class="col-lg-5 order-lg-0 col-md-8">
                    <div class="resume-display-title text-center text-lg-start" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                        <h6 class="subtitle"><span class="line"></span> Hello welcome to my portfolio</h6>
                        <h2 class="title">Malthe Andersen</h2>
                        <p class="text"><span class="fw-600">Architecture Designer</span> Based on Denmark. As architecture i have few years of experience, Also about 3 years i work for company called zakirsoft. </p>
                        <a class="resume-btn resume-btn-primary" href="#">Hire Me - &nbsp;<span class="fw-normal"> Available for Work</span> </a>
                    </div>
                </div>

            </div>
            <div class="resume-socialmedia-link mt-5 mt-lg-0">
                <h6 class="text">Connect with me:</h6>
                <ul class="list-group">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-reddit-alien"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                    <li><a href="#"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8201 12.7646C11.523 12.9063 10.9546 13.0296 10.5303 13.0408C9.25171 13.0752 9.00346 12.1425 8.99226 11.4652V6.49092H12.2012V4.07227H9.00432V0.00195312H6.6633C6.62487 0.00195312 6.55761 0.0355675 6.54878 0.121236C6.41189 1.36701 5.82825 3.55349 3.40479 4.42699V6.49096H5.022V11.7126C5.022 13.4996 6.34064 16.0391 9.82172 15.9799C10.9954 15.9598 12.2996 15.4675 12.5886 15.044L11.8201 12.7646Z" fill="#7B848B"/>
                        </svg>
                        </a></li>
                    <li><a href="#"><i class="fa-brands fa-medium"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endmacro %}