{% macro render(args) %}
    <div class="resume-testimonial">
        <div class="container resume-container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="resume-section-title">
                        <h2 class="title">Clients Testimonials</h2>
                        <p class="text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}