{% macro companyInfo(args) %}
<div class="dev-company-info {{args.sectionClass}}">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-xl-5 col-md-10">
                <div class="dev-company-info--text text-center text-lg-start mb-5 mb-lg-0">
                    <h2 class="title">I work with over 279+ happy <br class="d-none d-sm-block">
                        clients all over the world.</h2>
                    <p class="text pr-xxl-88">Suspendisse eget ultricies felis, in lacinia lectus. Morbi accumsan
                        dapibus
                        tortor, in fermentum odio malesuada in aliquam sed ipsum tristique.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 offset-xl-1">
                <div class="dev-company-info--logo">
                    <div class="row card-row">
                        <div class="col-md-4 logo-wrapper">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/amazon.png" alt="amazon">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/dribbble.png" alt="dribbble">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 logo-wrapper mt-md-6">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/google.png" alt="google">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/micosoft.png" alt="micosoft">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 logo-wrapper">
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/spotify.png" alt="spotify">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="logo">
                                    <img src="./image/l-1/linked.png" alt="linked">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
