.dev-counter-section{
    .dev-counter-wrapper{
        padding: 60px 0;
        @media (min-width:575px) {
            padding: 80px 0;
        }
        @media (min-width:992px) {
            padding: 100px 0;
        }
        .dev-count-block{
            position: relative;
            svg{
                margin-bottom: 24px;
            }
            @media (min-width:768px) {
                &::before{
                    position: absolute;
                    top: 50%;
                    content: "";
                    right: -13px;
                    transform: translateY(-50%);
                    height: 133px;
                    width: 1px;
                    background:#DEE7EE;
                }
            }
            .text{
                color: var(--bs-gray-700);
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
            .title{
                margin-bottom: 5px;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                text-align: center;
                color: var(--bs-gray-900);
            }
        }
        .col-md-3{
            &:last-child{
            .count-block{
                &::before{
                        display: none;
                    }
                }
            }
        }
    }
}
