.counter-section-01{
    .counter-wrapper{
        padding: 60px 0 60px;
        border-top: 1px solid #DEE7EE;
        border-bottom: 1px solid #DEE7EE;
        @media (min-width:575px) {
            padding: 70px 0 76px;
        }
        .count-block{
            position: relative;
            @media (min-width:768px) {
                &::before{
                    position: absolute;
                    top: 50%;
                    content: "";
                    right: -13px;
                    transform: translateY(-50%);
                    height: 133px;
                    width: 1px;
                    background:#DEE7EE;
                }
            }
            .title{
                margin-bottom: 5px;
            }
        }
        .col-md-3{
            &:last-child{
            .count-block{
                &::before{
                        display: none;
                    }
                }
            }
        }
    }
}
