.dev-hero-area{
    background: linear-gradient(180deg, rgba(222, 228, 218, 0) 0%, #DEE4DA 100%);
    padding: 112px 0;
    &__bg{
        padding: 112px 0;        
    }
    .dev-section-tile{
        .title{
            font-weight: 700;
font-size: 64px;
line-height: 72px;
        }
        .text{
            font-weight: 400;
font-size: 24px;
line-height: 32px;
color: rgba(255, 255, 255,0.8);
        }
    }
}
