@use "../../abstracts/mixins" as *;
.qualification-section-01{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 130px 0;
    }
    &__content{
       .section-content-block{
           margin-bottom: 35px;
           @media (min-width:992px) {
               margin-bottom: 70px;
           }
       } 
       .qualification-widget{
           &:last-child{
               padding-bottom: 0;
               &::before{
                   display: none;
               }
           }
       }
       &.one{
        @media (max-width:992px) {
            margin-bottom: 50px;
        }
        @media (min-width:1200px) {
            margin-right: 70px;
        }
       }
       &.two{
           @media (min-width:1200px) {
               margin-left: 70px;
           }
       }
    }
}
.qualification-widget{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    @media (min-width:992px) {
        padding-bottom: 60px;
    }
    .circle{
        margin-right: 30px;
        margin-top: 7px;
        @include square(18px,500px);
        background: var(--bs-white);
        box-shadow: 0px 5px 15px rgba(0, 138, 255, 0.2);
        z-index: -1;
        @media (min-width:575px) {
            margin-right: 42px;
        }
        @include flexAllCenter;
        .inner-circle{
            z-index: 11;
            @include square(8px,500px);
            background: var(--bs-primary);
        }
    }
    .widget-content{
        .title{
            font-size: 20px;
            line-height: 1.5;
            font-weight: 600;
            margin-bottom: 12px;
            @media (min-width:575px) {
                font-size: 24px;
            }
            .date{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
                @media (min-width:575px) {
                    font-size: 18px;
                }
            }
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.555555555555556;
            margin-bottom: 20px;
            @media (min-width:575px) {
                font-size: 18px;
            }
        }
        .widget-designations{
            font-size: 16px;
            line-height: 1.222222222222222;
            font-weight: 500;
            background: var(--bs-solitude);
            border-radius: 20px;
            padding: 9px 20px;
            @media (min-width:575px) {
                font-size: 18px;
            }
        }
    }
    &::before{
        position: absolute;
        left: 9px;
        top: 57%;
        width: 1px;
        content: "";
        height: 82%;
        background: #DEE7EE;
        transform: translateY(-50%);
    }
}
