.dev-service-area{
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.08);
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 100px 0;
    }
    .area-title-block{
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom: 50px;
        }
        .title{
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            color: #000000;
            margin-bottom: 16px;
        }
        .text{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            width: 50%;
            margin: 0px auto;
            @media (max-width:767px){
                width: 100%;
            }
        }
    }
}
