.skill-section-01{
    padding: 60px 0;
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 125px 0;
    }
    &__content{
        .title{
            margin-bottom: 20px;
            @media (min-width:992px) {
                margin-bottom: 25px;
            }
        }
        p{
            margin-bottom: 30px;
            @media (min-width:992px) {
                margin-bottom: 50px;
            }
        }
    }
    .skill-bar-01{
        @media (min-width:1200px) {
            margin-left: 35px;
        }
    }
}

.skill-bar-01{
    &__item{
        margin-bottom: 25px;
        @media (min-width:992px) {
            margin-bottom: 50px;
        }
        &:last-child{
            margin-bottom: 0;
        }
        .skill-name{
            h5{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px; 
                color: var(--bs-black);
            }
        }
        .skill-bar-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .skill-bar{
                width: 92%;
                height: 8px;
                background: #DEE7EE;
                .skill-per{
                    height: 8px;
                    background: var(--bs-azure-radiance);
                    animation: fillbars 8s 1;
                }
            }
            .skill-bar-count{
                margin-left: 10px;
                span{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: var(--bs-azure-radiance);;
                }
            }
        }
    }
}

@keyframes fillbars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
