.doctor-cta-area{
    background: #132238;
    padding: 60px 0;
    @media (min-width:992px){
        padding: 80px 0;
    }
    @media (min-width:1200px){
        padding: 100px 0;
    }
    .doctor-section-title{
        .title{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2;
            color: white;
            text-align: left;
            @media (min-width: 768px){
                font-size: 32px;
            }
            @media (min-width: 992px){
                font-size: 40px;
            }
        }
    }
    .content{
        .text{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 1;
            font-size: 18px;
            color: var(--bs-gray-300);
            margin-bottom: 18px;
            @media (min-width: 768px){
                margin-bottom: 24px;
            }
            @media (min-width: 992px){
                margin-bottom: 32px;
            }
        }
    }
}
