.doctor-success-area{
    background: var(--bs-white);
    padding: 60px 0;
    @media (min-widht:768px) {
        padding: 80px 0;
    }
    @media (min-widht:992px) {
        padding: 100px 0;
    }
    &__content{
        .doctor-section-title {
            text-align: left;
            .title{
                font-size: 32px;
                @media (min-width:768px){
                    font-size: 40px;
                }
                @media (min-width:1200px){
                    font-size: 48px;
                }
            }
        }
        .doctor-section-title .line {
            margin: 24px 0;
        }
        .doctor-success-slider__control-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 30px;
            margin-bottom: 30px;
            gap: 16px;
            @media (min-widht:992px) {
                margin-top: 50px;
            }
            .button{
               max-width: 56px;
               min-width: 56px;
               max-height: 56px;
               min-height: 56px;
               transition: .3s;
               border-radius: 50%;
               background: transparent;
               border: 2px solid var(--bs-secondary-500); 
               svg{
                   path{
                       transition: .3s;
                       stroke: var(--bs-gray-900);
                   }
               }
               &:hover{
                   background: var(--bs-secondary-500);
                   svg{
                       path{
                           stroke: white;
                       }
                   }
               }
            }
           
        }
        .doctor-work-slider{
            // .slick-slide {
            //     margin: 0 12px;
            // }
            // .slick-list {
            //     margin: 0 -12px;
            // }
            &__control-buttons{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                gap: 16px;
                @media (min-widht:992px) {
                    margin-top: 50px;
                }
                .button{
                   max-width: 56px;
                   min-width: 56px;
                   max-height: 56px;
                   min-height: 56px;
                   transition: .3s;
                   border-radius: 50%;
                   background: transparent;
                   border: 2px solid var(--bs-secondary-500); 
                   svg{
                       path{
                           transition: .3s;
                           stroke: var(--bs-gray-900);
                       }
                   }
                   &:hover{
                       background: var(--bs-secondary-500);
                       svg{
                           path{
                               stroke: white;
                           }
                       }
                   }
                }
            }
        }
    }
    &__slider{
            background: var(--bs-secondary-50);
            border: 4px solid var(--bs-secondary-500);
            box-sizing: border-box;
            padding: 28px;
            @media (min-width:768px){
                padding: 42px;
            }
            @media (min-width:1200px){
                padding: 56px;
            }
            .quotes{
                padding-bottom: 32px;
                svg{
                    stroke: var(--bs-gray-900);
                    fill: var(--bs-gray-900);
                }
            }
            .text{
                font-family: 'JetBrains Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                @media (min-width:768px){
                    font-size: 20px;
                }
                @media (min-width:1200px){
                    font-size: 24px;
                }
                line-height: 1.33;
                color: var(--bs-gray-900);
            }
            .slick-dots {
                padding: 0;
                margin: 0;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width:992px) {
                margin-top: 50px;
                position: absolute;
                left: -245px;
                top: 77%;
                }
                @media (min-width:1200px) {
                top: 72%;
                }
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 0 8px;
                    transition: .3s;
                    button {
                        border: 3px;
                        list-style: none;
                        width: 6px;
                        height: 6px;
                        padding: 0;
                        border-radius: 500px;
                        background: var(--bs-gray-200)!important;
                        opacity: 1;
                        color: transparent;
                        font-size: 0;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
            
                    &.slick-active {
                        button{
                            background: var(--bs-gray-900)!important;
                            opacity: 1;
                            width: 12px;
                            height: 12px;
                            border-radius: 500px;
                        }
                    }
                }
            }
    }
}
