.doctor-testimonial-area{
    background-color: #132238;
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 80px 0;
    }
        @media (min-width:992px) {
        padding: 100px 0;
        
    }
    &__review{
        
        .title{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 500;
            font-size: 14px;
            @media (min-width:768px){
                font-size: 16px;
            }
            @media (min-width:992px){
                font-size: 18px;
            }
            line-height: 1;
            text-transform: uppercase;
            color: var(--bs-secondary-500);
            padding-bottom: 50px;
        }
        .doctor-testimonial-slider{
            position: relative;
            .single-slider{
                .content{
                    .qoute{
                        font-family: 'JetBrains Mono', sans-serif;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 1.25;
                        color: white;
                        padding-bottom: 50px;
                        @media (min-width:768px){
                            font-size: 24px;
                        }
                        @media (min-width:992px){
                            font-size: 32px;
                        }
                        
                    }
                }
                .client-info{
                    .name{
                        font-family: 'JetBrains Mono', sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        @media (min-width:768px){
                            font-size: 20px;
                        }
                        @media (min-width:992px){
                            font-size: 24px;
                        }
                        line-height: 1.33;
                        color: white;
                        padding-bottom: 10px;
                    }
                    .designation{
                        font-family: 'JetBrains Mono', sans-serif;
                        font-weight: 500;
                        font-size: 12px;
                        @media (min-width:768px){
                            font-size: 13px;
                        }
                        @media (min-width:992px){
                            font-size: 14px;
                        }
                        line-height: 1;
                        text-transform: uppercase;
                        color: var(--bs-gray-300);
                    }
                }
            }
            .slick-dots {
                position: absolute;
                bottom: 20px;
                right: 0;
                padding: 0;
                margin: 0;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width:992px) {
                margin-top: 50px;
                }
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin: 0 8px;
                    transition: .3s;
                    button {
                        border: 3px;
                        list-style: none;
                        width: 6px;
                        height: 6px;
                        padding: 0;
                        border-radius: 500px;
                        background: var(--bs-gray-600)!important;
                        opacity: 1;
                        color: transparent;
                        font-size: 0;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
            
                    &.slick-active {
                        button{
                            background: white!important;
                            opacity: 1;
                            width: 12px;
                            height: 12px;
                            border-radius: 500px;
                        }
                    }
                }
            }
        }
        
        
      
    }
    &__client{
        display: flex;
        justify-content: flex-end;
        @media (max-width: 767px) {
            margin-top: 32px;
        }
    }
}
