.product-designer-case-study{
    background: var(--bs-gray-v2-50);
    padding: 40px 0;
    z-index: 9999;
    @media (min-width:768px) {
        padding: 88px 0;
    }
    .pd-section-title{
        z-index: 999999;
        position: relative;
        margin-bottom: 25px;
        @media (min-width:992px) {
            margin-bottom: 48px;
        }
    }
    .more-btn{
        margin-top: 50px;
        @media (min-width:992px) {
            margin-top: 88px;
            
        }
        text-align: center;
        h6{
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;   
            color: var(--bs-gray-v2-700);
            a{
                position: relative;
                font-weight: 600 !important;
                color: var(--bs-gray-v2-900) !important;
                display: inline-flex;
                align-items: center;
                margin-left: 12px;
                svg{
                    margin-left: 5px;
                    path{
                        fill: var(--bs-gray-v2-900);
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .3s;
                    width: 0;
                    height: 2px;
                    background-color: var(--bs-gray-v2-900)
                }   
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.pd-project-card{
    
    z-index: 999;
    overflow: hidden;
    position: relative;
    padding: 30px 20px;
    background: white;
    box-shadow: 0px 16px 48px rgba(18, 19, 20, 0.04);
    border-radius: 36px; 
    @media (min-width:480px) {
        padding: 30px ;
    }
    @media (min-width:992px) {
        padding: 64px;
    }
    .card-content{
        position: relative;
        z-index: 999;
        .logo{
           max-width: 78px;
           max-height: 78px;
           min-height: 78px;
           min-width: 78px;
           border-radius: 16px;
           display: flex;
           align-items: center;
           justify-content: center;
           @media (min-width:480px) {
               max-width: 88px;
               max-height: 88px;
               min-height: 88px;
               min-width: 88px;
           }
        }
        .content{
            margin-top: 32px;
            .tag{
                font-family: 'Work Sans', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;  
                color: var(--bs-gray-v2-400);
                text-transform: uppercase;
                padding-bottom: 12px;
            }
            .title{
                font-family: 'Work Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.25;
                color: var(--bs-gray-v2-900);
                padding-bottom: 18px;
                @media (min-width:480px) {
                    padding-bottom: 24px;
                    font-size: 32px;
                    
                }
            }
            .text{
                font-family: 'Work Sans', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.333333333333333;
                color: var(--bs-gray-v2-700);
                padding-bottom: 40px;
                @media (min-width:480px) {
                    font-size: 18px;
                }
            }
        }
    }
    .card-image{
        position: relative;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        img{
            min-height: -webkit-fill-available;
        }
        @media (max-width:1500px) {
        &::before{
                content: "";
                background-color: rgb(255, 255, 255,0.9);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}