.product-designer-cta{
    position: relative;
    padding-top: 86px;
    padding-bottom: 58px;
    z-index: 1;
    @media (min-width:768px) {
        padding-top: 187px;
        padding-bottom: 88px;
    }
    .pd-section-title{
        .text{
            padding: 24px 0;
            line-height: 1.4;
            @media (min-width:768px) {
                font-size: 20px;
                padding: 32px 0;
            }
        }
    }
    &__social-info{
        margin-bottom: 48px;
        h6{
            font-family: 'Work Sans';
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: var(--bs-gray-v2-900);
            padding-bottom: 18px;
        }
    }
    &__contact-info{
        h6{
            font-family: 'Work Sans';
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: var(--bs-gray-v2-900);
            padding-bottom: 18px;
        }
    }
    &__wave{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}
.pd-social-btn{
    background: var(--bs-gray-v2-50);
    transition: .3s;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    line-height: 24px;
    color: var(--bs-gray-v2-900) !important;
    svg{
        margin-right: 12px;
    }
    &:hover{
        background: white;
        box-shadow: 0px 16px 64px rgba(18, 19, 20, 0.12);
    }
}
.pd-contact-info-card{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    @media (max-width:575px) {
        flex-direction: column;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:rgba(255, 255, 255, 0.24);
        height: calc(100% - 32px);
        width: 1px;
        @media (max-width:575px) {
            width: calc(100% - 32px);
            height: 1px;
        }

    }
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (min-width:575px) {
            width: 276px;
        }
        svg{
            margin: auto;
            margin-bottom: 16px;
        }
        span{
            font-family: 'Work Sans', sans-serif;
            padding-bottom: 3px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgb(255, 255, 255,0.7);
        }
        p{
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: white;
        }
        &:hover{
            svg{
                animation: shakeIn 1s ease infinite;
            }
        }
    }
}