.product-designer-hero{
    position: relative;
    padding-top: 138px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../image/product-designer/product-designer-bg.png');
    background-color: var(--bs-white);
    @media (min-width:768px) {
        padding-top: 158px;
    }
    @media (min-width:992px) {
        padding-top: 208px;
    }
    &__content{
        position: relative;
        z-index: 99;
        .avatar{
            margin-bottom: 20px;
            @media (min-width:992px) {
                margin-bottom: 40px;
            }
            img{
                border-radius: 500px;
                min-width: 150px;
                max-width: 150px;
                min-height: 150px;
                max-height: 150px;
                object-fit: cover;
                margin: auto;
                @media (min-width:575px) {
                    min-width: 200px;
                    max-width: 200px;
                    min-height: 200px;
                    max-height: 200px;
                }
            }
        }
        .button-group{
            margin-top: 20px;
            @media (min-width:992px) {
                margin-top: 40px;
            }
        }
        .company-logo{
            margin-top: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__wrapper{
                padding: 25px 40px;
                width: 100%;
                max-width: 524px;
                @media (min-width:575px) {
                    padding: 32px 48px;
                }
                background: var(--bs-white);
                box-shadow: 0px 24px 48px rgba(18, 19, 20, 0.12);
                border-radius: 8px;
                .text{
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--bs-gray-400);
                    text-transform: uppercase;
                }
                .logo{
                    margin-top: 16px;
                    display: flex;
                    row-gap: 20px;
                    align-items: center;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    @media (max-width:575px) {
                        flex-direction: column;
                    }
                    img{
                      width: 80px;
                      height: 40px;
                    }
                }
            }
        }
    }
    .pd-hero-wave{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 220px;
        svg{
            @media (min-width:768px) {
                width: 100%;
            }
        }
    }
    .pd-hero-text{
        position: absolute;
        bottom: 0;
        left: 2%;
        z-index: 9;
        .title{
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
            font-size: 128px;
            color: var(--bs-gray-v2-800); 
        }
    }
}

.svg-waves__parallax>use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.svg-waves__parallax>use:nth-child(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  fill: #353A3E;
}

.svg-waves__parallax>use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  fill: #2C3033;
}

.svg-waves__parallax>use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
  fill: #232628;
}

.svg-waves__parallax>use:nth-child(4) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  fill: #1B1C1E;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}