.pd-quotation-section{
    position: relative;
    padding: 88px 0;
    z-index: 1;
    @media (min-width:768px) {
        padding-top: 172px;
        padding-bottom: 188px;
    }
    &__wave-top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    &__wave-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}
.pd-quotation-card{
    .logo{
        background: var(--bs-product-500);
        max-width: 78px;
        max-height: 78px;
        min-height: 78px;
        min-width: 78px;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        @media (min-width:480px) {
            margin-bottom: 48px;
            max-width: 88px;
            max-height: 88px;
            min-height: 88px;
            min-width: 88px;
        }
     }
     h5{
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.333333333333333;
        padding-bottom: 10px;
        color: var(--bs-gray-v2-900);
        @media (min-width:575px) {
            font-size: 24px;
            padding-bottom: 18px;
        }
     }
     .pd-quotation-user{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        p{
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            padding: 6px;
            color: var(--bs-product-600);
        }
        span{
            color: var(--bs-gray-v2-900);
            padding: 6px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
        }
     }
}
.pd-quotation-slider__control-buttons{
    margin-top: 30px;
    @media (min-width:480px) {
        margin-top: 48px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .button {
      background: transparent;
      width: 56px;
      height: 56px;
      border: 2px solid var(--bs-product-50);
      border-radius: 100%;
      transition: .3s;
      svg{
          path{
            transition: .3s;
          stroke: var(--bs-product-500);
        }
      }
      &:hover{
        border-color: var(--bs-product-500);
        background: var(--bs-product-500);
        path{
            stroke: white;
          }
      }
    }
  }