.flc-service-section {
  background: var(--bs-white);
  box-shadow: inset 0px 1px 0px var(--bs-border-one);
}

.flc-service {
  &-item {
    border: 1px solid var(--bs-border-one);
    padding: 40px;
    display: block;
    @media (max-width: 1199px) {
      padding: 30px;
    }
  }

  &-thumb {
    margin-bottom: 30px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    .dark-icon {
      display: none;
    }
    .light-icon{
      display: inline-block;
    }
  }

  &-data {
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: var(--bs-gray-900);
      margin-bottom: 15px;
      font-family: 'Cardo', serif;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-500);
      margin-bottom: 24px;
    }
  }
}

span.icon-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--bs-gray-900);
  padding: 60px 0;

  svg {
    path {
      stroke: var(--bs-gray-900);
    }

    transition: all 0.4s;
  }

  &:hover svg {
    margin-left: 3px;
  }
}

@media (max-width: 991px) {
  .col-lg-4.col-md-6 {
    .flc-service-item {
      margin-bottom: 24px;
    }

    &:last-child .service-item {
      margin-bottom: 0;
    }
  }
}
