.flc-work-process-section {
  padding: 124px 0;
  background: rgba(240, 241, 243, 0.6);

  @media (max-width: 991px) {
    padding: 100px 0 76px;
  }

  @media (max-width: 767px) {
    padding: 80px 0 52px;
  }
}

.flc-work-process {
  &-item {
    padding: 32px;
    position: relative;
    background-color: var(--bs-white);

    @media (max-width: 991px) {
      margin-bottom: 24px;
    }

    &:hover {
      box-shadow: 0px 16px 48px rgba(19, 34, 56, 0.12);
    }
  }

  &-thumb {
    margin-bottom: 36px;

    svg {
      path {
        stroke: var(--bs-gray-900);
      }
    }
  }

  &-data {
    h4 {
      color: var(--bs-gray-50);
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
      font-family: 'Cardo', serif;

      a {
        color: var(--bs-gray-900);
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--bs-gray-500);
    }
  }

  &-count {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    position: absolute;
    top: 35px;
    right: 32px;
    color: var(--bs-gray-50);
    font-family: 'Cardo', serif;
  }
}

.col-lg-3.col-md-6 {

  &:nth-child(2) .flc-work-process-item,
  &:nth-child(4) .flc-work-process-item {
    margin-top: 50px;

    @media (max-width: 991px) {
      margin: 0;
      margin-bottom: 24px;
    }
  }
}
