{% macro render(args) %}
<div class="project-case-study-area">
    <div class="container">
        <div class="dev-section-title text-center">
            <h2 class="title">My Projects</h2>
            <p class="text">Morbi risus elit, fringilla in cursus a, molestie non dui. <br class="d-none d-sm-block">
                Nunc accumsan gravida risus, ac semper libero mollis ut.</p>
        </div>
        <div class="row card-row justify-content-center">
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-1.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-2.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-3.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-4.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-5.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-6.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-7.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-8.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-9.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-10.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-11.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-12.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-13.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-14.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-12">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-15.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                <div class="single-button text-center">
    
            <a href="#" class="load-more-btn">Load more <svg class="ms-2" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.0186 9.34668H21.5186V4.84668" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.3311 17.8313C17.1776 18.9857 15.7076 19.7721 14.1071 20.091C12.5066 20.4099 10.8474 20.2469 9.33953 19.6227C7.83165 18.9984 6.54278 17.941 5.63596 16.5842C4.72914 15.2273 4.24512 13.632 4.24512 12C4.24512 10.368 4.72914 8.7727 5.63596 7.41585C6.54278 6.059 7.83165 5.00158 9.33953 4.37735C10.8474 3.75313 12.5066 3.59014 14.1071 3.90902C15.7076 4.22789 17.1776 5.0143 18.3311 6.16875L21.5186 9.34688" stroke="#1777E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </a>
        </div>
    </div>
</div>
{% endmacro %}
