{% macro render(args) %}
<div class="inner-case-study-area">
    <div class="container">
        <div class="dev-section-title text-center">
            <h2 class="title">My Projects</h2>
            <p class="text">Morbi risus elit, fringilla in cursus a, molestie non dui. <br class="d-none d-sm-block">
                Nunc accumsan gravida risus, ac semper libero mollis ut.</p>
        </div>
        <div class="row card-row justify-content-center">
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-1.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-2.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-3.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-4.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-5.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-6.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-7.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-8.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-9.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-10.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-11.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-12.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-13.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-14.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 col-9">
                <div class="dev-project-card">
                    <img src="./image/innerpage/project-15.png" alt="project" class="w-100">
                    <div class="content">
                        <ul class="list">
                            <li>Java</li>
                            <li class="dot"></li>
                            <li>HTML</li>
                            <li class="dot"></li>
                            <li>CSS</li>
                        </ul>
                        <h6>Relik - Admin Dashboard</h6>
                        <a class="link-btn" href="#" tabindex="0">View Case Study
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
