{% macro render(args) %}
    <div class="inner-gallery-area">
        <div class="container">
            <div class="row card-row">
                <div class="col-xs-6">
                <a  data-fancybox href="./image/innerpage/gallery-01.png"><img src="./image/innerpage/gallery-01.png" class="w-100" alt="kevin-gallery"></a>
                </div>
                <div class="col-xs-6">
                    <a  data-fancybox href="./image/innerpage/gallery-02.png"><img src="./image/innerpage/gallery-02.png" class="w-100" alt="kevin-gallery"></a>
                </div>
                <div class="col-xs-6">
                    <a  data-fancybox href="./image/innerpage/gallery-03.png"><img src="./image/innerpage/gallery-03.png" class="w-100" alt="kevin-gallery"></a>
                </div>
                <div class="col-xs-6">
                    <a  data-fancybox href="./image/innerpage/gallery-04.png"><img src="./image/innerpage/gallery-04.png" class="w-100" alt="kevin-gallery"></a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
