{% macro render(args) %}
<div class="inner-project-details-area">
    <div class="container">
        <div class="dev-section-title">
            <h2 class="title p-0">Project Name</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-8 mb-5 mb-lg-0">
                <div class="inner-project-details-area__information">
                    <div class="info-wrapper">
                        <div class="deadline">
                            <h6>My role</h6>
                            <span>UX Design</span>
                            <span>Brand Identity</span>
                            <span>UI Design</span>
                            <span>Usability Testing</span>
                        </div>
                        <div class="client">
                            <h6>Client</h6>
                            <span>Sundar Pichai - CEO of GOOGLE</span>
                        </div>
                        <div class="my-role">
                            <h6>Deadline</h6>
                            <span>Jan 2020 to Jan 2021</span>
                        </div>
                    </div>
                    <div class="client-testimonial">
                        <h6 class="title">Client Testimonial</h6>
                        <p>“Nunc at viverra lacus, at dapibus quam. Proin at tempus est. Integer eget pharetra dui. Quisque quis commodo tortor.”</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-xl-1">
                <div class="inner-project-details-area__content">
                    <h2 class="title">
                       About Project
                    </h2>
                    <p class="text">
                        <span class="d-block pb-2">
                            Jobpilot is a beautiful, simple, developer-friendly, highly customizable admin dashboard template with a high-quality UI & well-organized Figma file. This Admin Dashboard helps the users to build their dashboard design with the format you like by components on Figma that are fully customizable and dragging & dropping widgets and components. This website is designed based on extensive UX Research to provide the best experience to buy & sell products with better communication between buyers & sellers. And we surely say that “You’ll love it”.
                        </span>
                        Our main goal is to build an analytics admin dashboard that helps the user to see Live active users, the user clicks, website bounce & conversation rate, where the users are from, most visited page, social media traffic, etc.
                    </p>
                    <a href="#" style="letter-spacing: 0.02em;" class="d-btn d-btn-primary text-capitalize">Live preview 
                        <svg class="svg-1" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#FFFFFF" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg class="svg-2" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#FFFFFF" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
