.dev-service-area{
    padding: 60px 0;
    background: var(--bs-bg-dev-services);
    @media (min-width:575px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 100px 0;
    }
    .dev-section-title{
        margin-bottom: 30px;
        @media (min-width:992px) {
            margin-bottom: 50px;
        }
    }
}
.dev-card-service{
  background: var(--bs-white);
  transition: .3s; 
  padding: 40px;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  @media (max-width:525px){
      padding: 30px 20px;
  }
  .card-image{
    margin-bottom: 15px;
    overflow: hidden;
    img{
      width: 100%;
      transition: all .3s ease-in-out;
    }
  }
  .card-body{
    padding: 0px;
    .card-title{
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
      color: var(--bs-gray-900)
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.555555555555556;
      margin-bottom: 16px;
      color: var(--bs-gray-600)
    }
    .link-btn{
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      position: relative;
      line-height: 24px;
      padding: 6px 0;
      transition: .3s;
      color: var(--bs-primary-500);
      width: fit-content;

      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        width: 0%;
        height: 2px;
        background: #125FB7;
      }
      svg{
        margin-left: 8px;
        path{
          transition: .3s;
          stroke: var(--bs-primary-500);
        }
      } 
      &:hover{
        color: var(--bs-primary-600);
        svg{
          path{
            stroke: var(--bs-primary-600);
          }
        } 
        &::before{
          width: 100%;
        }
      }
    }
  }
  &--modifi{
    &:hover {
      box-shadow: 0px 16px 80px rgba(19, 34, 56, 0.12);
    }
  }
  &:hover {
    .card-image{
      img{
        transform: scale(1.2);
      }
    }
  }
}
