{% macro render(args) %}
  <div class="law-awards-section law-section-padding">
    <div class="container">
      <div class="law-section-title">
        <h2>My Education & Awards</h2>
        <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat. Nulla in mi malesuada, luctus nibh quis, rutrum arcu.</p>
      </div>
      <div class="row">
   
      </div>
    </div>
  </div>
{% endmacro %}
