{% macro render(args) %}
  <div class="law-testimonial-section law-section-padding">
    <div class="container">
      <div class="law-section-title">
        <h2>My clients feedback</h2>
        <p>Sed ac posuere neque, scelerisque porta nulla. Aliquam erat volutpat. Nulla in mi malesuada, luctus nibh quis, rutrum arcu.</p>
      </div>
      <div class="flc-testimonial-slider law-testimonial-slider">
          <div class="law-testimonial-slider-item">
            <img src="./image/lawyer/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="law-testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
          <div class="law-testimonial-slider-item">
            <img src="./image/lawyer/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="law-testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
          <div class="law-testimonial-slider-item">
            <img src="./image/lawyer/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="law-testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
      </div>
      
    </div>
  </div>
{% endmacro %}
