{% macro render(args) %}
    <div class="footer-section-03 footer-section-03__v2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6  col-xs-6">
                    <div class="footer-section-03__wrapper">
                        <div class="logo">
                           <a href="#">
                            <img src="./image/logo/logo-dark.png" alt="logo">
                           </a>
                        </div>
                        <div class="text">
                            <p class=" text-dark">In the fast-paced world of modern technology,
                                many leadership executives and organizations understand that building.</p>
                        </div>
                        <div class="footer-section-03__wrapper--button-group">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-xs-6 col-sm-6">
                    <div class="footer-section-03__widget widget-01">
                        <h6 class="title">Company</h6>
                        <ul class="list-group list-unstyled">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Privacy Poilcy</a></li>
                            <li><a href="blog.html">Blogs</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-sm-6 col-xs-6">
                    <div class="footer-section-03__widget widget-02">
                        <h6 class="title">Get Help</h6>
                        <ul class="list-group list-unstyled">
                            <li><a href="#">Video Tutorials</a></li>
                            <li><a href="#">Faq Questions</a></li>
                            <li><a href="#">Documentations</a></li>
                            <li><a href="#">Integrations</a></li>
                            <li><a href="support.html">Support</a></li>
                            <li><a href="#">Bestkit Forum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 order-lg-4 col-xs-6">
                    <div class="footer-section-03__newsletter">
                        <h6>Newsletter</h6>
                        <p>Sign up and receive the latest tips via email.</p>
                        <div class="footer-section-03__newsletter--form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your mail address">
                                    <div class="icon">
                                        <img src="./image/l-2/mail.png" alt="mail">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">
                                    Subscribe Now

                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_0_3856)">
                                        <path d="M6.56226 13.209V16.6875C6.56226 16.9305 6.71826 17.1457 6.94925 17.2222C7.007 17.241 7.06625 17.25 7.12475 17.25C7.30025 17.25 7.46975 17.1675 7.57775 17.0205L9.6125 14.2515L6.56226 13.209Z" fill="white"/>
                                        <path d="M17.7633 0.10334C17.5908 -0.0189101 17.3643 -0.0354101 17.1768 0.0628399L0.301795 8.87534C0.102295 8.97959 -0.0154549 9.19259 0.00104508 9.41684C0.0182951 9.64184 0.167545 9.83384 0.379795 9.90659L5.07105 11.5101L15.0618 2.96759L7.3308 12.2818L15.193 14.9691C15.2515 14.9886 15.313 14.9991 15.3745 14.9991C15.4765 14.9991 15.5778 14.9713 15.667 14.9173C15.8095 14.8303 15.9063 14.6841 15.931 14.5198L17.9935 0.64484C18.0243 0.43484 17.9358 0.22634 17.7633 0.10334Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_0_3856">
                                        <rect width="18" height="18" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-block copyright-block--modifi-04">
        <div class="container">
            <div class="row">
                <div class="copyright-block__wrapper justify-content-center">
                    <div class="copyright-block__content">
                        <p class="text-dark">© 2022 BestKit. Powered by <a target="_blank" href="https://templatecookie.com/">Templatecookie</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
