{% macro render(args) %}
    <div class="footer-section-01">
        <div class="footer-section-01__shape">
            <img src="./image/l-1/ctarectangle.svg" alt="shape" class="make-it-inline">
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-section-block text-center" data-aos="fade-up" data-aos-duration="600" data-aos-delay="800">
                    <h6 class="subtitle mb-10">Contact me</h6>
                    <h2 class="title text-white">Got a Project? Lets Talk!</h2>
                    <a class="btn btn-1 btn-primary text-white svg-white" href="#">
                        Get A Quote
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-block">
        <div class="container">
            <div class="row">
                <div class="copyright-block__wrapper">
                    <ul class="list-unstyled copyright-block__social">
                        <li class="list-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-item"><a href="https://dribbble.com/"><i class="fab fa-dribbble"></i></a></li>
                        <li class="list-item"><a href="https://github.com/"><i class="fab fa-github"></i></a></li>
                        <li class="list-item"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                    <div class="copyright-block__content">
                        <p class="text-dark">© 2022 BestKit. Powered by <a target="_blank" href="https://templatecookie.com/">Templatecookie</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
