.photographer-about-area{
    background-color: var(--bs-white);
    padding: 60px 0;
    padding-top: 220px;
    @media (min-width:768px) {
        padding: 80px 0;
        padding-top: 230px;
    }
    @media (min-width:992px) {
        padding: 100px 0;
        padding-top: 258px;
    }
    .photographer-achivement-block{
        margin-bottom: 30px;
        @media (min-width:768px) {
            margin-bottom: 0px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (min-width: 1400px){
                min-height: 464px;
            }
        }
        position: relative;
        .photographer-achivement-card{
            background: var(--bs-white);
            @media (min-width: 992px){                
                position: absolute;
                top: 24px;
                left: 24px;
                bottom: 24px;
                padding: 18px;
            }
            @media (min-width: 1200px){
                top: 24px;
                left: 24px;
                bottom: 24px;
                padding: 18px;
            }
            @media (min-width: 1400px){
                top: 36px;
                left: 36px;
                bottom: 36px;
                padding: 24px;
            }
            ul{
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
                padding: 0;
                margin: 20px 0px;
                @media (min-width: 525px){
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    text-align: center;
                    margin: 20px 0px;
                }
                @media (min-width: 992px){
                    display: block;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                }
                
                li{
                    margin-bottom: 10px;
                    @media (min-width: 768px){
                        margin-bottom: 8px;
                    }
                    @media (min-width: 992px){
                        margin-bottom: 12px;
                    }
                    @media (min-width: 1400px){
                        margin-bottom: 20px;
                    }
                    &:not(:last-child)::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: var(--bs-gray-100);
                        @media (max-width:991px){
                            display: none;
                        }
                    }
                    h2{
                        font-family: 'Barlow', sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 1.333;
                        color: var(--bs-gray-900);
                        margin-bottom: 4px;
                        @media (min-width: 992px) {
                            font-size: 18px;
                            margin-bottom: 0px;
                        }
                        @media (min-width: 1200px) {
                            font-size: 24px;
                            margin-bottom: 4px;
                        }
                    }
                    p{
                        font-family: 'Barlow', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--bs-gray-700);
                        margin-bottom: 0px;
                            @media (min-width: 992px){
                                margin-bottom: 8px;
                            }
                            @media (min-width: 1400px){
                                margin-bottom: 20px;
                            }
                    }
                }
            }
        }
    }
    .photographer-info-block{
        .photographer-meta-info{
            ul{
                list-style: none;
                padding: 0px;
                margin-bottom: 12px;
                li{
                    display: inline-block;
                    margin-right: 16px;
                    font-family: 'Barlow', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    color: var(--bs-gray-900);
                }
            }
        }
        .photographer-intro{
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.22;
            color: var(--bs-gray-900);
            margin-bottom: 20px;
            @media (min-width: 912px){
                font-size: 28px;
            }
            @media (min-width: 1200px){
                font-size: 32px;
            }
            @media (min-width: 1400px){
                font-size: 36px;
            }
        }
        .photographer-desc{
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: var(--bs-gray-600);
            margin-bottom: 32px;
        }
        .photographer-contact-info{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0px;
            @media (min-width: 425px){
                flex-direction: row;
            }
            .git-btn{
                margin-bottom: 20px;
                @media (min-width: 425px){
                    margin-bottom: 0px;
                }
                .pg-btn {
                    padding: 10px 30px;
                    font-size: 12px;
                    @media(min-width:1200px){
                        font-size: 14px;
                    }
                    @media(min-width:1400px){
                        padding: 10px 30px;
                        font-size: 16px;
                    }
                    &:focus{
                      box-shadow: none;
                      outline: none;
                    }
                    &:active{
                      &:focus{
                        box-shadow: none;
                        outline: none;
                      }
                    }
                    &.pg-btn-primary{
                      border: 2px solid var(--bs-success-500);
                      border-radius: 100px;
                      background: var(--bs-success-500);
                      color: white;
                      svg{
                        path{
                          transition: .3s;
                        }
                      }
                      span{
                          margin-left: 8px;
                          @media (min-width:1200px){
                              margin-left: 12px;
                          }
                          @media (min-width:1400px){
                            margin-left: 18px;
                        }
                      }
                      &:hover{
                        background: white;
                        color: var(--bs-success-500);
                        svg{
                          path{
                            stroke: var(--bs-success-500);
                          }
                        }
                      }
                    }
                  }
            }
            .social-link{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 12px;
                flex-wrap: wrap;
                @media(min-width:425px){
                    margin-left: 12px;
                }
                @media(min-width:1200px){
                    margin-left: 18px;
                }
                @media(min-width:1400px){
                    margin-left: 24px;
                }
                li{
                    margin-right: -4px;
                    .media-item{
                        min-height: 36px;
                        max-height: 36px;
                        min-width: 36px;
                        min-height: 36px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid #EAF7ED;
                        border-radius: 500px;
                        background: white; 
                        transition: .3s;
                        @media(min-width: 1400px){
                            min-height: 48px;
                            max-height: 48px;
                            min-width: 48px;
                            min-height: 48px;
                        }
                        i{
                            color: var(--bs-success-500);
                            transition: .3s;
                            font-size: 16px;
                        }
                        &:hover{
                            background: var(--bs-success-500);
                            i{
                                color: white;
                            }
                            border-color: var(--bs-success-500);
                        }
                    }
                }
            }
        }
    }
}
