
.dev-display-title{
  .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.125;
    @media (min-width:480px) {
      font-size: 36px;
    }
    @media (min-width:992px) {
      font-size: 54px;
    }
    @media (min-width:1200px) {
      font-size: 64px;
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.333333333333333;
    @media (min-width:768px) {
      font-size: 18px;
    } 
    @media (min-width:992px) {
      font-size: 24px;
    } 
  }
}
.dev-section-title{
  .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.166666666666667;
    color: var(--bs-gray-900);
    padding-bottom: 15px;
    @media (min-width:575px) {
      font-size: 38px;
    }
    @media (min-width:992px) {
      font-size: 48px;
      padding-bottom: 24px;
    } 
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    color: var(--bs-gray-700);
    line-height: 1.4;
    @media (min-width:768px) {
      font-size: 18px;
    }
    @media (min-width:992px) {
      font-size: 20px;
    }
  }
}
.fw-600{
  font-weight: 600;
}
.photographer-display-title{
  .title{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.166666666666667;
    font-family: 'Barlow', sans-serif;
    @media (min-width:768px) {
      font-size: 38px;
      
    }
    @media (min-width:992px) {
      font-size: 48px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--bs-gray-200);
    font-family: 'Barlow', sans-serif;
    @media (min-width:575px) {
      font-size: 18px;
    }
    @media (min-width:768px) {
      font-size: 20px;
    }
  }
}
.photographer-section-title{
  .title{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 32px;
    color: var(--bs-gray-900);
    line-height: 122%;
    font-family: 'Barlow', sans-serif;
    @media (min-width:992px) {
      margin-bottom: 20px;
      font-size: 36px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-gray-700);
    font-family: 'Barlow', sans-serif;
  }
}
.doctor-display-title{
  .subtitle{
    font-family: 'JetBrains Mono', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 133%;
    color: var(--bs-gray-900);
    padding-bottom: 10px;
    @media (min-width:992px) {
      padding-bottom: 20px;
      font-size: 24px;
      
    }
  }
  .title{
    font-weight: 700;
    font-size: 36px;
    color: var(--bs-gray-900);
    line-height: 100%;
    font-family: 'JetBrains Mono', sans-serif;
    padding-bottom: 20px;
    @media (min-width:575px) {
      font-size: 40px;
      padding-bottom: 30px;
    }
    @media (min-width:768px) {
      font-size: 50px;
      
    }
    @media (min-width:992px) {
      padding-bottom: 40px;
      font-size: 60px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--bs-gray-900);
    font-family: 'JetBrains Mono', sans-serif;
    @media (min-width:575px) {
      font-size: 18px;
    }
    @media (min-width:768px) {
      font-size: 20px;
    }
  }
}
.doctor-section-title{
  text-align: center;
  .title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 32px;
    color: var(--bs-gray-900);
    line-height: 117%;
    font-family: 'JetBrains Mono', sans-serif;
    @media (min-width:768px) {
      font-size: 38px;
      
    }
    @media (min-width:992px) {
      font-size: 48px;
      
    }
  }
  .line{
    display: block;
    width: 200px;
    height: 1px;
    background: var(--bs-gray-100);
    margin: 24px auto;
    
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-gray-600);
    font-family: 'JetBrains Mono', sans-serif;
  }
}
.ui-display-title{
  .title{
    font-weight: 600;
    font-size: 36px;
    color: var(--bs-gray-900);
    line-height: 112%;
    font-family: 'Sora', sans-serif;
    padding-bottom: 20px;
    @media (min-width:575px) {
      font-size: 44px;
      padding-bottom: 25px;
    }
    @media (min-width:768px) {
      font-size: 54px;
      
    }
    @media (min-width:992px) {
      padding-bottom: 32px;
      font-size: 64px;
      
    }
    span{
      color: var(--bs-tertiary-500);
      text-decoration: underline;
    }
  }
  .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: var(--bs-gray-900);
    font-family: 'Sora', sans-serif;
    @media (min-width:575px) {
      font-size: 18px;
    }
    @media (min-width:768px) {
      font-size: 20px;
    }
  }
}
.ui-section-title{
  text-align: center;
  .title{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 32px;
    color: var(--bs-gray-900);
    line-height: 117%;
    font-family: 'Sora', sans-serif;
    @media (min-width:768px) {
      font-size: 38px;
      
    }
    @media (min-width:992px) {
      font-size: 48px;
      
    }
  }
  .text{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-gray-600);
    font-family: 'Sora', sans-serif;
  }
}
.pd-display-title{
  .subtitle{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
  }
  .title{
    font-weight: 700;
    font-size: 36px;
    color: white;
    line-height: 1.166666666666667;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 20px;
    @media (min-width:575px) {
      font-size: 38px;
      padding-bottom: 25px;
    }
    @media (min-width:992px) {
      font-size: 48px;
      padding-bottom: 24px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.333333333333333;
    color: var(--bs-gray-v2-300);
    font-family: 'Work Sans', sans-serif;
    @media (min-width:575px) {
      font-size: 18px;
    }
  }
}
.pd-section-title{
  .title{
    font-weight: 700;
    font-size: 36px;
    color: var(--bs-gray-v2-900);
    line-height: 1.142857142857143;
    font-family: 'Work Sans', sans-serif;
    @media (min-width:768px) {
      font-size: 46px;
    }
    @media (min-width:992px) {
      font-size: 56px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.333333333333333;
    color: var(--bs-gray-v2-600);
    font-family: 'Work Sans', sans-serif;
    padding-top: 18px;
    @media (min-width:575px) {
      padding-top: 24px;
      font-size: 18px;
    }
  }
}
.resume-display-title{
  .subtitle{
    display: flex;
    align-items: center;
    .line{
      display: block;
      width: 32px;
      height: 2px;
      margin-right: 12px;
      background: var(--bs-resume-500);
    }
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: var(--bs-resume-500);
      padding-bottom: 8px;
      @media(max-width:992px) {
        justify-content: center;
      }
  }
  .title{
    font-weight: 600;
    font-size: 36px;
    color: var(--bs-gray-v2-900);
    line-height: 1.2;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 18px;
    @media (min-width:992px) {
      padding-bottom: 24px;
      font-size: 40px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--bs-gray-v2-500);
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 18px;
    @media (min-width:992px) {
      padding-bottom: 24px;
    }
  }
}
.resume-section-title{
  .title{
    font-weight: 600;
    color: var(--bs-gray-v2-900);
    font-size: 32px;
    line-height: 40px;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 16px;
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-gray-v2-500);
    font-family: 'Fira Sans', sans-serif;
  }
}
.ceo-display-title{
  .title{
    font-weight: 900;
    font-size: 36px;
    color: var(--bs-ceo-900);
    line-height: 1.1;
    font-family: 'Satoshi';
    padding-bottom: 24px;
    @media (min-width: 640px) {
      font-size: 44px;
    }
    @media (min-width:992px) {
      font-size: 60px;  
    }
    @media (min-width:1200px) {
      font-size: 70px;
      
    }
    @media (min-width:1400px) {
      font-size: 80px;
      
    }
  }
  .text{
    font-family: 'Satoshi';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333333333333333;
    color: var(--bs-ceo-700);
    @media (min-width:992px) {
      font-size: 24px;
    }
  }
}
.ceo-display-title-two{
  .subtitle{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: var(--bs-ceo-500);
    padding-bottom: 10px;
  }
  .title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.333333333333333;
    color: var(--bs-ceo-900);
    padding-bottom: 15px;
    @media (min-width:768px) {
      padding-bottom: 20px;
      font-size: 24px;
    }
  }
  .text{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.333333333333333;
    color: var(--bs-ceo-700);
    padding-bottom: 24px;
    @media (min-width:768px) {
      font-size: 18px;
      padding-bottom: 32px;
    }
  }
}
.ceo-section-title{
  .subtitle{
    font-family: 'Satoshi';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: var(--bs-ceo-500);
    padding-bottom: 12px;
  }
  .title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    color: var(--bs-ceo-900);
    line-height: 1.166666666666667;
    @media (min-width:992px) {
      font-size: 48px;
    }
  }
  .text{
    font-family: 'Satoshi';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.333333333333333;
    color: var(--bs-ceo-400);
    padding-top: 20px;
    @media (min-width:992px) {
      padding-top: 32px;
      font-size: 18px;
    }
  }
}