
.dev-display-title{
  .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.125;
    @media (min-width:480px) {
      font-size: 36px;
    }
    @media (min-width:992px) {
      font-size: 54px;
    }
    @media (min-width:1200px) {
      font-size: 64px;
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.333333333333333;
    @media (min-width:768px) {
      font-size: 18px;
    } 
    @media (min-width:992px) {
      font-size: 24px;
    } 
  }
}
.dev-section-title{
  .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.166666666666667;
    color: var(--bs-gray-900);
    padding-bottom: 15px;
    @media (min-width:575px) {
      font-size: 38px;
    }
    @media (min-width:992px) {
      font-size: 48px;
      padding-bottom: 24px;
    } 
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    color: var(--bs-gray-700);
    line-height: 1.4;
    @media (min-width:768px) {
      font-size: 18px;
    }
    @media (min-width:992px) {
      font-size: 20px;
    }
  }
}
.fw-600{
  font-weight: 600;
}
.photographer-display-title{
  .title{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.166666666666667;
    font-family: 'Barlow', sans-serif;
    @media (min-width:768px) {
      font-size: 38px;
      
    }
    @media (min-width:992px) {
      font-size: 48px;
      
    }
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--bs-gray-200);
    font-family: 'Barlow', sans-serif;
    @media (min-width:575px) {
      font-size: 18px;
    }
    @media (min-width:768px) {
      font-size: 20px;
    }
  }
}
