.law-client-section{
  background: var(--bs-white);
  .container{
    @media (min-width: 1400px) {
      max-width: 1170px;
    }
  }
  h3{
    line-height: 1.25;
    font-weight: 400;
    font-size: 32px;
    max-width: 450px;
    margin-bottom: 50px;
    color: var(--bs-gray-900);
    font-family: 'Barlow', sans-serif;
    @media (max-width: 575px) {
      font-size: 24px;
    }
    span{
      font-weight: 600;
      color: var(--bs-primary-500);
    }
    @media (max-width:  991px) {
      margin-bottom: 40px;
    }
  }
}

.law-client-slider-item{
  text-align: center;
  a{
    img{
     filter: grayscale(100%);
     transition: 0.3s;
    }
    &:hover{
     img{
       filter: grayscale(0);
     }
    }
   }
}
