.resume-section{
    padding: 64px 0;
    &__experience,
    &__education{
        .resume-content{
           .qualification-list{
               margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
           } 
        }
    }
    &__skills-interest{
        margin: 48px 0;
    }
}
.resume-content{
    .heading{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
        font-family: 'Fira Sans';
        color: var(--bs-resume-500);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;  
        text-transform: uppercase;
        margin-bottom: 24px;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }
    .qualification-list{
        span{
            color: var(--bs-resume-500);  
            font-family: 'Fira Sans', sans-serif;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding-bottom: 4px;
        }
        .title{
            font-family: 'Fira Sans', sans-serif;
            color: var(--bs-gray-v2-900);
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 10px;
        }
        .text{
            font-family: 'Fira Sans', sans-serif;
            color: var(--bs-gray-v2-600);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.resume-skill{
    .heading{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
        font-family: 'Fira Sans';
        color: var(--bs-resume-500);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;  
        text-transform: uppercase;
        margin-bottom: 24px;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }
&-bar{
    &__item{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
        .skill-bar-wrapper{
            margin-bottom: 9px;
            .skill-content{
                h5{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--bs-gray-v2-900);
                }
            }
        }
        .skill-bar{
            width: 100%;
            border-radius: 40px;
            height: 5px;
            background: var(--bs-resume-100);
            .skill-per{
                height: 5px;
                animation: fillbars 8s 1;
                border-radius: 40px;
                background: var(--bs-resume-500);
            }
        }
    }
}
}
.resume-interest{
    .heading{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
        font-family: 'Fira Sans';
        color: var(--bs-resume-500);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;  
        text-transform: uppercase;
        margin-bottom: 24px;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }  
    .resume-interest-itme-list{
        .row{
            border-bottom:1px solid var(--bs-gray-v2-100);
            &:last-child{
                border: 0;
            }
            .col-lg-4{
                border-right: 1px solid var(--bs-gray-v2-100);
                &:last-child{
                    border: 0;
                }
            }
        }
    }
    .interest-item{
        padding: 35px 0;
        text-align: center;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
        h6{
            padding-top: 12px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 500;
            color: var(--bs-gray-v2-900);
            font-size: 14px;
            line-height: 20px;  
        }
    }
}
.resume-projectstatistic{
    .heading{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
        font-family: 'Fira Sans';
        color: var(--bs-resume-500);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;  
        text-transform: uppercase;
        margin-bottom: 24px;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }
    .project-list{
        list-style: none;
        margin: 0;
        padding: 0;
        .list-itme{
            padding: 16px 0;
            border-bottom: 1.5px solid var(--bs-gray-v2-100);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
              font-weight: 600;
              color: var(--bs-gray-v2-900);  
            }
            .text-wrap{
                display: flex;
                align-items: center;
                span{
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: var(--bs-resume-500);
                    border-radius: 500px;
                }
                h6{
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px; 
                    padding-left: 8px;
                    color: var(--bs-gray-v2-700);
                }
            }
            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
.resume-workphase{
    .heading{
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
        }
        font-family: 'Fira Sans';
        color: var(--bs-resume-500);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;  
        text-transform: uppercase;
        margin-bottom: 24px;
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }
}
.work-phase{
    background: rgba(250, 237, 236, 0.5);
    border-radius: 8px;
    padding: 16px 0;
    .icon{
        margin: auto;
        border: 2px solid var(--bs-resume-500);
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        font-weight: 600;
        color: var(--bs-resume-500);
        svg{
            path{
                fill: var(--bs-resume-500);
            }
        }
    }
    h3{
        padding-top: 8px;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        color: var(--bs-gray-v2-900);
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-gray-v2-900); 
    }
}