{% macro render(args) %}
    <div class="inner-service-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mb-5 mb-lg-0">
                    <div class="inner-service-area__image-group">
                        <img src="./image/innerpage/service.png" alt="service" class="w-100 rounded-3">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-9 offset-xl-1">
                    <div class="dev-section-title">
                        <h2 class="title">
                            Front-end Development
                        </h2>
                        <p class="text">
                            Curabitur fringilla cursus magna, vel suscipit ante ultricies at. Duis velit massa, vehicula nec risus eu, mollis rhoncus erat. Pellentesque sed ultricies massa, id sagittis dolor. Nam et ultrices felis. Phasellus sollicitudin nibh neque, id malesuada dolor convallis convallis. Vivamus ullamcorper augue mauris, in porttitor sem vehicula a. Pellentesque sit amet enim arcu. Donec ultricies tristique felis a sagittis.
                        </p>
                        <a href="#" style="letter-spacing: 0.02em;" class="d-btn d-btn-primary text-capitalize">let’s work together 
                            <svg class="svg-1" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#FFFFFF" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg class="svg-2" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#FFFFFF" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
