{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/contact/_contact.njk" as Contact %}
{% import "pages/developer/_footer.njk" as FooterSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(developer)}}
  <!-- Header Section End -->
  <!-- Contact Section Start -->
  {{Contact.render({
    contactArea: "dev-contact-area"
  })}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
