{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-5/_hero.njk" as HeroSection %}
{% import "pages/landing-5/_about.njk" as AboutSection %}
{% import "pages/landing-5/_work.njk" as WorkSection %}
{% import "pages/landing-5/_award.njk" as AwardSection %}
{% import "pages/landing-5/_event.njk" as EventSection %}
{% import "pages/landing-5/_cta.njk" as CtaSection %}
{% import "pages/landing-5/_footer.njk" as FooterSection %}

{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderFive)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Work Section Start -->
  {{WorkSection.render()}}
  <!-- Work Section End -->
  <!-- Award Section Start -->
  {{AwardSection.render()}}
  <!-- Award Section End -->
  <!-- Event Section Start -->
  {{EventSection.render()}}
  <!-- Event Section End -->
  <!-- CTA Section Start -->
  {{CtaSection.render()}}
  <!-- CTA Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
