{% extends "template.njk" %}
{# {% import "components/Header/_header.njk" as Header %} #}
{% import "pages/landing-3/_hero.njk" as HeroSection %}
{% import "pages/landing-3/_footer.njk" as FooterSection %}
{% import "pages/landing-3/_testimonial.njk" as TestimonialSection %}
{% block main %}
  <!-- Header Section Start -->
  {# {{Header.render(siteHeaderOne)}} #}
  <!-- Header Section End -->
  <!-- Header Section Start -->
  {{HeroSection.render()}}
  <!-- Header Section End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
