{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-1/_hero.njk" as HeroSection %}
{% import "pages/landing-1/_project.njk" as ProjectSection %}
{% import "pages/landing-1/_testimonial.njk" as TestimonialSection %}
{% import "pages/landing-1/_footer.njk" as FooterSection %}
{% import "pages/landing-1/_service.njk" as ServiceSection %}
{% import "pages/landing-1/_cta.njk" as ContactSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderOne)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Project Section Start -->
  {{ProjectSection.render()}}
  <!-- Project Section End -->
    <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
