{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-1/_hero.njk" as HeroSection %}
{% import "pages/landing-1/_project.njk" as ProjectSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderOne)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Project Section Start -->
  {{ProjectSection.render()}}
  <!-- Project Section End -->
{% endblock %}
