{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/lawyer/_hero.njk" as HeroSection %} 
{% import "pages/lawyer/_client.njk" as ClientSection %}
{% import "pages/lawyer/_experiences.njk" as ExperiencesSection %}
{% import "pages/lawyer/_counter.njk" as CounterSection %}
{% import "pages/lawyer/_about.njk" as AboutSection %}
{% import "pages/lawyer/_awards.njk" as AwardsSection %}
{% import "pages/lawyer/_testimonial.njk" as TestimonialSection %} 
{% import "pages/lawyer/_blog.njk" as BlogSection %} 
{% import "pages/lawyer/_contact.njk" as ContactSection %} 
{% import "pages/lawyer/_footer.njk" as FooterSection %} 
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(lawyer)}}
  <!-- Header Section End -->
  
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- ClientSection Start -->
  {{ClientSection.render()}} 
  <!-- ClientSection End -->
  <!-- experiences Section Start -->
  {{ExperiencesSection.render()}} 
  <!-- experiences Section End -->
  <!-- Counter Section Start -->
  {{CounterSection.render()}} 
  <!-- Counter Section End -->
  <!-- About Start -->
  {{AboutSection.render()}} 
  <!-- About End -->
  <!-- Awards Start -->
  {{AwardsSection.render()}}
  <!-- Awards End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Blog Section Start -->
  {{BlogSection.render()}} 
  <!-- Blog Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}} 
  <!-- Footer Section End -->
  <!-- Theme Switcher button -->
  <div class="theme-change-button">
    <div class="toggle-button-switcher bg-primary-500">
      <input type="checkbox" class="toggle-button">
    </div>
  </div>
{% endblock %}
