{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-6/_hero.njk" as HeroSection %} 
{% import "pages/landing-6/_client.njk" as ClientSection %}
{% import "pages/landing-6/_experiences.njk" as ExperiencesSection %}
{% import "pages/landing-6/_counter.njk" as CounterSection %}
{% import "pages/landing-6/_about.njk" as AboutSection %}
{% import "pages/landing-6/_awards.njk" as AwardsSection %}
{% import "pages/landing-6/_testimonial.njk" as TestimonialSection %} 
{% import "pages/landing-6/_blog.njk" as BlogSection %} 
{% import "pages/landing-6/_contact.njk" as ContactSection %} 
{% import "pages/landing-6/_footer.njk" as FooterSection %} 
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderSix)}}
  <!-- Header Section End -->
  
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- ClientSection Start -->
  {{ClientSection.render()}} 
  <!-- ClientSection End -->
  <!-- experiences Section Start -->
  {{ExperiencesSection.render()}} 
  <!-- experiences Section End -->
  <!-- Counter Section Start -->
  {{CounterSection.render()}} 
  <!-- Counter Section End -->
  <!-- About Start -->
  {{AboutSection.render()}} 
  <!-- About End -->
  <!-- Awards Start -->
  {{AwardsSection.render()}}
  <!-- Awards End -->
  <!-- Testimonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testimonial Section End -->
  <!-- Blog Section Start -->
  {{BlogSection.render()}} 
  <!-- Blog Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}} 
  <!-- Footer Section End -->
{% endblock %}
