{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/photographer/_hero.njk" as HeroSection %}
{% import "pages/photographer/_gallery.njk" as GallerySection %}
{% import "pages/photographer/_pricing.njk" as PricingSection %}
{% import "pages/photographer/_service.njk" as ServiceSection %}
{% import "pages/photographer/_post.njk" as PostSection %}
{% import "pages/photographer/_about.njk" as AboutSection %}
{% import "pages/photographer/_blogs.njk" as BlogsSection %}
{% import "pages/photographer/_contact.njk" as ContactSection %}
{% import "pages/photographer/_footer.njk" as FooterSection %}

{% block main %}
  <!-- Header Section Start -->
  {{Header.render(photographer)}}
  
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Gallery Section Start -->
  {{GallerySection.render()}}
  <!-- Gallery Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Pricing Section Start -->
  {{PricingSection.render()}}
  <!-- Pricing Section End -->
  <!-- Blogs Section Start -->
  {{BlogsSection.render()}}
  <!-- Blogs Section End -->
  <!-- Post Section Start -->
  {{PostSection.render()}}
  <!-- Post Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
      <!-- Theme Switcher button -->
  <div class="theme-change-button">
    <div class="toggle-button-switcher bg-success-500">
    <input type="checkbox" class="toggle-button">
    </div>
  </div>
{% endblock %}
