{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-4/_hero.njk" as HeroSection %}
{% import "pages/landing-4/_post.njk" as PostSection %}
{% import "pages/landing-4/_contact.njk" as ContactSection %}

{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderFour)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Post Section Start -->
  {{PostSection.render()}}
  <!-- Post Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
{% endblock %}
