{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/developer/_hero.njk" as HeroSection %}
{% import "pages/developer/_project.njk" as ProjectSection %}
{% import "pages/developer/_testimonial.njk" as TestimonialSection %}
{% import "pages/developer/_counter.njk" as CounterSection %}
{% import "pages/developer/_footer.njk" as FooterSection %}
{% import "pages/developer/_service.njk" as ServiceSection %}
{% import "pages/service/_tools.njk" as ToolsSection %}
{% import "pages/designer/_work.njk" as WorkSection %}
{% import "pages/developer/_cta.njk" as ContactSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(developer)}}
  <!-- Header Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render({
    sectionClass:"bg-transparent",
    cardClass:"dev-card-service--modifi"
  })}}
  <!-- Service Section End -->
  <!-- Tools Section Start -->
  {{ToolsSection.render()}}
  <!-- Tools Section End -->
  <!-- Work Section Start -->
  {{WorkSection.render({
    sectionClass:"bg-gray-50",
    cardClass:"ui-work-card--modifi"
  })}}
  <!-- Work Section End -->
  <!-- Counter Section Start -->
  {{CounterSection.render()}}
  <!-- Counter Section End -->
  <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
