{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/developer/_project.njk" as ProjectSection %}
{% import "pages/service/_tools_v2.njk" as ToolsSection %}
{% import "pages/service/_service.njk" as ServiceSection %}
{% import "pages/developer/_footer.njk" as FooterSection %}
{% import "pages/designer/_work.njk" as WorkSection %}
{% block main %}
  <!-- Header Section Start -->
  {{Header.render(developer)}}
  <!-- Header Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Tools Section Start -->
  {{ToolsSection.render()}}
  <!-- Tools Section End -->
  <!-- Work Section Start -->
  {{WorkSection.render({sectionClass:"bg-gray-50", titleChange:"Work process"})}}
  <!-- Work Section End -->
  <!-- Project Section Start -->
  {{ProjectSection.render({
    titleChange:"Front-end Projects"
  })}}
  <!-- Project Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render({
    sectionClass:"dev-footer-area--modifi"
  })}}
  <!-- Footer Section End -->
    <!-- Theme Switcher button -->
  <div class="theme-change-button">
    <div class="toggle-button-switcher bg-primary-500">
      <input type="checkbox" class="toggle-button">
    </div>
  </div>
{% endblock %}
