{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/ceo/_hero.njk" as HeroSection %}
{% import "pages/ceo/_fun-fact.njk" as FunFactSection %}
{% import "pages/ceo/_testimonial.njk" as TestimonialSection %}
{% import "pages/ceo/_about.njk" as AboutSection %}
{% import "pages/ceo/_team.njk" as TeamSection %}
{% import "pages/ceo/_blog.njk" as BlogSection %}
{% import "pages/ceo/_cta.njk" as CtaSection %}
{% import "pages/ceo/_footer.njk" as FooterSection %}

{% block main %}
<div class="ceo-wrapper" style="background-image: url('./image/ceo/bg-shape.png')">
  <!-- Header Section Start -->
  {{Header.render(ceo)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Fun Fact Section Start -->
  {{FunFactSection.render()}}
  <!-- Fun Fact Section End -->
  <!-- Testmonial Section Start -->
  {{TestimonialSection.render()}}
  <!-- Testmonial Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Team Section Start -->
  {{TeamSection.render()}}
  <!-- Team Section End -->
  <!-- Blog Section Start -->
  {{BlogSection.render()}}
  <!-- Blog Section End -->
  <!-- Cta Section Start -->
  {{CtaSection.render()}}
  <!-- Cta Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
  <!-- Theme Switcher button -->
  <div class="theme-change-button">
    <div class="toggle-button-switcher bg-primary-500">
    <input type="checkbox" class="toggle-button">
    </div>
  </div>
</div>
{% endblock %}
