{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-2/_hero.njk" as HeroSection %}
{% import "pages/landing-2/_project.njk" as ProjectSection %}
{% import "pages/landing-2/_about.njk" as AboutSection %}
{% import "pages/landing-2/_award.njk" as AwardSection %}
{% import "pages/landing-2/_service.njk" as ServiceSection %}
{% import "pages/landing-2/_skill.njk" as SkillSection %}
{% import "pages/landing-2/_work.njk" as WorkSection %}
{% import "pages/landing-2/_blog.njk" as BlogSection %}
{% import "pages/landing-2/_contact.njk" as ContactSection %}
{% import "pages/landing-2/_footer.njk" as FooterSection %}

{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderTwo)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Project Section Start -->
  {{ProjectSection.render()}}
  <!-- Project Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Award Section Start -->
  {{AwardSection.render()}}
  <!-- Award Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Skill Section Start -->
  {{SkillSection.render()}}
  <!-- Skill Section End -->
  <!-- Work Section Start -->
  {{WorkSection.render()}}
  <!-- Work Section End -->
  <!-- Blog Section Start -->
  {{BlogSection.render()}}
  <!-- Blog Section End -->
    <!-- Contact Section Start -->
  {{ContactSection.render()}}
  <!-- Contact Section End -->
  <!-- Footer Section Start -->
  {{FooterSection.render()}}
  <!-- Footer Section End -->
{% endblock %}
