{% extends "template.njk" %}
{% import "components/Header/_header.njk" as Header %}
{% import "pages/landing-2/_hero.njk" as HeroSection %}
{% import "pages/landing-2/_project.njk" as ProjectSection %}
{% import "pages/landing-2/_about.njk" as AboutSection %}
{% import "pages/landing-2/_award.njk" as AwardSection %}
{% import "pages/landing-2/_service.njk" as ServiceSection %}
{% import "pages/landing-2/_cta.njk" as CalltoactionSection %}

{% block main %}
  <!-- Header Section Start -->
  {{Header.render(siteHeaderTwo)}}
  <!-- Header Section End -->
  <!-- Hero Section Start -->
  {{HeroSection.render()}}
  <!-- Hero Section End -->
  <!-- Project Section Start -->
  {{ProjectSection.render()}}
  <!-- Project Section End -->
  <!-- About Section Start -->
  {{AboutSection.render()}}
  <!-- About Section End -->
  <!-- Award Section Start -->
  {{AwardSection.render()}}
  <!-- Award Section End -->
  <!-- Service Section Start -->
  {{ServiceSection.render()}}
  <!-- Service Section End -->
  <!-- Call to Action Section Start -->
  {{CalltoactionSection.render()}}
  <!-- Call to Action Section End -->
{% endblock %}
