@use "../abstracts/mixins" as *;
@use "../bs-customization/colors" as *;
.d-btn {
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  text-transform: uppercase;
  padding: 12px 20px;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .5s;
  svg{
    margin-left: 12px;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.d-btn-primary{
    border: 2px solid var(--bs-primary-500);
    background: var(--bs-primary-500);
    color: white;
    position: relative;
    padding-right: 3.6em;
    .svg-1{
      position: absolute;
      right: 1.6em;
    }
    .svg-2{
      position: absolute;
      right: 0;
      opacity: 0;
      transform: translateX(-40px);
    }
    &:hover{
      background: transparent;
      color: var(--bs-primary-500);
      .svg-1{
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.4s ease-in-out;
        path{
          stroke: var(--bs-primary-500);
        }
      }
      .svg-2{
        opacity: 1;
        transform: translateX(0px);
        right: 1.6em;
        transition: all 0.4s ease-in-out;
        path {
          stroke: var(--bs-primary-500);
        }
      }
    }
  }
  &.d-btn-outline-primary{
    color: var(--bs-primary-500);
    border: 2px solid var(--bs-primary-50);
    box-sizing: border-box;
    border-radius: 8px;
    .svg-2{
      margin-left: 12px;
    }
    &:hover{
        border: 2px solid var(--bs-primary-500);
    }
    .svg-1,.svg-2{
      path{
        stroke: var(--bs-primary-500) !important;
      }
    }
}
}
.pg-btn {
  border-radius: 50px !important;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  font-family: 'Barlow', sans-serif;
  padding: 10px 30px;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.pg-btn-primary{
    border: 2px solid var(--bs-success-500);
    background: var(--bs-success-500);
    color: white;
   
    svg{
      path{
        transition: .3s;
      }
    }
    &:hover{
      border-color: var(--bs-success-500);
      background: transparent;
      color: var(--bs-success-500);
      
      svg{
        path{
          stroke: var(--bs-success-500);
        }
      }
    }
  }
  &.pg-btn-outline-primary{
    border: 2px solid var(--bs-success-500);
    background: transparent;
    color: var(--bs-success-500);
    svg{
      path{
        transition: .3s;
      }
    }
    &:hover{
      border-color: var(--bs-success-500);
      background: var(--bs-success-500);
      color: white;
      svg{
        path{
          stroke: white !important;
        }
      }
    }
  }
}
.dc-btn {
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  font-family: 'JetBrains Mono', sans-serif;
  padding: 1.2em 1.9em;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.dc-btn-primary{
    border: 2px solid var(--bs-secondary-500);
    background: var(--bs-secondary-500);
    color:#132238 !important ;
    &:hover{
      background: white;
    }
  }
  &.dc-btn-secondary{
    border: 2px solid var(--bs-secondary-500);
    background: white;
    color:#132238 !important ;
    &:hover{
      background: var(--bs-secondary-500);
    }
  }
}
.ui-btn {
  border-radius: 12px !important;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  font-family: 'Sora', sans-serif;
  padding: 18px 36px;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  border: none;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  svg{
    path{
     transition: .3s;
    }
  }
  &.ui-btn-primary{
    color: white;
    background: var(--bs-tertiary-500) ;
    box-shadow: 0px 12px 48px rgba(138, 67, 255, 0.24);
    svg{
      path{
        transition: .3s;
        stroke: white;
      }
    }
    &:hover{
      box-shadow: none;
      color: var(--bs-tertiary-500);
      background: var(--bs-tertiary-50);
      svg{
        path{
          stroke: var(--bs-tertiary-500);
        }
      }
    }
  }
  &.ui-btn-outline-primary{
      color: var(--bs-tertiary-500);
      border: 2px solid var(--bs-tertiary-50);
      box-sizing: border-box;
      border-radius: 8px;
      svg{
        margin-left: 12px;
      }
      &:hover{
          border: 2px solid var(--bs-tertiary-500);
      }
  }
}
.pd-btn {
  border: 2px solid var(--bs-product-500);
  border-radius: 30px !important;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  font-family: 'Work Sans', sans-serif;
  padding: 1em 2em;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  svg{
    path{
     transition: .3s;
     fill: var(--bs-product-500);
    }
  }
  &.pd-btn-primary{
    color: white;
    background: var(--bs-product-500) ;
    svg{
      path{
        transition: .3s;
        fill: white;
      }
    }
    &:hover{
      color: var(--bs-product-500);
      background: transparent;
      svg{
        path{
          fill: var(--bs-product-500);
        }
      }
    }
  }
  &.pd-btn-outline-primary{
      color: var(--bs-product-500);
      background: transparent;
      svg{
        margin-left: 8px;
      }
      &:hover{
         background: var(--bs-product-500);
         color: white;
         svg{
          path{
            fill: white;
          }
         }
      }
  }
}
.resume-btn {
  border-radius: 10px !important;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  padding: 12px 20px;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.resume-btn-primary{
    border: 2px solid var(--bs-resume-500);
    background: var(--bs-resume-500);
    color: white;
    svg{
      path{
        transition: .3s;
      }
    }
    &:hover{
      background: transparent;
      color: var(--bs-resume-500);
      svg{
        path{
          fill: var(--bs-resume-500)
        }
      }
    }
  }
  &.resume-btn-outline-primary{
    color: var(--bs-resume-500);
    background: transparent;
    border: 2px solid var(--bs-resume-500);
    svg{
      path{
        stroke: var(--bs-resume-500);
        fill: var(--bs-resume-500);
        transition: .3s;
      }
    }
    &:hover{
        background: var(--bs-resume-500);
        color: white;
        svg{
          path{
            stroke: white;
            fill: white;
          }
        }
    }
}
}
.ceo-btn {
  border-radius: 0 !important;
  font-family: 'Satoshi';
  font-weight: 900;
  font-size: 16px;
  display: inline-flex;
  text-transform: capitalize;
  padding: 1.1em 1.6em;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:focus{
    box-shadow: none;
    outline: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &.ceo-btn-primary{
    border: 2px solid var(--bs-ceo-500);
    background: var(--bs-ceo-500);
    color: white;
    svg{
      path{
        transition: .3s;
      }
    }
    &:hover{
      background: transparent;
      color: var(--bs-ceo-500);
      svg{
        path{
          stroke: var(--bs-ceo-500)
        }
      }
    }
  }
  &.ceo-btn-outline-primary{
    color: var(--bs-ceo-500);
    background: transparent;
    border: 2px solid var(--bs-ceo-500);
    svg{
      path{
        stroke: var(--bs-ceo-500);
        fill: var(--bs-ceo-500);
        transition: .3s;
      }
    }
    &:hover{
        background: var(--bs-ceo-500);
        color: white;
        svg{
          path{
            stroke: white;
            fill: white;
          }
        }
    }
}
}
button {
  &:focus {
    outline: none;
  }
}
.site-header{
  .header-btn{
    @media (max-width:991px) {
      text-align: center;
      margin-top: 55px;
    }
    .developer-header-btn{
      margin-left: 12px;
    }
  }
}
.d-video-link-btn{
  display: flex;
  align-items: center;
  font-weight: 600;
font-size: 16px;
color: white !important;
line-height: 24px;
.line{
  margin-right: 16px;
  width: 39px;
  height: 2px;
  background: rgba(255, 255, 255,0.24)
}
  svg{
margin-right: 12px;
  }
}
.d-video-btn{
  background: white;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.24);
  @include square(88px,500px);
  @include flexAllCenter;
}
.resume-video-btn{
  background: white;
  box-shadow: 0px 8px 36px rgba(18, 19, 20, 0.12);
  @include square(40px,10px);
  @include flexAllCenter;
  svg{
    path{
        fill: var(--bs-resume-500);
    }
}
}

.load-more-btn{
  border: 2px solid var(--bs-primary-50);
  display: inline-flex;
  line-height: 1;
  width: max-content;
  align-items: center;
  justify-content: center;
  transition: .3s;
  font-weight: 600;
  font-size: 16px;
  padding: 1.1em 1.6em;
  color: var(--bs-primary-500) !important;
  background: var(--bs-primary-50);
  border-radius: 8px;
  transition: .3s;
  svg{
    path{
      stroke: var(--bs-primary-500) !important;
    }
  }
  &:hover{
    background: transparent;
  }
}
.ceo-social-media-block{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    li{
      a{
        display: block;
        @include square(48px,0);
        @include flexAllCenter;
        border: 2px solid var(--bs-ceo-100);
        color: var(--bs-ceo-500);
        transition: .3s;
        &:hover{
          border-color: var(--bs-ceo-500);
          background: var(--bs-ceo-500);
          color: white;
        }
      }
    }
  }
}

/* Sweep To Right */
.sweep-to-right {
  display: inline-flex;
  gap: 12px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding: 14px 30px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 16px;
  font-weight: 700;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &:active{
    &:before{
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.sweep-to-right.black{
  background: var(--bs-gray-900);
  color: var(--bs-white);
  border: 2px solid var(--bs-gray-900);
  &:hover,
  &:focus,
  &:active {
    color: var(--bs-gray-900);
    border: 2px solid var(--bs-gray-900);
  }
  &:before{
    background: var(--bs-white);
  }
}

.sweep-to-right.white {
  color: var(--bs-gray-900);
  background: var(--bs-white);
  border: 2px solid var(--bs-white);
  &:hover,
  &:focus,
  &:active {
    color: var(--bs-white);
    border: 2px solid var(--bs-white);
  }

  &:before {
    background: var(--bs-gray-900);
  }
}

.sweep-to-right.secondary{
  color: var(--bs-gray-900);
  background: var(--bs-secondary-500);
  border: 2px solid var(--bs-secondary-500);
  padding: 18px 30px !important;
  &:hover,
  &:focus,
  &:active {
    color: var(--bs-gray-900);
    border: 2px solid var(--bs-gray-900);
  }
  &:before {
    background: var(--bs-white);
  }
}

.sweep-to-right.secondary-outline {
  color: var(--bs-gray-900);
  background: var(--bs-white);
  border: 2px solid var(--bs-gray-900);
  padding: 18px 30px !important;
  &:hover,
  &:focus,
  &:active {
    color: var(--bs-gray-900);
    border: 2px solid var(--bs-secondary-500);
  }

  &:before {
    background: var(--bs-secondary-500);
  }
}

.sweep-to-right-slider {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding: 14px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  max-height: 56px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.sweep-to-right-slider.slider-btn {
  border-radius: 100%;
  color: var(--bs-gray-900);
  background: var(--bs-white);
  border: 2px solid var(--bs-secondary-500);
  svg {
    display: inline-flex;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--bs-gray-900);
    border: 2px solid var(--bs-secondary-500);
  }

  &:before {
    border-radius: 100%;
    background: var(--bs-secondary-500);
  }
}

.sweep-to-right-slider.flc-slider-btn {
  border-radius: 100%;
  color: var(--bs-gray-900);
  background: var(--bs-white);
  border: 2px solid var(--bs-border-one);

  svg {
    display: inline-flex;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--bs-gray-900);
    border: 2px solid var(--bs-border-one);
  }

  &:before {
    border-radius: 100%;
    background: var(--bs-border-one);
  }
}

/* Sweep To Top */
.sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.sweep-to-top:hover,
.sweep-to-top:focus,
.sweep-to-top:active {
  color: white;
}

.sweep-to-top:hover:before,
.sweep-to-top:focus:before,
.sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.sweep-to-top.ui-btn-primary {
  color: var(--bs-white);
  border: 3px solid var(--bs-tertiary-500);
  background: var(--bs-tertiary-500);
  padding: 21px 33px;
  box-shadow: 0px 12px 48px rgba(133, 255, 189, 0.48);
  border-radius: 10px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  &:hover {
    color: var(--bs-tertiary-500);
    border: 3px solid var(--bs-tertiary-50);
  }

  &:before {
    background: var(--bs-tertiary-50);
  }
}

.sweep-to-top.ui-btn-secondary {
  box-shadow: none;
  color: var(--bs-tertiary-500);
  background: var(--bs-tertiary-50);
  border: 3px solid transparent;
  padding: 21px 33px;
  border-radius: 10px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  &:hover {
    color: var(--bs-white);
    background: transparent;
    box-shadow: none;
    border: 3px solid var(--bs-tertiary-500);
  }

  &:before {
    background: var(--bs-tertiary-500);
  }
}

.sweep-to-top.ui-btn-secondary.ui-btn-secondary-outline {
  box-shadow: none;
  color: var(--bs-tertiary-500);
  background: transparent;
  border: 3px solid var(--bs-tertiary-50);
  padding: 13px 21px;

  &:hover {
    color: var(--bs-white);
    background: transparent;
    box-shadow: none;
    border: 3px solid var(--bs-tertiary-500);
  }

  &:before {
    background: var(--bs-tertiary-500);
  }
}

.sweep-to-top.pd-btn-secondary {
  box-shadow: none;
  color: var(--bs-product-500);
  background: transparent;
  border: 2px solid var(--bs-product-500);
  padding: 14px 30px;
  border-radius: 56px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:hover {
    color: var(--bs-white);
  }

  &:before {
    border: 2px solid var(--bs-product-500);
    background: var(--bs-product-500);
    border-radius: 56px;
  }
}

.sweep-to-top.pd-btn-primary {
  box-shadow: none;
  color: var(--bs-white);
  background: var(--bs-product-500);
  border: 2px solid var(--bs-product-500);
  padding: 14px 30px;
  border-radius: 56px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &:hover {
    color: var(--bs-product-500);
  }

  &:before {
    background: var(--bs-white);
    border: 2px solid var(--bs-product-500);
    border-radius: 56px;
  }
}

.header-button a.sweep-to-right.secondary{
  font-size: 14px !important;
  padding: 12px 30px !important;
  max-height: 48px !important;
}