@use "../abstracts/colors" as *;
@use "./menu";

/*Header Css StaRT*/

.site-navbar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  @media (min-width: 992px) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-block-wrapper {
    @media (min-width: 992px) {
      display: flex;
      width: 100%;
      align-items: center;
    }
  }
  .site-header__btns {
    @media (min-width: 992px) {
      display: flex;
    }
  }
}

.site-header {
  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  &--sticky {
    &:not(.mobile-sticky-enable) {
      position: absolute !important;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 999;

      @media (min-width: 992px) {
        position: fixed !important;
        transition: 0.4s;

        &.scrolling {
          transform: translateY(-100%);
          transition: 0.4s;
        }

        &.reveal-header {
          transform: translateY(0%);
          box-shadow: 0 12px 34px -11px rgba(65, 62, 101, 0.1);
          z-index: 1000;

          a {
            color: white;
          }

          .btn-link {
            color: $btn-link-color;
          }
        }
      }
    }

    &.mobile-sticky-enable {
      top: 0;
      right: 0;
      width: 100%;
      z-index: 999;
      position: fixed !important;
      transition: 0.4s;

      &.scrolling {
        transform: translateY(-100%);
        transition: 0.4s;
      }

      &.reveal-header {
        transform: translateY(0%);
        box-shadow: 0 12px 34px -11px rgba(65, 62, 101, 0.1);
        z-index: 9999;
      }
    }
  }

  &--menu {
    &-center {
      --button-width: 265px;
      --translateLG: 35px;
      --translateXL: 30px;
      .container {
        position: relative;
      }

      .menu-block-wrapper {
        position: static;
      }
      .menu-block-inner {
        @media (min-width: 992px) {
          width: 100%;
        }
      }
    }
    &-left {
      .container-fluid {
        .sub-menu.megamenu {
          @media (min-width: 992px) {
            left: 50%;
            transform: translateX(-50%) translateY(10px);
          }
        }

        .nav-item.has-megamenu:hover > .sub-menu {
          @media (min-width: 992px) {
            transform: translateX(-50%) translateY(-2px);
            left: 50%;
          }
        }
      }

      .menu-block {
        .site-menu-main {
          justify-content: flex-start;
          // padding-left: 30px;
          @media (min-width: 992px) {
            padding-left: 61px;
          }
        }

        @media (min-width: 1200px) {
          width: 100%;
        }
      }
    }

    &-right {
      .menu-block {
        margin-left: auto;
      }

      > .container-fluid {
        .sub-menu.megamenu {
          @media (min-width: 992px) {
            left: 100%;
            transform: translateX(-100%) translateY(10px);
          }
        }

        .nav-item.has-megamenu:hover > .sub-menu {
          @media (min-width: 992px) {
            transform: translateX(-100%) translateY(-10px);
            left: 100%;
          }
        }
      }
    }
  }
}

.site-header--dark {
  .nav-link-item {
    color: #fff !important;
  }
  .mobile-menu-trigger span {
    background-color: #fff;
    &:before,
    &:after {
      background-color: #fff;
    }
  }
}

/* Header Center */
.site-header--menu-center {
  .menu-block {
    .site-menu-main {
      padding: 0;
    }
  }
  .site-menu-main {
    justify-content: center;
  }
}

.menu-block:not(.active) {
  @media (max-width: 991px) {
    opacity: 0;
  }
}

/* Header Logo Dark */
.logo-dark {
  .site-header__brand {
    .logo-white {
      display: block;
    }
    .logo-black {
      display: none;
    }
  }
}
/* Header trigger Dark */
.mobile-menu-trigger-dark {
  .mobile-menu-trigger {
    span {
      background-color: black;
      &::before,
      &::after {
        background-color: black;
      }
    }
  }
}
.developer-header{
    margin: 32px 0;
  .site-header__brand{
    .logo{
      display: flex;
      align-items: center;
      img{
       min-width: 48px;
       max-width: 48px;
       min-height: 48px;
       max-height: 48px;
       object-fit: cover;
       border-radius: 500px; 
       margin-right: 12px;
      }
      .text{
        color: var(--bs-gray-900);
        white-space:nowrap;
        font-weight: 700;
        font-size: 18px;
        @media (min-width:575px) {
          font-size: 24px;
        }
      }
    }
  }
}
.photographer-header{
    margin: 24px 0;
  .site-header__brand{
    .logo{
      display: flex;
      align-items: center;
      img{
       min-width: 48px;
       max-width: 48px;
       min-height: 48px;
       max-height: 48px;
       object-fit: cover;
       border-radius: 500px; 
       margin-right: 12px;
      }
      .text{
        color: white;
        white-space:nowrap;
        font-weight: 600;
        font-family:'Barlow', sans-serif;
        font-size: 18px;
        @media (min-width:575px) {
          font-size: 24px;
        }
      }
    }
  }
  .site-menu-main{
    .nav-link-item{
      font-weight: 500;
      font-size: 16px;
      font-family:'Barlow', sans-serif;
      color: var(--bs-gray-400);
      &:hover{
        color: white;
      }
    }
  }
}
.doctor-header{
    margin: 22px 0;
    @media (min-width:992px) {
      margin: 32px 0;
    }
    .site-navbar{
      align-items: end;
    }
  .site-header__brand{
    .logo{
      display: block;
      padding: 20px;
      background: var(--bs-gray-900);
      padding-top: 45px;
      @media (min-width:992px) {
        padding-top: 56px;
      }
      .text{
        font-family: 'JetBrains Mono', sans-serif;
        font-weight: 700;
        line-height: 108%;
        color: white;
        font-size: 18px;
        @media (min-width:575px) {
          font-size: 24px;
        }
      }
    }
  }
  .site-menu-main{
    @media (min-width:992px) {
      border-right: 1px solid var(--bs-gray-100);
      padding-right: 12px;
    }
    .nav-link-item{
      font-weight: 500;
      font-size: 16px;
      padding: 8px 16px;
      line-height: 24px;
      font-family:'Barlow', sans-serif;
      color: var(--bs-gray-700);
      &:hover{
        background: var(--bs-secondary-200);
      }
    }
  }
}
.ui-header{
    margin: 22px 0;
    @media (min-width:992px) {
      margin: 32px 0;
    }
  .site-header__brand{
    .logo{
      display:flex;
      align-items: center;
      .icon{
        margin-right: 16px;
        max-width:56px;
        min-width:56px;
        min-height:56px;
        max-height:56px;
        justify-content: center;
        display: flex;
        align-items: center;
        background: var(--bs-tertiary-500);
        box-shadow: 0px 8px 24px rgba(138, 67, 255, 0.24);
        border-radius: 8px;
      }
      .text-wrapper{
        p{
          font-family: 'Sora', sans-serif;
          font-weight: 600;
          line-height: 120%;
          white-space: nowrap;
          color: var(--bs-gray-900);
          font-size: 18px;
          @media (min-width:575px) {
            font-size: 24px;
          }
        }
        span{
          text-transform: uppercase;
          font-family: 'Sora', sans-serif;
          white-space: nowrap;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: var(--bs-gray-400);
        }
      }
    }
  }
  .site-menu-main{
    .nav-link-item{
      font-weight: 400;
      font-size: 16px;
      padding: 16px 15px;
      line-height: 24px;
      font-family:'Sora', sans-serif;
      color: var(--bs-gray-600);
      &:hover{
        color: var(--bs-gray-900);
      }
    }
  }
}
