@forward "developer";
@forward "designer";
@forward "freelancer";
@forward "photographer";
@forward "doctor";
@forward "lawyer";
@forward "product-designer";
@forward "ceo";
@forward "resume";
@forward "service";
@forward "contact";
@forward "404page";
@forward "project";
@forward "article";
