{% macro render(args) %}
    <div class="ui-about-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-md-10 col-lg-6 mb-5 mb-lg-0">
                    <div class="ui-about-area__iamge-group">
                        <img src="./image/l-2/about.png" alt="about" class="w-100">
                    </div>
                </div>
                <div class="col-xl-5 col-md-10 col-lg-6">
                    <div class="ui-about-area__content">
                        <ul class="content">
                            <li class="text-danger-500">🔥 Designer</li>
                            <li class="text-primary-500">📚 Instructor</li>
                            <li class="text-tertiary-500">🎤 Podcaster</li>
                        </ul>
                        <h2 class="title">I'm a Professional UI/UX Designer Based on Tokyo.</h2>
                        <p class="text">
                        <span class="d-block pb-2">Aliquam interdum vehicula ornare. Donec condimentum gravida purus sit amet lobortis.</span> Proin a dui ac augue pulvinar malesuada. Quisque ac velit non gravida elementum a vel ex. Vivamus finibus ex in venenatis pellentesque. Phasellus nec porta enim. Donec id purus id est efficitur pulvinar. Duis nec tempus ligula.
                        </p>
                        <a href="#" class="ui-btn ui-btn-primary">
                            <svg width="24" class="me-2" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.0625 10.3125L12 14.25L15.9375 10.3125" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 3.75V14.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.25 14.25V19.5C20.25 19.6989 20.171 19.8897 20.0303 20.0303C19.8897 20.171 19.6989 20.25 19.5 20.25H4.5C4.30109 20.25 4.11032 20.171 3.96967 20.0303C3.82902 19.8897 3.75 19.6989 3.75 19.5V14.25" stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                                Download CV                               
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
