{% macro render(args) %}
<div class="ui-testimonial-section">
    <div class="container">
        <div class="ui-section-title">
            <h2 class="title">Client Testimonial</h2>
            <p class="text">Nam malesuada est elementum nibh tristique, non ornare <br class="d-none d-xs-block"> lacus
                mollis. Sed lectus nulla, ultrices in gravida in.</p>
        </div>
    </div>
    <div class="ui-testimonial-section__slider">
        <div class="ui-testimonial-slider">
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-1.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            “Kevin is very hard and great worker. He thinks about prolem, find solution and has a awesome working morale”
                        </h6>
                        <div class="client-info">
                            <h6>Cameron Williamson</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-2.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.
                        </h6>
                        <div class="client-info">
                            <h6>Esther Howard</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-3.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            “Kevin is very hard and great worker. He thinks about prolem, find solution and has a awesome working morale”
                        </h6>
                        <div class="client-info">
                            <h6>Cameron Williamson</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-2.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.
                        </h6>
                        <div class="client-info">
                            <h6>Savannah Nguyen</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-3.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            “Kevin is very hard and great worker. He thinks about prolem, find solution and has a awesome working morale”
                        </h6>
                        <div class="client-info">
                            <h6>Cameron Williamson</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider">
                <div class="ui-testimonial-card">
                    <div class="card-image">
                        <img src="./image/l-2/t-2.png" alt="client">
                    </div>
                    <div class="content">
                        <h6 class="text">
                            Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.
                        </h6>
                        <div class="client-info">
                            <h6>Savannah Nguyen</h6>
                            <p>Chief Executive Officer of <span>GIGL</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-testimonial-slider__control-buttons">
            <button class="button button--prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.25 12H3.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </button>
            <button class="button button--next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </button>
        </div>
    </div>
</div>
{% endmacro %}
