.ui-about-area{
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 60px 0;
    }
    @media (min-width:992px) {
        padding: 80px 0 100px;
    }
    @media (min-width:1200px) {
        padding: 90px 120px;
    }
    &__iamge-group{
        position: relative;
        @media (min-width:1200px) {
            margin-left: -70px;
        }
    }
    &__content{
        .content{
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 16px;
            @media (min-width:992px) {
                gap: 24px;
            }
            li{
                font-family: 'Sora', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .title{
            font-family: 'Sora', sans-serif;
            font-weight: 600;
            margin-bottom: 26px;
            line-height: 122%;
            margin-bottom: 25px;
            @media (min-width:992px) {
                font-size: 36px;
            }
        }
        .text{
            font-family: 'Sora', sans-serif;
            font-weight: 300;
            line-height: 144%; 
            font-size: 16px;
            @media (min-width:992px) {
                font-size: 18px;
            }
        }
        .ui-btn{
            margin-top: 25px;
            @media (min-width:992px) {
                margin-top: 32px;
            }
        }
    }
}
.social-media-group{
    @media (min-width:1200px) {
        position: absolute;
        bottom: 32px;
        left: 32px;
        left: 102px;
    }
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 24px 88px rgba(19, 34, 56, 0.08);
    backdrop-filter: blur(32px);
    padding: 32px;
    .title{
        color: var(--bs-gray-900);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .social-link{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 4px;
            max-width: 48px;
            max-height: 48px;
            min-width: 48px;
            min-height: 48px;
        }
    }
}
