.ui-calltoaction-area{
    padding: 60px 0;
    background: url("./image/l-2/calltoaction-bg.png"), linear-gradient(90deg, #132238 0%, rgba(19, 34, 56, 0.8) 43.44%, rgba(19, 34, 56, 0) 100%) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:9;
    @media (min-width:768px) {
        padding: 80px 0;
    }
        @media (min-width:992px) {
        padding: 100px 0;
        
    }
        @media (min-width:1200px) {
        padding: 120px 0;
        
    }
    .ui-section-title{
        text-align: start;
        .title{
            font-weight: 600;
            font-size: 48px;
            line-height: 1.17;
            color: white;
            padding-bottom: 24px;
        }
        .text{
            font-weight: 300;
            font-size: 24px;
            line-height: 1.33;
            color: white;
            padding-bottom: 40px;
        }
    }
}
