.ui-logo-area{
    .ui-logo-area-title{
        margin-bottom: 32px;
      .title{
        font-family: 'Sora', sans-serif;
        color: var(--bs-gray-900);
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }  
    }
}
.ui-single-logo{
    background: white;
    border-radius: 12px;
    padding: 16px 0;

}
