.doctor-book-area{
    background-color: #132238;
    padding: 100px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__feature{
        //border-left: 1px solid var(--bs-gray-700);
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 100px;
            bottom: 100px;
            left: 0;
            width: 1px;
            background-color: var(--bs-gray-700);

        }
        padding: 100px 5px 100px 100px;
        &-top{
            .title{
                font-family: 'JetBrains Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.25;
                color: white;
                padding-bottom: 16px;
            }
            .text{
                font-family: 'JetBrains Mono';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: var(--bs-gray-400);
                padding-bottom: 24px;
            }
            .writer{
                display: flex;
                align-items: center;
                padding-bottom: 32px;
                height: max-content;
                img{
                    margin-right: 16px;
                }
                &-info{
                    .title{
                        font-family: 'JetBrains Mono';
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 1;
                        text-transform: uppercase;
                        color: var(--bs-gray-500);
                    }
                    .text{
                        font-family: 'JetBrains Mono';
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.5;
                        color: white;
                    }
                }
            }
        }
        &-bottom{
            &-list{
                .title{
                    font-family: 'JetBrains Mono';
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.4;
                    color: white;
                    padding-bottom: 12px;
                }
                .text{
                    font-family: 'JetBrains Mono';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: var(--bs-gray-400);
                    padding-bottom: 24px;
                }
            }
        }
    }
}
