.doctor-testimonial-area{
    padding: 100px 0;
    background-color: #132238;
    &__review{
        
        .title{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 500;
            font-size: 14px;
            @media (min-width:768px){
                font-size: 16px;
            }
            @media (min-width:992px){
                font-size: 18px;
            }
            line-height: 1;
            text-transform: uppercase;
            color: var(--bs-secondary-500);
            padding-bottom: 50px;
        }
        .quote{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 400;
            font-size: 24px;
            @media (min-width:768px){
                font-size: 28px;
            }
            @media (min-width:992px){
                font-size: 32px;
            }
            line-height: 1.25;
            color: white;
            padding-bottom: 50px;
        }
        .name{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 600;
            font-size: 16px;
            @media (min-width:768px){
                font-size: 20px;
            }
            @media (min-width:992px){
                font-size: 24px;
            }
            line-height: 1.33;
            color: white;
            padding-bottom: 10px;
        }
        .designation{
            font-family: 'JetBrains Mono', sans-serif;
            font-weight: 500;
            font-size: 12px;
            @media (min-width:768px){
                font-size: 13px;
            }
            @media (min-width:992px){
                font-size: 14px;
            }
            line-height: 1;
            text-transform: uppercase;
            color: var(--bs-gray-300);
        }
      
    }
    &__client{
        display: flex;
        justify-content: end;
    }
}
