{% macro render(args) %}
<div class="dev-project-area bg-gray-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-9 col-lg-8">
                <div class="dev-section-title">
                    <h2 class="title">Related Article</h2>
                    <p class="text pr-xxl-88">Morbi risus elit, fringilla in cursus a, molestie non dui. Nunc accumsan
                        gravida risus, ac semper libero mollis ut.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4 col-md-3 d-none d-md-block">
                <div class="dev-project-slider__control-buttons">
                    <button class="button button--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.25 12H3.75" stroke="#132238" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#132238" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="button button--next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="dev-project-area__slider">
            <div class="dev-project-slider">
                <div class="single-slider">
                    <div class="ui-blog-card box-shadow-hover-none">
                        <div class="feature-img">
                            <a href="#">
                                <img src="./image/l-2/blog-01.png" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-content-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#1777E5" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>17 Oct, 2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 10.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 13.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M7.5 3.75V20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>5 min read</span>
                                </p>
                            </div>
                            <h2 class="blog-content-title">
                                <a href="#" class="title">Duis magna risus, convallis vel purus eu, sollicidin volutpat
                                    velit.</a>
                            </h2>
                            <p class="blog-content-text">Praesent turpis quam, dapibus id diam a, cursus lobortis mi.
                                Praesent nec lorem eget nisi sodales vehicula etiam sagittis dapibus.</p>
                            <div class="blog-content-btn">
                                <a href="#" class="d-btn d-btn-outline-primary">
                                    <span>Read More</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="ui-blog-card box-shadow-hover-none">
                        <div class="feature-img">
                            <a href="#">
                                <img src="./image/l-2/blog-02.png" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-content-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#1777E5" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>17 Oct, 2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 10.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 13.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M7.5 3.75V20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>5 min read</span>
                                </p>
                            </div>
                            <h2 class="blog-content-title">
                                <a href="#" class="title">
                                    Duis magna risus, convallis vel purus eu, sollicidin volutpat velit.
                                </a>
                            </h2>
                            <p class="blog-content-text">Praesent turpis quam, dapibus id diam a, cursus lobortis mi.
                                Praesent nec lorem eget nisi sodales vehicula etiam sagittis dapibus.</p>
                            <div class="blog-content-btn">
                                <a href="#" class="d-btn d-btn-outline-primary">
                                    <span>Read More</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="ui-blog-card box-shadow-hover-none">
                        <div class="feature-img">
                            <a href="#">
                                <img src="./image/l-2/blog-03.png" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-content-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#1777E5" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M16.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.5 2.25V5.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75 8.25H20.25" stroke="#1777E5" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>17 Oct, 2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 10.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 13.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M7.5 3.75V20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>5 min read</span>
                                </p>
                            </div>
                            <h2 class="blog-content-title">
                                <a href="#" class="title">Duis magna risus, convallis vel purus eu, sollicidin volutpat
                                    velit.</a>
                            </h2>
                            <p class="blog-content-text">Praesent turpis quam, dapibus id diam a, cursus lobortis mi.
                                Praesent nec lorem eget nisi sodales vehicula etiam sagittis dapibus.</p>
                            <div class="blog-content-btn">
                                <a href="#" class="d-btn d-btn-outline-primary">
                                    <span>Read More</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="ui-blog-card box-shadow-hover-none">
                        <div class="feature-img">
                            <a href="#">
                                <img src="./image/l-2/blog-02.png" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-content-meta">
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M16.5 2.25V5.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M7.5 2.25V5.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.75 8.25H20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>17 Oct, 2020</span>
                                </p>
                                <p>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 10.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.5 13.5H16.5" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M19.5 3.75H4.5C4.08579 3.75 3.75 4.08579 3.75 4.5V19.5C3.75 19.9142 4.08579 20.25 4.5 20.25H19.5C19.9142 20.25 20.25 19.9142 20.25 19.5V4.5C20.25 4.08579 19.9142 3.75 19.5 3.75Z"
                                            stroke="#8A43FF" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M7.5 3.75V20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>5 min read</span>
                                </p>
                            </div>
                            <h2 class="blog-content-title">
                                <a href="#" class="title">
                                    Duis magna risus, convallis vel purus eu, sollicidin volutpat velit.
                                </a>
                            </h2>
                            <p class="blog-content-text">Praesent turpis quam, dapibus id diam a, cursus lobortis mi.
                                Praesent nec lorem eget nisi sodales vehicula etiam sagittis dapibus.</p>
                            <div class="blog-content-btn">
                                <a href="#" class="d-btn d-btn-outline-primary">
                                    <span>Read More</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.75 12H20.25" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#8A43FF" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
