{% macro render(root, elemroot, hideMegamenu, dropdownStyle2, megamenuPosition) %}
    <ul class="site-menu-main">
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Landing <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                    <a href="index.html">Developer</a>
                </li>
                <li class="sub-menu--item">
                    <a href="designer.html">UI/UX Designer</a>
                </li>
                <li class="sub-menu--item">
                    <a href="freelancer.html">Freelancer</a>
                </li>
                <li class="sub-menu--item">
                    <a href="photographer.html">Photographer</a>
                </li>
                <li class="sub-menu--item">
                    <a href="doctor.html">Doctor</a>
                </li>
                <li class="sub-menu--item">
                    <a href="lawyer.html">Lawyer</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-2">

                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Articles<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-9">
                        <li class="sub-menu--item">
                            <a href="article.html">Article</a>
                        </li>
                        <li class="sub-menu--item">
                            <a href="article-details.html">Article Details</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                    <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="fas fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu" id="submenu-11">
                        <li class="sub-menu--item">
                            <a href="error.html">404</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Services <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-12">
                <li class="sub-menu--item">
                    <a href="service.html">Service</a>
                </li>
                <li class="sub-menu--item">
                    <a href="service-detail.html">Service Detail</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Projects <i class="fas fa-angle-down"></i>
            </a>
            <ul class="sub-menu" id="submenu-12">
                <li class="sub-menu--item">
                    <a href="project.html">Project</a>
                </li>
                <li class="sub-menu--item">
                    <a href="project-details.html">Project Details</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="contact.html" class="nav-link-item drop-trigger">Contact
            </a>
        </li>
    </ul>
{% endmacro %}
