{% macro render(root, elemroot, hideMegamenu, dropdownStyle2, megamenuPosition) %}
    <ul class="site-menu-main">
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Landing</i>
            </a>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Pages
            </a>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="#" class="nav-link-item drop-trigger">Blogs
            </a>
        </li>
        <li class="nav-item nav-item-has-children">
            <a href="contact.html" class="nav-link-item drop-trigger">Contact
            </a>
        </li>
    </ul>
{% endmacro %}
