.ceo-testimonial{
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 80px 0;
        
    }
    @media (min-width:992px) {
        padding: 120px 0;
        
    }
    @media (min-width:1400px) {
        padding: 200px 0;
        
    }
    .ceo-section-title{
        .consumer-thought{
            display: flex;
            align-items: center;
            margin-top: 24px;
            @media (min-width:480px) {
                gap: 24px;
            }
        }
    }
    &__card{
        padding: 30px 20px;
        @media (min-width:768px) {
            padding: 56px;
        }
        background: white;
        box-shadow: 0px 32px 148px 0px #002F6C3B;
        .arrow{
            position: absolute;
            width: 14%;
            top: -28%;
            left: -15%;
            svg{
                width: 100%;
            }
        }
        .done{
            position: absolute;
            width: 11%;
            top: -32%;
            right: -7%;
            svg{
                width: 100%;
            }
        }
    }
}
.ceo-testimonial-card{
    .text{
        font-family: 'Satoshi';
        color: var(--bs-ceo-900);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.333333333333333; 
        @media (min-width:768px) {
            font-size: 24px;
        }
    }
    .user-info{
        display: flex;
        align-items: center;
        margin-top: 32px;
        .avatar{
            margin-right: 16px;
            img{
                max-width: 72px;
                max-height: 72px;
                min-width: 72px;
                min-height: 72px;
                object-fit: cover;
                border-radius: 500px;
            }
        }
        .name{
        font-family: 'Satoshi';
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
        color: var(--bs-ceo-900);
        padding-bottom: 3px;
        @media (min-width:768px) {
            padding-bottom: 8px;
            font-size: 20px;
        }
        }
        span{
            font-family: 'Satoshi';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px; 
            color: var(--bs-ceo-700);
        }
    }
}
.ceo-testimonial-slider{
    position: relative;
    .slick-dots {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        @media (min-width:480px) {
            right: 0;
            position: absolute;
            bottom: 16%;
            margin-top: 0;
        }
        li {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0 6px;
            transition: .3s;
            button {
                border: none;
                list-style: none;
                width: 12px;
                height: 12px;
                padding: 0;
                border-radius: 500px;
                background: var(--bs-ceo-500)!important;
                opacity: 0.24;
                color: transparent;
                font-size: 0;
                transition: .3s;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
    
            &.slick-active {
                background: var(--bs-ceo-500)!important;
                opacity: 1;
                width: 12px;
                height: 12px;
                border-radius: 500px;
            }
        }
    }
}
