.resume-about{
    padding: 64px 0;
    &__image-group{
        margin-right: 20px;
        position: relative;
        img{
            border-radius: 16px;
        }
        .video-button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.resume-about-content{
    .title{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: var(--bs-gray-v2-900);
        padding-bottom: 12px;
    }
    .text{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: var(--bs-gray-v2-500);
        padding-bottom: 24px;
    }
    .resume-btn{
        padding: 12px 20px;
    }
}