{% macro render(args) %}
    <div class="product-designer-about">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 mb-5 mb-lg-0">
                    <div class="pd-section-title" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                        <h2 class="title">27+ Years of <br> Experience</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="product-designer-about__content" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                        <div class="pd-about-content-texts">
                            <h3>Hey, I’m Eleanor Scott Senior Product Designer at <span>Google.</span></h3>
                            <p>Aenean mi mauris, porta nec ante non, interdum pulvinar risus. Mauris gravida efficitur venenatis. Praesent quis porta ex. Sed rutrum risus id urna commodo, non ullamcorper tellus aliquet. Suspendisse lobortis sem malesuada.</p>
                            <img src="./image/product-designer/signature.png" alt="signature" class="mw-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd-about-wave">
            <img src="./image/product-designer/about-wave.svg" alt="wave" class="w-100 make-it-inline">
        </div>
    </div>
{% endmacro %}