{% macro render(args) %}
    <div class="product-designer-case-study">
        <div class="container">
            <div class="pd-section-title">
                <h2 class="title">Latest Case Study</h2>
            </div>
            <div class="row pd-card-row">
                <div class="col-12">
                    <div class="pd-project-card">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8">
                                <div class="card-content" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                                    <div class="logo" style="background-color: #FE6635;">
                                        <svg width="42" height="40" viewBox="0 0 42 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.25 15L21 5L39.75 15L21 25L2.25 15Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M30.375 37.5V20L21 15" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M35.375 17.3281V25.8594C35.3739 26.1249 35.2861 26.3827 35.125 26.5937C34.0781 28 29.6406 33.125 21 33.125C12.3594 33.125 7.92187 28 6.875 26.5937C6.7139 26.3827 6.62612 26.1249 6.625 25.8594V17.3281" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            
                                    </div>
                                    <div class="content">
                                        <h6 class="tag">Website / lms / Mobile App</h6>
                                        <h2 class="title">E-Tutor - Education Learning Management System</h2>
                                        <p class="text">E-Tutor is an education, courses, and online (LMS) learning management system Figma template designed for people who want to start teaching online, create an LMS etc. </p>
                                        <a class="pd-btn pd-btn-outline-primary" href="#">View case study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="#00BBFF"/>
    </svg>
    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card-image" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                                    <img src="./image/product-designer/project-1.png" alt="project-image" class="mw-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="pd-project-card">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8">
                                <div class="card-content" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                                    <div class="logo" style="background-color: #005CE8
                                    ;">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.5 35H17.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.2188 3.09388C16.25 5.46888 6.32816 14.9689 15 30.0001H25C33.5 14.9689 23.7188 5.48451 20.7813 3.09388C20.5621 2.91083 20.2856 2.81055 20 2.81055C19.7145 2.81055 19.438 2.91083 19.2188 3.09388Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.5469 17.4062L6.64061 23.2812C6.51701 23.4255 6.4298 23.5972 6.3863 23.7821C6.3428 23.967 6.34428 24.1596 6.39061 24.3438L8.31249 33.0469C8.35887 33.2537 8.4571 33.4454 8.59794 33.6039C8.73879 33.7623 8.91763 33.8824 9.11764 33.9527C9.31764 34.023 9.53225 34.0413 9.74127 34.0058C9.95029 33.9704 10.1469 33.8823 10.3125 33.75L15 30" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M28.3594 17.2812L33.3594 23.2813C33.483 23.4255 33.5702 23.5972 33.6137 23.7821C33.6572 23.967 33.6557 24.1596 33.6094 24.3438L31.6875 33.0469C31.6411 33.2537 31.5429 33.4454 31.402 33.6039C31.2612 33.7623 31.0824 33.8824 30.8824 33.9527C30.6823 34.023 30.4677 34.0413 30.2587 34.0058C30.0497 33.9704 29.8531 33.8823 29.6875 33.75L25 30" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M20 16.875C21.0355 16.875 21.875 16.0355 21.875 15C21.875 13.9645 21.0355 13.125 20 13.125C18.9645 13.125 18.125 13.9645 18.125 15C18.125 16.0355 18.9645 16.875 20 16.875Z" fill="white"/>
                                            </svg>
                                            
                                            
                                    </div>
                                    <div class="content">
                                        <h6 class="tag">Website / lms / Mobile App</h6>
                                        <h2 class="title">Raple - Analytics Admin <br class=" d-none d-sm-block">
                                            Dashboard UI Kit</h2>
                                        <p class="text">Jobpilot is a modern high-quality and well-organized job portal Laravel Script designed to connect people who are looking for suitable Jobs & Candidates. </p>
                                        <a class="pd-btn pd-btn-outline-primary" href="#">View case study <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="#00BBFF"/>
    </svg>
    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card-image" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                                    <img src="./image/product-designer/project-2.png" alt="project-image" class="mw-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-btn">
                <h6>I have more case studies? <a href="#">View All <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9697 8.53033C13.6768 8.23744 13.6768 7.76256 13.9697 7.46967C14.2626 7.17678 14.7374 7.17678 15.0303 7.46967L19.0303 11.4697C19.3232 11.7626 19.3232 12.2374 19.0303 12.5303L15.0303 16.5303C14.7374 16.8232 14.2626 16.8232 13.9697 16.5303C13.6768 16.2374 13.6768 15.7626 13.9697 15.4697L16.6893 12.75H7C6.58579 12.75 6.25 12.4142 6.25 12C6.25 11.5858 6.58579 11.25 7 11.25H16.6893L13.9697 8.53033Z" fill="#121314"/>
                    </svg>
                    </a>
                </h6>
            </div>
        </div>
    </div>
{% endmacro %}