{% macro render(args) %}
    <div class="prdduct-designer-footer">
        <div class="container">
            <div class="prdduct-designer-footer__wrapper">
                <div class="icon">E</div>
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="text">
                    <span>© 2022 Eleanor Scott.</span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}