{% macro render(args) %}
    <div class="product-designer-hero landing-animation">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-10">
                    <div class="product-designer-hero__content text-center">
                        <div class="avatar" data-aos="fade-right" data-aos-duration="1000" data-aos-once="false">
                            <img src="./image/product-designer/hero-avatar.png" alt="avatar" class="w-100">
                        </div>
                        <div class="pd-display-title" data-aos="fade-left" data-aos-duration="1000" data-aos-once="false">
                            <h6 class="subtitle d-flex align-items-center justify-content-center"><svg class="me-1" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.875 18.5566H16.125" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.5 11.0566C11.8807 11.0566 13 9.93735 13 8.55664C13 7.17593 11.8807 6.05664 10.5 6.05664C9.11929 6.05664 8 7.17593 8 8.55664C8 9.93735 9.11929 11.0566 10.5 11.0566Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.75 8.55664C16.75 14.1816 10.5 18.5566 10.5 18.5566C10.5 18.5566 4.25 14.1816 4.25 8.55664C4.25 6.89904 4.90848 5.30933 6.08058 4.13722C7.25269 2.96512 8.8424 2.30664 10.5 2.30664C12.1576 2.30664 13.7473 2.96512 14.9194 4.13722C16.0915 5.30933 16.75 6.89904 16.75 8.55664V8.55664Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                                Kyiv - 03148, Ukraine</h6>
                                <h2 class="title">Eleanor Scott</h2>
                                <p class="text">Mauris dui ex, venenatis id bibendum interdum, ornare non est. Pellentesque vitae mauris et metus pretium consectetur.</p>
                        </div>
                        <div class="button-group">
                            <a class="pd-btn pd-btn-outline-primary" href="#"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 16.6816C5.91421 16.6816 6.25 17.0174 6.25 17.4316V19.4316C6.25 19.5697 6.36193 19.6816 6.5 19.6816H18.5C18.6381 19.6816 18.75 19.5697 18.75 19.4316V17.4316C18.75 17.0174 19.0858 16.6816 19.5 16.6816C19.9142 16.6816 20.25 17.0174 20.25 17.4316V19.4316C20.25 20.3981 19.4665 21.1816 18.5 21.1816H6.5C5.5335 21.1816 4.75 20.3981 4.75 19.4316V17.4316C4.75 17.0174 5.08579 16.6816 5.5 16.6816Z" fill="#00BBFF"/>
                                <path d="M11.2379 4.18164C10.7236 4.18164 10.2945 4.57476 10.2495 5.08719C10.0959 6.8399 10.0688 8.60123 10.1684 10.3575C9.92139 10.3711 9.6745 10.3869 9.42773 10.4049L7.93822 10.5135C7.36392 10.5554 7.04288 11.1957 7.35293 11.681C8.41497 13.3431 9.78343 14.788 11.3854 15.9387L11.9821 16.3674C12.2916 16.5897 12.7085 16.5897 13.018 16.3674L13.6147 15.9387C15.2167 14.788 16.5851 13.3431 17.6472 11.681C17.9572 11.1957 17.6362 10.5554 17.0619 10.5135L15.5724 10.4049C15.3256 10.3869 15.0787 10.3711 14.8317 10.3575C14.9313 8.60123 14.9042 6.8399 14.7506 5.08718C14.7056 4.57476 14.2765 4.18164 13.7622 4.18164H11.2379Z" fill="#00BBFF"/>
                                </svg>
                                Download Resume</a>
                        </div>
                        <div class="company-logo">
                            <div class="company-logo__wrapper">
                                    <p class="text">My clients over the world</p>
                                    <div class="logo">
                                        <img src="./image/product-designer/drips.png" alt="logo" class="mw-100">
                                        <img src="./image/product-designer/braze.png" alt="logo" class="mw-100">
                                        <img src="./image/product-designer/gusto.png" alt="logo" class="mw-100">
                                        <img src="./image/product-designer/stripe.png" alt="logo" class="mw-100">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="pd-hero-wave wave-one">
            <img class="make-it-inline" src="./image/product-designer/wave-1.svg" alt="wave">
        </div> #}
        {# <div class="pd-hero-wave wave-tow">
            <img class="make-it-inline" src="./image/product-designer/wave-2.svg" alt="wave">
        </div>
        <div class="pd-hero-wave wave-three">
            <img class="make-it-inline" src="./image/product-designer/wave-3.svg" alt="wave">
        </div>
        <div class="pd-hero-wave wave-four">
            <img class="make-it-inline" src="./image/product-designer/wave-4.svg" alt="wave">
        </div>
        <div class="pd-hero-wave wave-five">
            <img class="make-it-inline" src="./image/product-designer/wave-5.svg" alt="wave">
        </div>
        <div class="pd-hero-wave wave-six">
            <img class="make-it-inline" src="./image/product-designer/wave-6.svg" alt="wave">
        </div> #}
        <div class="pd-hero-wave wave-one">
            <svg class="svg-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="svg-waves__parallax">
            <use xlink:href="#gentle-wave" x="48" y="0"></use>
            <use xlink:href="#gentle-wave" x="48" y="3"></use>
            <use xlink:href="#gentle-wave" x="48" y="5"></use>
            <use xlink:href="#gentle-wave" x="48" y="7"></use>
          </g>
        </svg>

        </div>
        <div class="pd-hero-text d-none d-md-block">
            <h1 class="title">Product
                <br> Designer</h1>
        </div>
    </div>
{% endmacro %}