{% macro render(args) %}
<div class="photographer-blog-area">
    <div class="container">
        <div class="photographer-section-title">
            <h2 class="title">Blog & News</h2>
        </div>
        <div class="row justify-content-center card-row">
            <div class="col-xl-4 col-md-6 col-sm-11 col-xs-10">
                    <a href="#" class="card card-blog">
                        <img src="./image/l-4/blog-01.png" alt="blog">
                        <div class="content">
                            <div class="meta">
                                <span class="date">22 Oct, 2020</span>
                                <span class="devider">/</span>
                                <span class="comment">246 Comments</span>
                            </div>
                            <p class="short-desc">Duis magna risus, convallis vel purus eu, sollicitudin volutpat vel.</p>
                        </div>
                    </a>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-11 col-xs-10">
                    <a href="#" class="card card-blog">
                        <img src="./image/l-4/blog-02.png" alt="blog">
                        <div class="content">
                            <div class="meta">
                                <span class="date">22 Oct, 2020</span>
                                <span class="devider">/</span>
                                <span class="comment">246 Comments</span>
                            </div>
                            <p class="short-desc">Duis magna risus, convallis vel purus eu, sollicitudin volutpat vel.</p>
                        </div>
                    </a>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-11 col-xs-10">
                    <a href="" class="card card-blog">
                        <img src="./image/l-4/blog-03.png" alt="blog">
                        <div class="content">
                            <div class="meta">
                                <span class="date">22 Oct, 2020</span>
                                <span class="devider">/</span>
                                <span class="comment">246 Comments</span>
                            </div>
                            <p class="short-desc">Duis magna risus, convallis vel purus eu, sollicitudin volutpat vel.</p>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
