{% macro render(args) %}
    <div class="photographer-footer-area">
        <div class="container">
            <div class="photographer-footer-area__wrapper">
                <div class="logo-area">
                <a href="index.html" class="logo">
                        <div class="icon"><span>#</span></div>
                        <div class="text-wrapper">
                        <p>Robert Warren</p>
                        </div>
                </a>
                </div>
                <ul class="menu-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="copy-right-text">
                    <p>© 2022 Robert Warren</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
