{% macro render(args) %}
    <div class="photographer-gallery-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-8">
                    <div class="photographer-section-title">
                        <h2 class="title">My Gallery</h2>
                        <p class="text">Nullam ligula nulla, mollis sed leo sit amet, gravida faucibus ligula. Aliquam bibendum, sapien vel placerat.</p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-4 ">
                    <div class="gellery-btn">
                        <a class="pg-btn pg-btn-primary pg-btn-outline-primary" href=""><span class="me-2">View More</span> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 12H20.25" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg></a>
                    </div>
                    
                   
                </div>
            </div>
            <div class="row justify-content-center">
                <div class=" col-md-4 gallery-img">
                    <div class="row">
                        <div class="col-md-12 col-4 col">
                        <a  data-fancybox href="./image/l-4/gallery/c1-r1.png"><img src="./image/l-4/gallery/c1-r1.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-4 col">
                            <a  data-fancybox href="./image/l-4/gallery/c1-r2.png"><img src="./image/l-4/gallery/c1-r2.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-4 col">
                            <a  data-fancybox href="./image/l-4/gallery/c1-r3.png"><img src="./image/l-4/gallery/c1-r3.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 gallery-img">
                    <div class="row">
                        <div class="col-md-12 col-6 col">
                        <a  data-fancybox href="./image/l-4/gallery/c2-r1.png"><img src="./image/l-4/gallery/c2-r1.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-6 col">
                        <a  data-fancybox href="./image/l-4/gallery/c2-r2.png"><img src="./image/l-4/gallery/c2-r2.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-img">
                    <div class="row">
                        <div class="col-md-12 col-3 col">
                            <a  data-fancybox href="./image/l-4/gallery/c3-r1.png"><img src="./image/l-4/gallery/c3-r1.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-3 col">
                        <a  data-fancybox href="./image/l-4/gallery/c3-r2.png"><img src="./image/l-4/gallery/c3-r2.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-3 col">
                            <a  data-fancybox href="./image/l-4/gallery/c3-r3.png"><img src="./image/l-4/gallery/c3-r3.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                        <div class="col-md-12 col-3 col">
                        <a  data-fancybox href="./image/l-4/gallery/c3-r4.png"><img src="./image/l-4/gallery/c3-r4.png" class="w-100" alt="kevin-gallery"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

                
