{% macro render(args) %}
    <div class="photographer-pricing-area">
        <div class="container">
            <div class="photographer-section-title text-center">
                <h2 class="title m-0">Pricing Plans</h2>
            </div>
             <div class="row justify-content-center card-row align-items-stretch">
                <div class="col-xxl-4 col-lg-4 col-md-6">
                    <div class="photographer-pricing-card">
                        <div class="photographer-pricing-card-top">
                            <h3 class="price">$625</h3>
                        </div>
                            <h4 class="title">Standard</h4>
                            <p class="description">In mi ex, rutrum sed dui et, dignissim tempor leo. Maecenas vulputate, arcu eget condin.</p>
                        <ul class="list">
                            <li>
                               <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>2 hours</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>1 Photographer</span>
                            </li>
                            <li>
                               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                               <del><span>Specail Photo Edits</span></del>
                            </li>
                            <li>
                               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <del><span>Wedding, Events & Festivals</span></del>
                            </li>
                            <li>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <del><span>Engagement Shoot</span></del>
                            </li>
                            <li>
                             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <del><span>Ceremony Video</span></del>
                            </li>
                        </ul>
                        <div>
                            <a class="pg-btn pg-btn-primary pg-btn-outline-primary" href=""><span class="me-2">Let’s Work Together </span> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6">
                    <div class="photographer-pricing-card">
                        <div class="photographer-pricing-card-top">
                            <h3 class="price">$1600</h3>
                            <p class="recomend">Recomended</p>
                        </div>
                       
                        <h4 class="title">Premium</h4>
                        <p class="description">In mi ex, rutrum sed dui et, dignissim tempor leo. Maecenas vulputate, arcu eget condin.</p>
                        
                        <ul class="list">
                            <li>
                               <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>4 hours</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>1 Photographer</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Specail Photo Edits</span>
                            </li>
                            <li>
                               <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>Wedding, Events & Festivals</span>
                            </li>
                            <li>
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <del><span>Engagement Shoot</span></del>
                            </li>
                            <li>
                             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#A5ACB5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <del><span>Ceremony Video</span></del>
                            </li>
                        </ul>
                        <div>
                            <a class="pg-btn pg-btn-primary pg-btn-outline-primary " href=""><span class="me-2">Let’s Work Together </span> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-4 col-md-6">
                    <div class="photographer-pricing-card">
                        <div class="photographer-pricing-card-top">
                            <h3 class="price">$3650</h3>
                        </div>
                            <h4 class="title">Business</h4>
                            <p class="description">In mi ex, rutrum sed dui et, dignissim tempor leo. Maecenas vulputate, arcu eget condin.</p>
                        <ul class="list">
                            <li>
                               <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>6+ hours</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>2 Photographer</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>Specail Photo Edits</span>
                            </li>
                            <li>
                                <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <span>Wedding, Events & Festivals</span>
                            </li>
                            <li>
                               <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Engagement Shoot</span>
                            </li>
                            <li>
                             <svg class="fil-check" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#132238"/>
                                <path class="s-white" d="M16.125 9.75L10.6219 15L7.875 12.375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#132238" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            <span>Ceremony Video</span>
                            </li>
                        </ul>
                        <div>
                            <a class="pg-btn pg-btn-primary pg-btn-outline-primary" href=""><span class="me-2">Let’s Work Together </span> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#2DB24A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


