{% macro render(args) %}
    <div class="photographer-service-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="photographer-section-title">
                        <h2 class="title">My Services</h2>
                        <p class="text">Nullam ligula nulla, mollis sed leo sit amet, gravida faucibus ligula. Aliquam bibendum, sapien vel placerat.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-5 col-md-12 col-lg-6">
                    <div class="photographer-service-area__card" id="tabs-nav">
                        <a href="#tab1" class="pg-sercice-card">
                            <div class="icon">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M24.4063 34.3438C22.9777 34.7779 21.493 34.999 20 35C17.0333 35 14.1332 34.1203 11.6665 32.4721C9.19972 30.8238 7.27713 28.4812 6.14181 25.7403C5.0065 22.9994 4.70945 19.9834 5.28823 17.0737C5.86701 14.1639 7.29562 11.4912 9.39341 9.39341C11.4912 7.29562 14.1639 5.86701 17.0737 5.28823C19.9834 4.70945 22.9994 5.0065 25.7403 6.14181C28.4812 7.27713 30.8238 9.19972 32.4721 11.6665C34.1203 14.1332 35 17.0333 35 20C34.999 21.493 34.7779 22.9777 34.3438 24.4063L24.4063 34.3438Z" fill="currentColor"/>
                                    <path d="M24.4063 34.3438C22.9777 34.7779 21.493 34.999 20 35C17.0333 35 14.1332 34.1203 11.6665 32.4721C9.19972 30.8238 7.27713 28.4812 6.14181 25.7403C5.0065 22.9994 4.70945 19.9834 5.28823 17.0737C5.86701 14.1639 7.29562 11.4912 9.39341 9.39341C11.4912 7.29562 14.1639 5.86701 17.0737 5.28823C19.9834 4.70945 22.9994 5.0065 25.7403 6.14181C28.4812 7.27713 30.8238 9.19972 32.4721 11.6665C34.1203 14.1332 35 17.0333 35 20C34.999 21.493 34.7779 22.9777 34.3438 24.4063L24.4063 34.3438Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15.25 16.875C15.25 17.3582 14.8582 17.75 14.375 17.75C13.8918 17.75 13.5 17.3582 13.5 16.875C13.5 16.3918 13.8918 16 14.375 16C14.8582 16 15.25 16.3918 15.25 16.875Z" fill="currentColor" stroke="currentColor" stroke-width="2"/>
                                    <path d="M26.5 16.875C26.5 17.3582 26.1082 17.75 25.625 17.75C25.1418 17.75 24.75 17.3582 24.75 16.875C24.75 16.3918 25.1418 16 25.625 16C26.1082 16 26.5 16.3918 26.5 16.875Z" fill="currentColor" stroke="currentColor" stroke-width="2"/>
                                    <path d="M26.5 23.75C25.8392 24.8884 24.891 25.8334 23.7503 26.4902C22.6095 27.147 21.3163 27.4927 20 27.4927C18.6837 27.4927 17.3905 27.147 16.2497 26.4902C15.109 25.8334 14.1608 24.8884 13.5 23.75" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                     
                            </div>
                            <div class="content">
                                <h6>Portrait & Fashion Photography</h6>
                                <p>Morbi semper sem diam, nec commodo diam laoreet at. Morbi blandit hendrerit vehicula.</p>
                            </div>
                        </a>
                        <a href="#tab2" class="pg-sercice-card">
                            <div class="icon">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M33.75 7.5H6.25C5.55964 7.5 5 8.05964 5 8.75V27.5C5 28.1904 5.55964 28.75 6.25 28.75H33.75C34.4404 28.75 35 28.1904 35 27.5V8.75C35 8.05964 34.4404 7.5 33.75 7.5Z" fill="currentColor"/>
                                    <path d="M33.75 7.5H6.25C5.55964 7.5 5 8.05964 5 8.75V27.5C5 28.1904 5.55964 28.75 6.25 28.75H33.75C34.4404 28.75 35 28.1904 35 27.5V8.75C35 8.05964 34.4404 7.5 33.75 7.5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25 28.75L30 35" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 28.75L10 35" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M15 18.75V22.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20 16.25V22.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25 13.75V22.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20 7.5V3.75" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>     
                            </div>
                            <div class="content">
                                <h6>Wedding & Events Photography</h6>
                                <p>Morbi semper sem diam, nec commodo diam laoreet at. Morbi blandit hendrerit vehicula.</p>
                            </div>
                        </a>
                        <a href="#tab3" class="pg-sercice-card">
                            <div class="icon">
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M20 5C17.0333 5 14.1332 5.87973 11.6665 7.52796C9.19972 9.17618 7.27713 11.5189 6.14181 14.2597C5.0065 17.0006 4.70945 20.0166 5.28823 22.9264C5.86701 25.8361 7.29562 28.5088 9.39341 30.6066C11.4912 32.7044 14.1639 34.133 17.0737 34.7118C19.9834 35.2906 22.9994 34.9935 25.7403 33.8582C28.4812 32.7229 30.8238 30.8003 32.4721 28.3336C34.1203 25.8668 35 22.9667 35 20C35 16.0218 33.4197 12.2064 30.6066 9.3934C27.7936 6.58035 23.9783 5 20 5V5ZM22.6563 22.6563L13.375 26.625L17.3438 17.3438L27.0469 12.9375L22.6563 22.6563Z" fill="currentColor"/>
                                    <path d="M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M22.6563 22.6563L27.0469 12.9375L17.3438 17.3437L13.375 26.625L22.6563 22.6563Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                      
                            </div>
                            <div class="content">
                                <h6>Architectural, Travel & Lifestyle</h6>
                                <p>Morbi semper sem diam, nec commodo diam laoreet at. Morbi blandit hendrerit vehicula.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-12 col-lg-6" id="tabs-content">
                    <div class="photographer-service-area__slider tab-content" id="tab1">
                        <div class="photographer-service-slider swiper">
                            <div class="swiper-wrapper">
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/07.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/08.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/09.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/07.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/07.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/08.png" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="photographer-service-area__slider tab-content" id="tab2">
                        <div class="photographer-service-slider swiper">
                            <div class="swiper-wrapper">
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/02.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/04.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/06.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/07.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/07.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/08.png" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="photographer-service-area__slider tab-content" id="tab3">
                        <div class="photographer-service-slider swiper">
                            <div class="swiper-wrapper">
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/01.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/02.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/03.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/02.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/03.png" class="w-100"></a>
                                <a href="#" class="swiper-slide"><img alt="kevin-gallery" src="./image/l-4/08.png" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
