{% macro render(args) %}
  <div class="flc-cta-section section-padding">
    <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="flc-cta-left-content">
              <h4>Do you need a designer. Request a quote!</h4>
              <p>Nunc aliquam luctus tortor, id lobortis massa tincidunt ut. Duis luctus posuere risus, et gravida tortor interdum sed. Donec feugiat eu leo quis.</p>
              <a href="#">info@marvin.com</a>
            </div>
          </div>
          <div class="col-xl-6 d-flex align-items-center">
            <div class="flc-cta-right-content">
              <ul>
                <li><a href="">UI/UX Designer</a></li>
                <li><a href="">Product Designer</a></li>
                <li><a href="">Freelancer</a></li>
              </ul>
              <h2>I'm a passionate designer with a keen eyes for details.</h2>
              <p>Nam posuere sapien vitae condimentum aliquam. Duis commodo cursus mauris semper tincidunt. Sed interdum sodales dignissim. Integer gravida interdum felis vitae rhus. Fusce vehicula ante ac enim scelerisque pellentesque. Ut aliquet turpis vel scelerisque. </p>
              <a class="default-btn black" href="#">let’s work together <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 12H20.25" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endmacro %}
