{% macro render(args) %}
  <div class="hero-section">
    <div class="container">
      <div class="hero-content">
        <h1>Hey, It’s Marvin Richard. UI/UX & Product Designer Based on Los Angeles.</h1>
        <div class="scroll-down">
            Scroll down
            <img src="./image/svg/ArrowDown.svg" alt="">
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
