{% macro render(args) %}
  <div class="testimonial-section section-padding">
    <div class="container">
      <div class="section-title">
        <h2>My clients feedback</h2>
        <p>Vestibulum tempor enim metus, quis tempor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae, molestie vestibulum quam. </p>
      </div>
      <div class="testimonial-slider">
          <div class="testimonial-slider-item">
            <img src="./image/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
          <div class="testimonial-slider-item">
            <img src="./image/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
          <div class="testimonial-slider-item">
            <img src="./image/svg/Quote.svg" alt="">
            <p>“Duis tempor ultrices elit sollicitudin aliquet. Nulla facilisi. Donec sit amet nunc eros. Etiam et nisi in diam ultrices luctus in a dui. Mauris in sem aliquet ligula convallis vestibulum. Etiam non erat aliquam, lacinia nis.”</p>
            <div class="testimonial-user">
              <span>Cameron Williamson</span>
              <p>Ceo & Founder of Google</p>
            </div>
          </div>
      </div>
      
    </div>
  </div>
{% endmacro %}
