{% macro render(args) %}
  <div class="flc-work-process-section">
    <div class="container">
      <div class="section-title">
        <h2>My work process</h2>
        <p>Vestibulum tempor enim metus, quis tempor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae, molestie vestibulum quam. </p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="flc-work-process-item">
            <div class="flc-work-process-thumb">
              <img src="./image/svg/Confetti.svg" alt="">
            </div>
            <div class="flc-work-process-data">
              <h4><a href="#">Introduction</a></h4>
              <p>Vestibulum tempor enim metus, quis tepor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="flc-work-process-item">
            <div class="flc-work-process-thumb">
              <img src="./image/svg/UserCircle.svg" alt="">
            </div>
            <div class="flc-work-process-data">
              <h4><a href="#">UX Design</a></h4>
              <p>Vestibulum tempor enim metus, quis tepor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="flc-work-process-item">
            <div class="flc-work-process-thumb">
              <img src="./image/svg/Crown.svg" alt="">
            </div>
            <div class="flc-work-process-data">
              <h4><a href="#">UI Design</a></h4>
              <p>Vestibulum tempor enim metus, quis tepor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="flc-work-process-item">
            <div class="flc-work-process-thumb">
              <img src="./image/svg/Package.svg" alt="">
            </div>
            <div class="flc-work-process-data">
              <h4><a href="#">Delivery</a></h4>
              <p>Vestibulum tempor enim metus, quis tepor urna facilisis sed. Sed nibh ipsum, molestie cursus dolor vitae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
