.law-experiences-section{
  background: var(--bs-white);
  padding: 0 0 100px;
  .container{
    @media (min-width: 1400px) {
      max-width: 1170px;
    }
  }
  @media (max-width:991px) {
    padding: 0 0 80px;
  }
  @media (max-width:767px) {
    padding: 0 0 80px;
  }
}
.law-video-thumb{
  margin-right: 50px;
  position: relative;
  @media (max-width:1199px) {
    margin-right: 20px;
  }
  @media (max-width:991px) {
    margin: 0;
  }
  img{
    width: 100%;
  }
  .law-video-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    svg{
        path{
            fill: var(--bs-primary-500);
            stroke: var(--bs-primary-500);
        }
    }
}
}
.law-experiences-data{
  &-item{
    padding: 32px 0;
    border-bottom: 1px solid var(--bs-gray-100);
    @media (max-width:767px) {
      padding: 25px 0;
    }
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &-left{
    @media (max-width:767px) {
      margin-bottom: 15px;
    }
    h4{
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 8px;
      color: var(--bs-primary-500);
      font-family: 'Barlow', sans-serif;
    }
    p{
      font-size: 14px;
      color: var(--bs-gray-500)
    }
  }
  &-right{
    h3{
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 12px;
      line-height: 1.4;
      color: var(--bs-gray-900);
      font-family: 'Barlow', sans-serif;
    }
    p{
      color: var(--bs-gray-400);
    }
  }
}
