{% macro render(args) %}
    <div class="ceo-footer">
        <div class="container ceo-container">
            <div class="row">
                <div class="ceo-footer__text">
                    <h6>© 2022 Kalervo Pohjamo from Finland.</h6>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}