{% macro render(args) %}
    <h2 class="ceo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio molestias. Totam ex impedit esse quisquam doloremque id laudantium explicabo modi minima, facilis, iste rem assumenda, dolores accusamus labore iusto.
    </h2>
{% endmacro %}