{% macro render(args) %}
    <div class="ceo-team-section">
        <div class="container">
            <div class="ceo-team-section__wrapper">
                <div class="ceo-section-title text-center">
                    <h6 class="subtitle">Team Members</h6>
                    <h2 class="title">Colleague & team members</h2>
                </div>
                <div class="ceo-team--slider">
                    <div class="single-slider">
                        <div class="ceo-team-card">
                            <img src="./image/ceo/team-1.png" alt="team" class="w-100">
                            <div class="content">
                                <h3>Cameron Williamson</h3>
                                <p>Assistant Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="ceo-team-card">
                            <img src="./image/ceo/team-2.png" alt="team" class="w-100">
                            <div class="content">
                                <h3>Cameron Williamson</h3>
                                <p>Supporting Assistant</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="ceo-team-card">
                            <img src="./image/ceo/team-3.png" alt="team" class="w-100">
                            <div class="content">
                                <h3>Cameron Williamson</h3>
                                <p>Product Manager</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="ceo-team-card">
                            <img src="./image/ceo/team-4.png" alt="team" class="w-100">
                            <div class="content">
                                <h3>Cameron Williamson</h3>
                                <p>Head of Sales & Services</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="ceo-team-card">
                            <img src="./image/ceo/team-2.png" alt="team" class="w-100">
                            <div class="content">
                                <h3>Cameron Williamson</h3>
                                <p>Supporting Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ceo-team--slider__control-buttons">
                    <button class="button button--prev">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 6L10 16L20 26" stroke="#0D2159" stroke-width="2.5" stroke-linecap="square"/>
                            </svg>                        
                    </button>
                    <button class="button button--next">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 26L22 16L12 6" stroke="white" stroke-width="2.5" stroke-linecap="square"/>
                            </svg>                        
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}