{% macro render(args) %}
    <div class="about-section-01">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xxl-5 col-xl-4 col-lg-5">
                    <div class="about-section-01__image-group d-none d-lg-block"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                            <img src="./image/l-1/about-img.png" alt="about-img" class="w-100">
                        <div class="about-section-01__image-group--shadow d-none d-xl-block">
                            <img src="./image/l-1/about-img-shadow.png" alt="shadow" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 offset-xxl-1 col-xl-7 offset-xl-1 col-lg-7">
                    <div class="about-section-01__content section-content-block" data-aos="fade-left" data-aos-duration="800" data-aos-delay="600">
                        <h6 class="subtitle mb-10 text-primary">About Me</h6>
                        <h2 class="title">More Than 5+ Years Programming Experienced</h2>
                        <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <div class="about-widget-01">
                            <ul class="list-unstyled">
                                <li>Name: <span class="text-dark">Michle Jhon Doe</span></li>
                                <li>Email: <span class="text-dark">example@gmail.com</span></li>
                                <li>Location: <span class="text-dark">Dhaka, Bangladesh</span></li>
                                <li>Office: <span class="text-dark">Kollanpur, Shamoli, Dhaka</span></li>
                            </ul>
                        </div>
                        <div class="about-bottom d-flex align-items-md-center flex-column flex-md-row">
                            <div class="button-area order-2 order-md-1">
                                <a class="btn btn-primary" href="#">Download CV
                                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="social-area order-1 order-md-2">
                                <ul class="list-unstyled m-0">
                                    <li class="line"></li>
                                    <li class="text text-dark">Follow me</li>
                                    <li class="list-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-item"><a href="https://dribbble.com/"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-item"><a href="https://github.com/"><i class="fab fa-github"></i></a></li>
                                    <li class="list-item"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
