{% macro render(options) %}
    <div class="brand-section-01">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="brand-section-01__title section-title-block text-center">
                    <h6 class="subtitle">PROUD MARKETING <span class="text-primary d-inline">PARTNERS</span> WITH</h6>
                </div>
            </div>
            <div class="logo-slider">
                <div class="logo-slider__track">
                    <div class="slide">
                        <img src="./image/l-1/logo-1.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-2.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-3.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-4.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-5.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-6.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-1.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-2.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-3.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-4.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-5.png" alt="sponsor">
                    </div>
                    <div class="slide">
                        <img src="./image/l-1/logo-6.png" alt="sponsor">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}
