{% macro render(args) %}
    <div class="counter-section-01">
        <div class="container">
            <div class="counter-wrapper">
                    <div class="row align-items-center card-row">
                    <div class="col-md-3 col-6">
                        <div class="count-block section-content-block text-center">
                            <h3 class="title heading-dark"><span class="counter">68</span></h3>
                            <p class="text-dark">Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="count-block section-content-block text-center">
                            <h3 class="title heading-dark"><span class="counter">07</span></h3>
                            <p class="text-dark">Years Experience</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="count-block section-content-block text-center">
                            <h3 class="title heading-dark"><span class="counter">25</span>k+</h3>
                            <p class="text-dark">Hours Worked</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="count-block section-content-block text-center">
                            <h3 class="title heading-dark"><span class="counter">8</span></h3>
                            <p class="text-dark">Awards Won</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
