{% macro render(args) %}
    <div class="qualification-section-01 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="qualification-section-01__content one">
                        <div class="section-content-block">
                            <h6 class="subtitle mb-10 text-primary">Qualification</h6>
                            <h2 class="title">My Education</h2>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Rajshahi University <span class="date text-dark">( 2011-2012 ) </span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">Diploma In Computer Eng.</span>
                            </div>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Varendra University <span class="date text-dark">( 2013-2017 )</span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">BSC in CSE</span>
                            </div>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="600">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Rajshahi University <span class="date text-dark">( 2017-2021 )</span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">Programming</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="qualification-section-01__content two">
                        <div class="section-content-block">
                            <h6 class="subtitle mb-10 text-primary">Work Experience</h6>
                            <h2 class="title">My Awesome Experience</h2>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Codeshiskhi <span class="date text-dark">( 2011-2012 )</span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">Internship</span>
                            </div>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Zakirsoft <span class="date text-dark">( 2011-2012 )</span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">UI/UX Designer</span>
                            </div>
                        </div>
                        <div class="qualification-widget" data-aos="fade-up" data-aos-duration="600" data-aos-delay="600">
                            <div class="circle">
                                <div class="inner-circle"></div>
                            </div>
                            <div class="widget-content">
                                <h3 class="title heading-dark">Templatecookie <span class="date text-dark">( 2011-2012 )</span></h3>
                                <p class="text-dark">Lorem ipsum dolor sit amese adipiscing elit. Donec feugiated a fringilla sed bibendum.</p>
                                <span class="widget-designations text-primary">Product Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
