{% macro render(args) %}
    <div class="skill-section-01 bg-white-lilac">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-10 col-sm-11" data-aos="fade-right" data-aos-duration="800" data-aos-delay="600">
                    <div class="skill-section-01__content section-content-block mb-5 mb-lg-0">
                        <h6 class="subtitle mb-10 text-primary">Skillset</h6>
                        <h2 class="title">Creative and Professional Skills
                        Experience on Few Area</h2>
                        <p class=" text-dark pe-xl-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat fringilla lorem sed bibendum. Pellentesque venenatis, ipsum eget ullamcorper gravida in mattis ipsum ligula at tellus.</p>
                        <a class="btn btn-primary" href="#">Get Any Project
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 col-sm-11">
                    <div class="skill-bar-01">
                        <div class="skill-bar-01__item">
                            <div class="skill-name">
                                <h5>Product Design & Development</h5>
                            </div>
                            <div class="skill-bar-wrapper">
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 67%"></div>
                                </div>
                                <div class="skill-bar-count">
                                    <span>67%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-01__item">
                            <div class="skill-name">
                                <h5>Web Development</h5>
                            </div>
                            <div class="skill-bar-wrapper">
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 89%"></div>
                                </div>
                                <div class="skill-bar-count">
                                    <span>89%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-01__item">
                            <div class="skill-name">
                                <h5>Front-End Development</h5>
                            </div>
                            <div class="skill-bar-wrapper">
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 55%"></div>
                                </div>
                                <div class="skill-bar-count">
                                    <span>55%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-01__item">
                            <div class="skill-name">
                                <h5>UI Design & UX Development</h5>
                            </div>
                            <div class="skill-bar-wrapper">
                                <div class="skill-bar">
                                    <div class="skill-per" style="max-width: 67%"></div>
                                </div>
                                <div class="skill-bar-count">
                                    <span>67%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
