{% macro render(args) %}
   <div class="testimonial-section-01 bg-white-lilac">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-xxl-8 col-lg-9">
                  <div class="testimonial-section-01__slider">
                      <div class="testimonial-slider--01 slick-dots-style-1">
                          <div class="slide">
                              <div class="testimonial-content">
                                  <img class="client-img" src="./image/l-1/client-1.png" alt="client-img">
                                  <h6 class=" heading-dark say-title">“ It was great working with you! I loved starting new projects and seeing how a simple idea can be explored and turned into a real dolor ipsum masterpiece. ”</h6>
                                  <div class="client-info">
                                      <h6 class="text-dark">Chris Brendon</h6>
                                      <span>Senior Manager</span>
                                  </div>
                              </div>
                          </div>
                          <div class="slide">
                              <div class="testimonial-content">
                                  <img class="client-img" src="./image/l-1/client-2.png" alt="client-img">
                                  <h6 class=" heading-dark say-title">“ It was great working with you! I loved starting new projects and seeing how a simple idea can be explored and turned into a real dolor ipsum masterpiece. ”</h6>
                                  <div class="client-info">
                                      <h6 class="text-dark">Chris Brendon</h6>
                                      <span>Senior Manager</span>
                                  </div>
                              </div>
                          </div>
                          <div class="slide">
                              <div class="testimonial-content">
                                  <img class="client-img" src="./image/l-1/client-3.png" alt="client-img">
                                  <h6 class=" heading-dark say-title">“ It was great working with you! I loved starting new projects and seeing how a simple idea can be explored and turned into a real dolor ipsum masterpiece. ”</h6>
                                  <div class="client-info">
                                      <h6 class="text-dark">Chris Brendon</h6>
                                      <span>Senior Manager</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="testimonial-slider--01__control-buttons">
                          <button class="button button--prev"><img src="./image/l-1/prev.svg"
                            alt="svg"  class="d-block"/></button>
                          <button class="button button--next"><img src="./image/l-1/next.svg"
                            alt="svg"  class="d-block"/></button>
                      </div>
                  </div>
              </div>  
            </div>
        </div>
   </div> 
{% endmacro %}
