{% macro render(args) %}
<div class="photographer-about-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="photographer-achivement-block">
                    <img src="" alt="">
                    <div class="photographer-achivement-card">
                        <ul>
                            <li>
                                <h2>26+</h2>
                                <p>Years of experience</p>
                            </li>
                            <li>
                                <h2>98.5%</h2>
                                <p>Client Satisfaction</p>
                            </li>
                            <li>
                                <h2>2149+</h2>
                                <p>Beautiful Photo</p>
                            </li>
                            <li>
                                <h2>17+</h2>
                                <p>Awards</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1">
                <div class="photographer-info-block">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
