{% macro render(args) %}
<div class="photographer-about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="photographer-achivement-block">
                    <img src="./image/l-4/about.png" alt="">
                    <div class="photographer-achivement-card">
                        <ul>
                            <li>
                                <h2>26+</h2>
                                <p>Years of experience</p>
                            </li>
                            <li>
                                <h2>98.5%</h2>
                                <p>Client Satisfaction</p>
                            </li>
                            <li>
                                <h2>2149+</h2>
                                <p>Beautiful Photo</p>
                            </li>
                            <li>
                                <h2>17+</h2>
                                <p>Awards</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="photographer-info-block">
                    <div class="photographer-meta-info">
                        <ul>
                            <li>📸 Photographer</li>
                            <li>📖 Writer</li>
                            <li>✈️ Traveler</li>
                        </ul>
                    </div>
                    <h2 class="photographer-intro">
                        My name is Robert Warren. I’m a professional photographer for almost 26+ years.
                    </h2>
                    <p class="photographer-desc">
                        Nullam ligula nulla, mollis sed leo sit amet, gravida faucibus ligula. Aliquam bibendum, sapien vel placerat euismod, sem eros congue neque, eget dapibus felis ligula ac nibh. In eget erat purus. Maecenas porta metus nec porttitor gravida. Fusce quis faucibus nisi, sit amet dictum ipsum. Nunc eu lorem at libero congue dictum nam et nunc tincidunt, mollis sapien.
                    </p>
                    <div class="photographer-contact-info">
                        <div class="git-btn">
                            <a class="pg-btn pg-btn-primary" href="">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.0344 18.3656L12.6469 20.6813C12.5789 20.7918 12.4838 20.883 12.3705 20.9463C12.2573 21.0096 12.1297 21.0429 12 21.0429C11.8703 21.0429 11.7427 21.0096 11.6295 20.9463C11.5162 20.883 11.4211 20.7918 11.3531 20.6813L9.96563 18.3656C9.90037 18.2545 9.80723 18.1623 9.69542 18.0982C9.58362 18.034 9.45701 18.0002 9.32812 18H3.75C3.55109 18 3.36032 17.921 3.21967 17.7803C3.07902 17.6397 3 17.4489 3 17.25V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V17.25C21 17.4489 20.921 17.6397 20.7803 17.7803C20.6397 17.921 20.4489 18 20.25 18H14.6719C14.543 18.0002 14.4164 18.034 14.3046 18.0982C14.1928 18.1623 14.0996 18.2545 14.0344 18.3656V18.3656Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.375 11.25C12.375 11.4571 12.2071 11.625 12 11.625C11.7929 11.625 11.625 11.4571 11.625 11.25C11.625 11.0429 11.7929 10.875 12 10.875C12.2071 10.875 12.375 11.0429 12.375 11.25Z" fill="white" stroke="white" stroke-width="1.5"/>
                                <path d="M7.875 11.25C7.875 11.4571 7.70711 11.625 7.5 11.625C7.29289 11.625 7.125 11.4571 7.125 11.25C7.125 11.0429 7.29289 10.875 7.5 10.875C7.70711 10.875 7.875 11.0429 7.875 11.25Z" fill="white" stroke="white" stroke-width="1.5"/>
                                <path d="M16.875 11.25C16.875 11.4571 16.7071 11.625 16.5 11.625C16.2929 11.625 16.125 11.4571 16.125 11.25C16.125 11.0429 16.2929 10.875 16.5 10.875C16.7071 10.875 16.875 11.0429 16.875 11.25Z" fill="white" stroke="white" stroke-width="1.5"/>
                                </svg><span>Get in touch</span></a>
                        </div>
                        <ul class="social-link">
                            <li><a href="#" class="media-item"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" class="media-item"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" class="media-item"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#" class="media-item"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" class="media-item"><i class="fa-brands fa-unsplash"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
