{% macro render(args) %}
    <div class="photographer-gallery-area">
        <div class="container">
            <div class="row justify-content-center">
            <div class=" col-md-4 ">
                <div class="row">
                    <div class="col-md-12 col-4 col">
                      <a  data-fancybox href="./image/l-4/gallery/c1-r1.png"><img src="./image/l-4/gallery/c1-r1.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-4 col">
                         <a  data-fancybox href="./image/l-4/gallery/c1-r2.png"><img src="./image/l-4/gallery/c1-r2.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-4 col">
                          <a  data-fancybox href="./image/l-4/gallery/c1-r3.png"><img src="./image/l-4/gallery/c1-r3.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="row">
                    <div class="col-md-12 col-6 col">
                       <a  data-fancybox href="./image/l-4/gallery/c2-r1.png"><img src="./image/l-4/gallery/c2-r1.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-6 col">
                      <a  data-fancybox href="./image/l-4/gallery/c2-r2.png"><img src="./image/l-4/gallery/c2-r2.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-3 col">
                        <a  data-fancybox href="./image/l-4/gallery/c3-r1.png"><img src="./image/l-4/gallery/c3-r1.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-3 col">
                       <a  data-fancybox href="./image/l-4/gallery/c3-r2.png"><img src="./image/l-4/gallery/c3-r2.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-3 col">
                        <a  data-fancybox href="./image/l-4/gallery/c3-r3.png"><img src="./image/l-4/gallery/c3-r3.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                    <div class="col-md-12 col-3 col">
                       <a  data-fancybox href="./image/l-4/gallery/c3-r4.png"><img src="./image/l-4/gallery/c3-r4.png" class="w-100" alt="kevin-gallery"></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endmacro %}


