{% macro render(args) %}
<div class="photographer-hero-area" style="background-image: url('./image/l-4/bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="photographer-display-title">
                    <h1 class="title text-white">Hello, I’m Robert. I’m expert in to capture all the feelings.</h1>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1">
                <div class="photographer-display-title">
                    <p class="text">Nullam et ex lectus. Integer felis sapien, tempor maximus est in, commodo aliquam libero. Curabitur quam risus, consecur nec commodo nec, bibendum sed sapien.</p>
                    <div class="button-group">
                        <a class="p-btn p-btn-primary" href="#">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
