.photographer-blog-area{
    background: var(--bs-white);
    box-shadow: inset 0px 1px 0px var(--bs-border-one);
    padding: 60px 0;
    @media (min-width:768px) {
        padding: 80px 0;
    }
    @media (min-width:992px) {
        padding: 100px 0;
    }
    .photographer-section-title{
        .title{
            text-align: center;
            margin-bottom: 15px;
            @media(min-width:768px){
                margin-bottom: 30px;
            }
            @media(min-width: 992px){
                margin-bottom: 50px;
            }
        }   
    }
    .card-blog{
            border-radius: 0px;
            overflow: hidden;
            position: relative;
            text-align: center;
            border: 0;
            img{
                width: 100%;
            }
            .content {
                position: absolute;
                bottom: 0;
                padding: 24px;
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.7) 22.66%, rgba(0, 0, 0, 0) 56.29%);
                transform: translateY(100%);
                transition: .4s; 
                text-align: left;
                @media(min-width: 1200px){
                    padding: 32px;
                }
                .meta{
                    font-family: 'Barlow';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.43;
                    color: rgba(255, 255, 255, 0.7);
                    padding-bottom: 8px;
                    
                }
                .short-desc{
                    font-family: 'Barlow';
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
            &:hover {
                .content {
                    transform: translateY(0%); 
                }
            }
        
    }
}
