{% macro render(args) %}
<div class="dev-footer-area {{args.sectionClass}}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="logo-wrapper mb-5">
                    <a href="index.html" class="logo">
                    <img src="image/l-1/me.png" alt="logo">
                    <span class="text">Jamel Eusebio</span>
                    </a>
                    <p>4517 Ave. Manchester, Kentucky <br> 39495, Los Angeles, California, USA</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-4">
                        <ul class="dev-footer-list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Resume</a></li>
                            <li><a href="#">Article</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="dev-footer-list">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Pricing Plans</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="dev-footer-list">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">CodePen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dev-copyright-area">
    <div class="container">
        <div class="dev-copyright-area__wrapper">
           <p class="order-2 order-md-1">All content © 2006-Current Jamel Eusebio and respective copyright holders.</p> 
        </div>
    </div>
</div>
{% endmacro %}
