{% import "components/_mixed.njk" as MixtComponent %}
{% macro render(args) %}
<div class="dev-hero-area">
    <div class="container-fluid container-lg">
        <div class="dev-hero-area__bg" style="background-image: url('./image/l-1/hero.png')">
            <div class="col-xs-10 col-sm-9 col-md-8 col-xxl-7 offset-1">
                <div class="dev-display-title">
                    <h1 class="title text-white"><span class="wave">👋</span> Hey, I’m Jamel <br> Full-Stack Developer.</h1>
                    <p class="text">Full Stack Frontend Developer and Content Writing Based on LA. I specialize in Bug
                        Fixing, Responsive Web Design, and Visual Development.</p>
                    <div class="btn-group">
                        <a href="#" style="letter-spacing: 0.02em;" class="d-btn d-btn-primary text-capitalize">View
                            Projects <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                        <a class="d-video-link-btn" href="https://www.youtube.com/watch?v=G5RpJwCJDqc&ab_channel=8KWorld" data-fancybox>
                            <span class="line"></span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.3844 11.3625L7.89375 3.1125C7.78018 3.04244 7.64998 3.00396 7.51658 3.00101C7.38318 2.99806 7.25141 3.03075 7.13486 3.09571C7.0183 3.16068 6.92119 3.25556 6.85354 3.37057C6.78589 3.48558 6.75015 3.61656 6.75 3.75V20.25C6.75015 20.3834 6.78589 20.5144 6.85354 20.6294C6.92119 20.7444 7.0183 20.8393 7.13486 20.9043C7.25141 20.9692 7.38318 21.0019 7.51658 20.999C7.64998 20.996 7.78018 20.9575 7.89375 20.8875L21.3844 12.6375C21.4952 12.572 21.5869 12.4787 21.6507 12.367C21.7145 12.2552 21.748 12.1287 21.748 12C21.748 11.8713 21.7145 11.7448 21.6507 11.633C21.5869 11.5212 21.4952 11.428 21.3844 11.3625Z"
                                    fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg> Play Intro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{MixtComponent.companyInfo()}}
</div>
{% endmacro %}
