{% macro render(args) %}
<div class="dev-testimonial-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="dev-section-title">
                    <h2 class="title">Client Testimonial</h2>
                    <p class="text">Praesent interdum eu magna a imperdiet. Ut orci ipsum, rutrum id tortor sit amet,
                        mattis cursus libero. Phasellus facilisis malesuada nibh vel commodo.</p>
                </div>
                <div class="dev-testimonial-area__slider">
                    <div class="dev-testimonial-slider">
                        <div class="single-slider">
                            <div class="dev-testimonial-card">
                                <div class="content">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.73624 18.855C4.70003 18.855 1.96973 16.0423 1.96973 11.8747C1.96973 8.12439 5.10185 5 9.34412 5C13.9908 5 17.4243 8.7503 17.4243 14.4788C17.4243 27.4992 7.93003 32.7074 1.96973 33.3333V27.6048C6.01109 26.8759 10.5547 22.8139 10.7582 18.3321C10.5547 18.4352 9.74851 18.855 8.73624 18.855Z" fill="#1777E5"/>
                                            <path d="M29.3427 18.855C25.3039 18.855 22.5762 16.0423 22.5762 11.8747C22.5762 8.12439 25.7083 5 29.9506 5C34.5972 5 38.0307 8.7503 38.0307 14.4788C38.0307 27.4992 28.5365 32.7074 22.5762 33.3333V27.6048C26.6175 26.8759 31.1612 22.8139 31.3647 18.3321C31.1612 18.4352 30.355 18.855 29.3427 18.855Z" fill="#1777E5"/>
                                            </svg>                                        
                                    </div>
                                    <p class="text">“Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.”</p>
                                </div>
                                <div class="client-info">
                                    <img src="./image/l-1/client-1.png" alt="client">
                                    <div class="client-info__wrapper">
                                        <h6 class="name">Cameron Williamson</h6>
                                        <p class="text">Founder of <span class=" fw-600">Relik</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="dev-testimonial-card">
                                <div class="content">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.73624 18.855C4.70003 18.855 1.96973 16.0423 1.96973 11.8747C1.96973 8.12439 5.10185 5 9.34412 5C13.9908 5 17.4243 8.7503 17.4243 14.4788C17.4243 27.4992 7.93003 32.7074 1.96973 33.3333V27.6048C6.01109 26.8759 10.5547 22.8139 10.7582 18.3321C10.5547 18.4352 9.74851 18.855 8.73624 18.855Z" fill="#1777E5"/>
                                            <path d="M29.3427 18.855C25.3039 18.855 22.5762 16.0423 22.5762 11.8747C22.5762 8.12439 25.7083 5 29.9506 5C34.5972 5 38.0307 8.7503 38.0307 14.4788C38.0307 27.4992 28.5365 32.7074 22.5762 33.3333V27.6048C26.6175 26.8759 31.1612 22.8139 31.3647 18.3321C31.1612 18.4352 30.355 18.855 29.3427 18.855Z" fill="#1777E5"/>
                                            </svg>                                        
                                    </div>
                                    <p class="text">“Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.”</p>
                                </div>
                                <div class="client-info">
                                    <img src="./image/l-1/client-1.png" alt="client">
                                    <div class="client-info__wrapper">
                                        <h6 class="name">Jone Deo</h6>
                                        <p class="text">Founder of <span class=" fw-600">Media</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-slider">
                            <div class="dev-testimonial-card">
                                <div class="content">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.73624 18.855C4.70003 18.855 1.96973 16.0423 1.96973 11.8747C1.96973 8.12439 5.10185 5 9.34412 5C13.9908 5 17.4243 8.7503 17.4243 14.4788C17.4243 27.4992 7.93003 32.7074 1.96973 33.3333V27.6048C6.01109 26.8759 10.5547 22.8139 10.7582 18.3321C10.5547 18.4352 9.74851 18.855 8.73624 18.855Z" fill="#1777E5"/>
                                            <path d="M29.3427 18.855C25.3039 18.855 22.5762 16.0423 22.5762 11.8747C22.5762 8.12439 25.7083 5 29.9506 5C34.5972 5 38.0307 8.7503 38.0307 14.4788C38.0307 27.4992 28.5365 32.7074 22.5762 33.3333V27.6048C26.6175 26.8759 31.1612 22.8139 31.3647 18.3321C31.1612 18.4352 30.355 18.855 29.3427 18.855Z" fill="#1777E5"/>
                                            </svg>                                        
                                    </div>
                                    <p class="text">“Great Designer, does great work and is very flexible with change. if you’re a programmer and are looking for UI/UX designer is definitely well qualified for the job.”</p>
                                </div>
                                <div class="client-info">
                                    <img src="./image/l-1/client-1.png" alt="client">
                                    <div class="client-info__wrapper">
                                        <h6 class="name">Williamson Cameron</h6>
                                        <p class="text">Founder of <span class=" fw-600">ThemBuk</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev-testimonial-slider__control-buttons">
                        <button class="button button--prev"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.25 12H3.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.5 5.25L3.75 12L10.5 18.75" stroke="#132238" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </button>
                        <button class="button button--next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12 mt-5 mt-lg-0">
                <div class="dev-testimonial-area__image">
                    <img src="./image/l-1/me-2.png" alt="me">
                    <div class="video-button">
                        <a data-fancybox class="d-video-btn sonar-emitter" href="https://www.youtube.com/watch?v=G5RpJwCJDqc&ab_channel=8KWorld">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.3844 11.3624L7.89375 3.11241C7.78018 3.04235 7.64998 3.00387 7.51658 3.00092C7.38318 2.99797 7.25141 3.03066 7.13486 3.09562C7.0183 3.16059 6.92119 3.25547 6.85354 3.37048C6.78589 3.48549 6.75015 3.61647 6.75 3.74991V20.2499C6.75015 20.3833 6.78589 20.5143 6.85354 20.6293C6.92119 20.7443 7.0183 20.8392 7.13486 20.9042C7.25141 20.9692 7.38318 21.0018 7.51658 20.9989C7.64998 20.9959 7.78018 20.9575 7.89375 20.8874L21.3844 12.6374C21.4952 12.5719 21.5869 12.4787 21.6507 12.3669C21.7145 12.2551 21.748 12.1286 21.748 11.9999C21.748 11.8712 21.7145 11.7447 21.6507 11.6329C21.5869 11.5212 21.4952 11.4279 21.3844 11.3624V11.3624Z"
                                    fill="#1777E5" stroke="#1777E5" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
