.article-banner-area{
    height: 76vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 525px) {
        width: 100%;
        height: 280px;
    }
}
